// Accordian
.acd_wrap {
  .acd_item {
    .acd_head {
      button {
        padding: 20px 10px;
        font-size: 16px;
        background-color: #fff;
      }
    }
    .acd_cont {
      display: none;
      padding: 20px 0;
      background-color: #fff;

      button {
        margin-top: 10px;
      }
    }
  }

  > .acd_item {
    > .acd_head {
      button {
        background-color: skyblue;
      }
    }
    >.acd_cont {
      background-color: #d4d4d4;
    }
  }
}