// Accordiaon

// default
.acd_item {
	.acd_cont {
		.inner {
			display: none;
		}
	}
}


/** Accordion **/

// default
.acd_item {
	&.acd_item_ty1 {
		border-radius: var(--radius-large2);
		border: 1px solid var(--color-border-gray-light);
		.acd_head {
			position: relative;
			padding: 24px 56px 24px 20px;

			.acd_btn {
				position: absolute;
				top: 50%;
				right: 20px;
				width: 24px;
				height: 24px;
				font-size: 0;
				transition: all 0.3s;
				transform: translateY(-50%);
				
				&::before {
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					width: 30px;
					height: 30px;
					margin: -15px 0 0 -15px;
					background: transparent;
				}
				&::after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: #fff url(../images/icon/arrowDown_ty3.svg) no-repeat center / 24px auto;
					transition: all 0.3s;
				}
			}
			&.active {
				.acd_btn {
					&::after {
						transform: rotate(180deg);
					}
				}
				+ .acd_cont {
					padding-top: 20px;
					padding-bottom: 20px;
					&::before {
						opacity: 1;
					}
				}
			}
		}

		.acd_cont {
			position: relative;
			padding: 0 20px;
			transition: all 0.3s;
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 20px;
				width: calc(100% - 40px);
				border-bottom: 1px solid var(--color-divider-gray-light);
				opacity: 0;
				transition: all 0.3s;
			}
		}

	}

	&.acd_item_ty2 {
		border-radius: var(--radius-large2);
		border: 1px solid var(--color-border-gray-light);

		.acd_head {
			position: relative;
			padding: 24px 20px;

			.acd_btn {
				position: relative;
				width: 100%;
				padding: 0 24px 0 0;
				background-color: transparent;
				font-weight: 700;
				font-size: var(--font-size-heading-small);

				&:after {
					position: absolute;
					top:4px;
					right:0;
					content: '';
					width: 24px;
					height: 24px;
					background: url(../images/icon/arrowDown_ty3.svg) no-repeat center /24px auto;
					box-sizing: border-box;
					transition: all 0.3s;
				}

				&[aria-expanded="true"] {
					&:after {
						transform: rotate(180deg);
					}
				}
			}
			&:active {
				background: var(--color-action-secondary-pressed);
				border-radius: var(--radius-large2);
			}
			&.active {
				& + .acd_cont {
					padding: 24px 20px;
					&::before {
						opacity: 1;
					}
				}
			}
		}

		.acd_cont {
			position: relative;			
			transition: all 0.3s;
			padding: 0 20px;
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 20px;
				width: calc(100% - 40px);
				border-bottom: 1px solid var(--color-divider-gray-light);
				opacity: 0;
				transition: all 0.3s;
			}

			.detail_list_btn {
				font-size: var(--font-size-label-medium);
				background: url(../images/icon/arrowRight_disabled.svg) no-repeat right center /20px auto;
				cursor: pointer;				
			}


			.inp_checkbox {
				// label > span{
				// 	background: url(../images/icon/arrowRight_disabled.svg) no-repeat right top /20px auto;
				// }

				// .sub_txt_area {
				// 	display: flex;
				// 	gap: 8px;
				// 	line-height: 28px;
				// 	padding-top: 4px;
				// 	color: var(--color-text-subtle);
				// 	font-size: var(--font-size-label-small);
					
				// 	& > .hd_badge {
				// 		line-height: 20px;
				// 	}
				// }

				// .price_btn {
				// 	height: 100%;
				// 	color: var(--color-text-primary);
				// 	font-size: var(--font-size-button-large);
				// 	position: relative;
				// 	background: url(../images/icon/arrowRight_ty6.svg) no-repeat right center /20px auto;
				// 	padding-right: 19px;

				// 	&:hover {
				// 		background-color: var(--color-button-text-fill-hover);
				// 	}
				// }
			}

			// .inp_checkbox + .inp_checkbox {
			// 	margin-top: 20px;		
			// }

			* + .inp_checkbox {
				margin-top: 20px;		
			}

		}
	}

	.sub_txt_area {
		display: flex;
		gap: 8px;
		line-height: 28px;
		padding-top: 4px;
		color: var(--color-text-subtle);
		font-size: var(--font-size-label-small);
		
		& > .hd_badge {
			line-height: 20px;
		}
	}
	&.acd_item_ty3 {
		.acd_head {
			position: relative;
			border-bottom: 1px solid var(--color-divider-gray-light);
			.acd_btn {
				position: relative;
				width: 100%;
				padding: 12px 24px 12px 0;
				background-color: #fff;
				font-weight: 700;
				font-size: var(--font-size-heading-small);
				
				&::before {
					content: '';
					position: absolute;
					top: 50%;
					right: 0;
					width: 30px;
					height: 30px;
					background: transparent url(../images/icon/arrowDown_ty3.svg) no-repeat center / 24px auto;
					transition: all 0.3s;
					transform: translateY(-50%);
				}
				&:active {
					background: var(--color-action-secondary-pressed);
				}
			}
			&.active {
				border: none;
				.acd_btn {
					&::after {
						transform: rotate(180deg);
					}
				}
				& + .acd_cont {
					border-top: 1px solid var(--color-divider-gray-darker);
					&::before {
						opacity: 1;
					}
				}
			}
		}
		.acd_cont {
			position: relative;
			padding: 20px 0;
			transition: all 0.3s;
		}

	}
}



/** Accordion - info box 타입 **/

.acd_info_box {
	margin: 0 -24px;
      
	.acd_item {
		background-color: var(--color-surface-gray-subtler);
	}
	.acd_head {
		min-height: 64px;
		padding: var(--padding-6) var(--padding-7);
		font-size: var(--font-size-heading-xsmall);
		line-height: 32px;

		.acd_btn {
			position: relative;
			width: 100%;
			padding: 0 24px;
			background: url(../images/icon/point_circle.svg) no-repeat left 50% /20px auto;

			&:after {
				position: absolute;
				top:4px;
				right:0;
				content: '';
				width: 24px;
				height: 24px;
				background: url(../images/icon/arrowDown_ty3.svg) no-repeat center /24px auto;
				box-sizing: border-box;
			}

			&[aria-expanded="true"] {
				&:after {
					transform: rotate(180deg);
				}
			}
		}
	}
	.acd_cont {

			.inner {
				display:none;
				padding: 0 24px 20px;
			}

		&[aria-expanded="true"] {
			&:after {
				transform: rotate(180deg);
			}
		}
	}
}