// 약관
.chk_group_wrap {
	padding: 24px 20px;
	border-radius: 16px;
	border: 1px solid #E1E3EA;
	.chk_group_top {
		padding-bottom: 21px;
		border-bottom: 1px solid #000;
	}
	.chk_group_cont {
		padding-top: 20px;
	}
	.chk_group_cont_list {
		> li {
			+ li {
				margin-top: 32px;
			}
		}
	}
}
