/* Banner */

// 버튼형
.bann_text_wrap_ty1 {
	display: block;
	padding: 24px 20px 24px 99px;
	background: #FFF9F1 url(../../images/icon/img_bann_car.png) no-repeat 20px center / auto 52px;
	border-radius: 32px;

	.text {
		font-size: 14px;
		line-height: 21px;
		font-weight: 500;
		color: #2B3541;

		> * {
			display: block;
		}

		.point {
			font-size: 16px;
			line-height: 24px;
			font-weight: 600;
			color: #D82600;
		}
	}
}