/* Banner */

// 버튼형
.bann_text_wrap_ty1 {
	display: block;
	padding: 24px 20px 24px 99px;
	background: #fff9f1 url(../images/icon/img_bann_car.png) no-repeat 20px center / auto 52px;
	border-radius: 32px;

	.text {
		font-size: var(--font-size-heading-xxsmall);
		line-height: 150%;
		font-weight: 500;
		color: #2b3541;

		> * {
			display: block;
		}

		.point {
			font-size: 16px;
			line-height: 24px;
			font-weight: 600;
			color: #d82600;
		}
	}

	& + .list_top_wrap {
		margin-top: 52px;
	}
}

.bann_text_wrap_ty2 {
	display: block;
	padding: 24px 20px 24px 99px;
	background: #fff9f1 url(../images/icon/img_bann_car.png) no-repeat 20px center / auto 52px;
	border-radius: 32px;

	.text {
		font-size: var(--font-size-heading-xxsmall);
		line-height: 150%;
		font-weight: 500;
		color: #2b3541;

		> * {
			display: block;
		}

		.point {
			font-size: 16px;
			line-height: 24px;
			font-weight: 600;
			color: #d82600;
		}
	}

	& + .list_top_wrap {
		margin-top: 52px;
	}
}
