/* Banner */

// 버튼형
.bann_text_wrap_ty1 {
	display: block;
	padding: 24px 20px;
	background-color: #fff9f1;	
	border-radius: 32px;

	.text {
		display: block;
		padding-left: 79px;
		font-size: var(--font-size-heading-xxsmall);
		line-height: 150%;
		font-weight: 500;
		color: #2b3541;
		background: url(../images/icon/img_bann_car.png) no-repeat left center / auto 52px;

		> * {
			display: block;
		}

		.point {
			font-size: 16px;
			line-height: 24px;
			font-weight: 600;
			color: #d82600;
		}
	}

	& + .list_top_wrap {
		margin-top: 52px;
	}
}

.bann_text_wrap_ty2 {
	display: block;
	padding: 24px 20px;	
	border-radius: 32px;
	background-color: #F4FFEA;

	.text {
		display: block;
		padding-left: 70px;
		font-size: var(--font-size-heading-xxsmall);
		line-height: 150%;
		font-weight: 500;
		color: #2b3541;
		background: url(../images/icon/banner/img_bann_firework.png) no-repeat left center / auto 58px;

		> * {
			display: block;
		}

		.point {
			font-size: 16px;
			line-height: 24px;
			font-weight: 600;
			color: #d82600;
		}
	}

	& + .list_top_wrap {
		margin-top: 52px;
	}
}
