.view_wrap {
	.view_title {
		padding-bottom: var(--gap-5);
		.title_info {
			margin-top: var(--gap-3);
			.sub_title {				
				color: var(--color-text-subtle);
				font-size: var(--font-size-body-small);
			}
			.main_title {
				margin-top: var(--gap-2);
				font-size: var(--font-size-heading-small);
				color: var(--color-text-bolder);
				font-weight: 700;
			}
			& + .desc {
				margin-top: var(--gap-3);
				font-size: var(--font-size-body-small);
				color: var(--color-text-information);
			}
		}
	}
	.view_cont {
		padding-top: var(--gap-5);
		font-size: var(--font-size-body-medium);
		border-top: 1px solid var(--color-divider-gray-light);
	}
}