/**********************
* Button 
**********************/

//btn_area
.btn_area {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	flex-wrap: wrap;

	& ~ .btn_area {
		margin-top: 16px;
	}

	> * {
		flex: 1;

		&.full {
			flex-basis: 100%;
		}
	}

	&.column {
		flex-direction: column;
		.hd_btn {
			flex-basis: auto;
		}
	}

	&.basic {
		justify-content: flex-start;
		align-items: center;

		> * {
			flex: 0 1 auto;
		}
	}

	&.between {
		align-items: center;

		> * {
			flex: 0 1 auto;
		}
	}

	&.ty2 {
		.hd_btn {
			flex-basis: calc(50% - 10px);

			&.full {
				flex-basis: 100%;
			}
		}
	}

	&.ty3 {
		.hd_btn {
			flex-basis: calc(33.3% - 10px);

			&.full {
				flex-basis: 100%;
			}
		}
	}
}

//버튼 스타일 정의
.hd_btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
	line-height:initial;

	svg {
		fill: #ffffff;
		stroke: #ffffff;
	}
}

/**
 *  Button Type - ty_1(default), ty_2(secondary), ty_3(tertiary)
 */

.hd_btn {
	&_ty_1 {
		border-radius: var(--radius-medium4);
		background-color: var(--color-button-primary-fill);
		color: #fff;
		border: 0;

		&:hover {
			background-color: var(--color-button-primary-fill-hover);
		}
		&:active {
			background-color: var(--color-button-primary-fill-pressed);
		}
	}
	&_ty_2 {
		background-color: var(--color-button-secondary-fill);
		border: 1px solid var(--color-button-secondary-border);
		color: var(--color-text-primary);

		&:hover {
			background-color: var(--color-button-secondary-fill-hover);
			color: var(--color-text-primary);
		}
		&:active {
			background-color: var(--color-button-secondary-fill-pressed);
			border: 1px solid var(--color-text-primary);
		}
	}
	&_ty_3 {
		color: var(--color-text-basic);
		border: 1px solid var(--color-button-tertiary-border);
		background: var(--color-button-tertiary-fill);

		&:hover {
			border: 1px solid var(--color-button-tertiary-border);
			background: var(--color-button-tertiary-fill-hover);
		}
		&:active {
			border: 1px solid var(--color-button-tertiary-border);
			background: var(--color-button-tertiary-fill-pressed);
		}
	}

	&:disabled {
		background-color: var(--color-button-disabled-fill);
		color: var(--color-text-disabled-on);
		border: 0;
	}
}

/**
  * Button Size - s_1(CTA&primary) s_2(lg) s_3(md), s_4(sm), s_5(xs)
  */

.hd_btn {
	&_s_1 {
		//CTA&primary
		min-width: 98px;
		height: var(--button-size-cta);
		padding: 0px var(--padding-8);
		border-radius: var(--radius-medium4);
		font-size: var(--font-size-button-cta-bold);
		// line-height: 150%;
		font-weight: 700;

		.hd_icon {
			width: 24px;
			height: 24px;
		}
	}
	&_s_2 {
		//lg
		min-width: 90px;
		height: var(--button-size-large);
		padding: 0 var(--padding-7);
		border-radius: var(--radius-medium2);
		font-size: var(--font-size-button-large-bold);
		// line-height: 150%;
		font-weight: 700;

		.hd_icon {
			width: 24px;
			height: 24px;
		}
	}
	&_s_3 {
		//md
		min-width: 78px;
		height: var(--button-size-medium);
		padding: 0 var(--padding-6);
		border-radius: var(--radius-medium2);
		font-size: var(--font-size-button-medium-bold);
		line-height: 150%;
		font-weight: 700;

		.hd_icon {
			width: 16px;
			height: 16px;
		}
	}
	&_s_4 {
		//sm
		min-width: 64px;
		height: var(--button-size-small);
		padding: 0 var(--padding-5);
		border-radius: var(--radius-medium1);
		font-size: var(--font-size-button-small-bold);
		// line-height: 150%;
		font-weight: 700;

		.hd_icon {
			width: 16px;
			height: 16px;
		}
	}
	&_s_5 {
		//xs
		min-width: 48px;
		height: var(--button-size-xsmall);
		padding: 0 var(--padding-4);
		border-radius: var(--radius-small3);
		font-size: var(--font-size-button-xsmall-bold);
		// line-height: 150%;
		font-weight: 700;

		.hd_icon {
			width: 16px;
			height: 16px;
		}
	}

	//예외
	&_ty_3 {
		font-weight: 400;

		&.hd_btn_s_3 {
			font-size: var(--font-size-button-medium)
		}
	}
}

/**
  * Link Button(링크버튼)
  */
.btn_link {
	width:fit-content;
	background-color: var(--color-button-text-fill);
	color: var(--color-text-basic);
	border: 0;
	padding: 0px 2px;

	span.text {
		cursor: pointer;
		position: relative;
	}

	//기본사이즈
	border-radius: var(--radius-medium1);
	font-size: var(--font-size-button-large);
	font-weight: 400;
	line-height: 150%;

	&.btn_link_s_1 {
		border-radius: var(--radius-medium1);
		font-size: var(--font-size-button-large);
		font-weight: 400;
		line-height: 150%;
	}
	&.btn_link_s_2 {
		border-radius: var(--radius-small3);
		font-size: var(--font-size-button-medium);
		font-weight: 400;
		line-height: 150%;
	}
	&.btn_link_s_3 {
		border-radius: var(--radius-small2);
		font-size: var(--font-size-button-small);
		font-weight: 400;
		line-height: 150%;
	}
	&.btn_link_s_4 {
		border-radius: var(--radius-small1);
		font-size: var(--font-size-button-small);
		font-weight: 400;
		line-height: 150%;
	}
	
	// 단순 문구형 버튼 정의
	&.short_cut {
		display: inline-block;
		padding-right: 16px;
		font-size: var(--font-size-button-medium);
		line-height: 21px;
		background: url(../images/icon/arrowRight_ty3.svg) no-repeat right center / 16px auto;
			
		&.sm {
			font-size: var(--font-size-button-small);
			line-height: 18px;
		}
	}

	&:hover {
		background-color: var(--color-button-text-fill-hover);
		border-radius: var(--radius-xxsamll);
	}
	&:active {
		background-color: var(--color-button-text-fill-pressed);
		border-radius: var(--radius-xxsamll);
	}

	&:disabled {
		background: var(--color-button-text-fill);
		color: var(--color-text-disabled);
	}
}

// selectbox btn
.btn_select {
	flex-shrink: 1;
	background-color: #fff;
	border: 1px solid #000;

	&[aria-disabled="true"] {
		background-color: gray;
		color: #fff;
	}

		display: flex;
		align-items: center;
		position: relative;
		width: 100%;
		height: 48px;
		padding: 16px;
		padding-right: 40px;
		font-size: 16px;
		line-height: 24px;
		
		appearance: none;
		box-sizing: border-box;
		border-radius: 16px;
		border: 1px solid #ddd;

		&:after {
			content: "";
			position: absolute;
			top: 50%;
			right: 16px;
			width: 12px;
			height: 12px;
			background: url(../images/icon/arrowDown_ty2_2.svg) no-repeat center/contain;
			transform: translateY(-50%);
		}

	&.active {
		> span {
			&:after {
				content: "선택됨";
				position: absolute;
				width: 0;
				height: 0;
				font-size: 0;
			}
		}
	}
}

// icon button
.btn {
	position: relative;
	&.calendar_call {
		width: 44px;
		height: 50px;
		padding: 0;
		background: url(../images/icon/calendar.svg) no-repeat center right 16px;
		font-size: 0;
		line-height: 0;
		border: none;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: calc(100% + 14px);
			height: calc(100% + 14px);
			margin-top: -7px;
		}
	}
	// btn btn_search
	&.btn_search {
		width: 24px;
		height: 24px;
		padding: 0;
		background: url(../images/icon/icon_search_ty2.svg) no-repeat center;
		font-size: 0;
		line-height: 0;
		border: none;
	}
}

.infoButton {
	width: 24px;
	height: 24px;
	position: relative;

	.hd_icon {
		width: 18px;
		height: 18px;
		cursor: pointer;
		position: relative;
		top:50%;
		left:50%;
		transform: translateX(-50%) translateY(-50%);
	}

	background-color: #ffffff;
	color: #1e2124;
	// border: 0;

	span.text {
		cursor: pointer;
		position: relative;
	}
}



/* 기타 Case */

// floating btn
.fixed_link_wrap{
	position: fixed;
	right: 24px;
	bottom: 52px;
	z-index: 10;
	max-width: calc(100% - 48px);

	.inner {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
	}

	.link_btn_box {
		display: flex;

		.btn_current {
			width: 56px;
			height: 56px;
			padding: 10px 0;
			background-color: var(--color-border-gray-darker);
			font-size: var(--font-size-body-xsmall);
			line-height: 18px;
			color: #FFF;
			text-align: center;
			border-radius: 16px;
			box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.05), 0 4px 8px 0 rgba(0, 0, 0, 0.08);
	
			> span {
				font-size: 16px;
				font-weight: 700;
			}
		}

		.link_close {
			width: 24px;
			height: 24px;
			margin-top: -12px;
			background: url(../images/icon/icon_close.svg) no-repeat center / 24px auto;
		}
	}
	
	.current_state {
		position: relative;
		z-index: -1;
		// display: none;
		margin-right: -30px;
		padding: 7px 60px 7px 8px;
		background-color: var(--color-graphic-blue-darker);
		box-shadow:
			0px 0px 2px 0px var(--color-alpha-shadow2, rgba(0, 0, 0, 0.08)),
			0px var(--shadow-y-4, 16px) var(--shadow-blur-4, 24px) 0px var(--color-alpha-shadow3, rgba(0, 0, 0, 0.12));
		border-radius: 150px 0 0 150px;
		opacity: 0;
		transform-origin: right;
		transform: translateX(24px) scale(0);
		transition: transform .5s ease-in-out, opacity .5s ease-in-out;

		&.effect {
			width:100%;
			transform: translateX(0) scale(100%);
			opacity: 1;
		}

		.link_icon {
			width: 24px;
			height: 24px;
			background: url(../images/icon/icon_car.svg) no-repeat center/ 24px auto;
			border-radius: 40px;
			flex-shrink: 0;
		}

		.cont {
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			gap: 8px;

			color: #ffffff;
			font-size: var(--font-size-body-small);
			line-height: 21px;
			letter-spacing: var(--typo-letter-spacing-0);
			strong {
				font-weight: 700;
			}
		}
	}
}