/**********************
* Button 
**********************/

//btn_area
.btn_area {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	flex-wrap: wrap;

	& ~ .btn_area {
		margin-top: 16px;
	}

	> * {
		flex: 1;

		&.full {
			flex-basis: 100%;
		}
	}

	&.column {
		flex-direction: column;
		.hd_btn {
			flex-basis: auto;
		}
	}

	&.ty1 {
		.hd_btn {
			flex-basis: calc(50% - 10px);

			&.full {
				flex-basis: 100%;
			}
		}
	}

	&.ty2 {
		.hd_btn {
			flex-basis: calc(33.3% - 10px);

			&.full {
				flex-basis: 100%;
			}
		}
	}
}

.btn_area:has(.hd_btn, .btn_link) {
	justify-content: start;
}

//버튼 스타일 정의
.hd_btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 4px;

	svg {
		fill: #ffffff;
		stroke: #ffffff;
	}
}

/**
 *  Button Type - ty_1(default), ty_2(secondary), ty_3(tertiary)
 */

.hd_btn {
	&_ty_1 {
		border-radius: var(--radius-medium4);
		background-color: var(--color-button-primary-fill);
		color: #fff;
		border: 0;

		&:hover {
			background-color: var(--color-button-primary-fill-hover);
		}
		&:active {
			background-color: var(--color-button-primary-fill-pressed);
		}
	}
	&_ty_2 {
		background-color: var(--color-button-secondary-fill);
		border: 1px solid var(--color-button-secondary-border);
		color: var(--color-text-primary);

		&:hover {
			background-color: var(--color-button-secondary-fill-hover);
			color: var(--color-text-primary);
		}
		&:active {
			background-color: var(--color-button-secondary-fill-pressed);
			border: 1px solid var(--color-text-primary);
		}
	}
	&_ty_3 {
		color: var(--color-text-basic);
		border: 1px solid var(--color-button-tertiary-border);
		background: var(--color-button-tertiary-fill);

		&:hover {
			border: 1px solid var(--color-button-tertiary-border);
			background: var(--color-button-tertiary-fill-hover);
		}
		&:active {
			border: 1px solid var(--color-button-tertiary-border);
			background: var(--color-button-tertiary-fill-pressed);
		}
	}

	&:disabled {
		background-color: var(--color-button-disabled-fill);
		color: var(--color-text-disabled-on);
		border: 0;
	}
}

/**
  * Button Size - s_1(CTA&primary) s_2(lg) s_3(md), s_4(sm), s_5(xs)
  */

.hd_btn {
	&_s_1 {
		//CTA&primary
		min-width: 98px;
		height: var(--button-size-cta);
		padding: 0px var(--padding-8);
		border-radius: var(--radius-medium4);
		font-size: var(--font-size-button-cta-bold);
		// line-height: 150%;
		font-weight: 700;

		.hd_icon {
			width: 24px;
			height: 24px;
		}
	}
	&_s_2 {
		//lg
		min-width: 90px;
		height: var(--button-size-large);
		padding: 0 var(--padding-7);
		border-radius: var(--radius-medium2);
		font-size: var(--font-size-button-large-bold);
		// line-height: 150%;
		font-weight: 700;

		.hd_icon {
			width: 24px;
			height: 24px;
		}
	}
	&_s_3 {
		//md
		min-width: 78px;
		height: var(--button-size-medium);
		padding: 0 var(--padding-6);
		border-radius: var(--radius-medium2);
		font-size: var(--font-size-button-medium-bold);
		line-height: 150%;
		font-weight: 700;

		.hd_icon {
			width: 16px;
			height: 16px;
		}
	}
	&_s_4 {
		//sm
		min-width: 64px;
		height: var(--button-size-small);
		padding: 0 var(--padding-5);
		border-radius: var(--radius-medium1);
		font-size: var(--font-size-button-small-bold);
		// line-height: 150%;
		font-weight: 700;

		.hd_icon {
			width: 16px;
			height: 16px;
		}
	}
	&_s_5 {
		//xs
		min-width: 48px;
		height: var(--button-size-xsmall);
		padding: 0 var(--padding-4);
		border-radius: var(--radius-small3);
		font-size: var(--font-size-button-xsmall-bold);
		// line-height: 150%;
		font-weight: 700;

		.hd_icon {
			width: 16px;
			height: 16px;
		}
	}

	//예외
	&_ty_3 {
		font-weight: 400;

		&.hd_btn_s_3 {
			font-size: var(--font-size-button-medium)
		}
	}
}

/**
  * Link Button(링크버튼)
  */
.btn_link {
	width:fit-content;
	background-color: var(--color-button-text-fill);
	color: var(--color-text-basic);
	border: 0;
	padding: 0px 2px;

	span.text {
		cursor: pointer;
		position: relative;
	}

	//기본사이즈
	border-radius: var(--radius-medium1);
	font-size: var(--font-size-button-large);
	font-weight: 400;
	line-height: 150%;

	&.btn_link_s_1 {
		border-radius: var(--radius-medium1);
		font-size: var(--font-size-button-large);
		font-weight: 400;
		line-height: 150%;
	}
	&.btn_link_s_2 {
		border-radius: var(--radius-small3);
		font-size: var(--font-size-button-medium);
		font-weight: 400;
		line-height: 150%;
	}
	&.btn_link_s_3 {
		border-radius: var(--radius-small2);
		font-size: var(--font-size-button-small);
		font-weight: 400;
		line-height: 150%;
	}
	&.btn_link_s_4 {
		border-radius: var(--radius-small1);
		font-size: var(--font-size-button-small);
		font-weight: 400;
		line-height: 150%;
	}

	&:hover {
		background-color: var(--color-button-text-fill-hover);
		border-radius: var(--radius-xxsamll);
	}
	&:active {
		background-color: var(--color-button-text-fill-pressed);
		border-radius: var(--radius-xxsamll);
	}

	&:disabled {
		background: var(--color-button-text-fill);
		color: var(--color-text-disabled);
	}
}

// selectbox btn
.btn_select {
	background-color: #fff;
	border: 1px solid #000;

	&[aria-disabled="true"] {
		background-color: gray;
		color: #fff;
	}
		display: flex;
		align-items: center;
		position: relative;
		width: 100%;
		height: 48px;
		padding: 16px;
		font-size: 16px;
		line-height: 24px;
		appearance: none;
		box-sizing: border-box;
		border-radius: 16px;
		border: 1px solid #ddd;

	&.active {
		> span {
			display:block;
			height:inherit;
			&:after {
				content: "선택됨";
				position: absolute;
				width: 0;
				height: 0;
				font-size: 0;
			}
		}
	}
}

// icon button
.btn {
	&.calendar_call {
		width: 24px;
		height: 24px;
		padding: 0;
		background: url(../images/icon/calendar.svg) no-repeat center;
		font-size: 0;
		line-height: 0;
		border: none;
	}
	// btn inp_search
	&.inp_search {
		width: 24px;
		height: 24px;
		padding: 0;
		background: url(../images/icon/icon_search.svg) no-repeat center;
		font-size: 0;
		line-height: 0;
		border: none;
	}
}

.infoButton {
	width: 18px;
	height: 18px;
	position: relative;

	.hd_icon {
		width: 18px;
		height: 18px;
		cursor: pointer;
		position: relative;
	}

	background-color: #ffffff;
	color: #1e2124;
	// border: 0;

	span.text {
		cursor: pointer;
		position: relative;
	}
}

/* 기타 Case */

// floating btn
.link_btn_box {
	margin: 0 16px 24px;
	padding: 12px 14px 12px 12px;
	background-color: #2b3541;
	box-shadow:
		0px 0px 2px 0px var(--color-alpha-shadow2, rgba(0, 0, 0, 0.08)),
		0px var(--shadow-y-4, 16px) var(--shadow-blur-4, 24px) 0px var(--color-alpha-shadow3, rgba(0, 0, 0, 0.12));
	border-radius: 150px;

	a {
		display: block;
		width: 100%;
	}

	.link_icon {
		width: 24px;
		height: 24px;
		background: #455c78 url(../images/icon/img_car.png) no-repeat center/ 18px auto;
		border-radius: 40px;
		flex-shrink: 0;
	}

	.link_inner {
		width: inherit;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 8px;
		color: #fff;

		.cont {
			min-width: 50px;
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			gap: 8px;

			color: #ffffff;
			font-size: var(--font-size-body-small);
			line-height: 150%;
			letter-spacing: var(--typo-letter-spacing-0);
			strong {
				font-weight: 700;
			}
		}
	}

	//바로가기
	.forward_button {
		width: fit-content;
		display: flex;
		align-items: center;
		flex-shrink: 0;

		font-size: var(--font-size-button-small);
		font-style: normal;
		font-weight: 400;
		line-height: 150%;

		span {
			display: inline-block;
			line-height: 0;
			.hd_icon {
				width: 16px;
				height: 16px;
			}
		}
	}
}
