/* Card*/
.card_item_wrap {

	& + & {
		margin-top: 16px;
	}
	
	.card_item {
		position: relative;
		padding: var(--padding-card-large);
		border: 1px solid var(--color-border-gray-light);
		border-radius: 24px;
		background: rgba(255, 255, 255, 0.9);
		backdrop-filter: blur(8px);

		& ~ .card_item {
			margin-top: 16px;

			&.non_chk {
				margin-top: 52px;
			}
		}

		.item_inner {
			display: flex;
			align-items: flex-start;

			.inner_cont {
				flex: 1;

				.card_link,
				.item_top {
					& + .card_list_ty1 {
						margin-top: 16px;
						padding-top: 16px;
						border-top: 1px solid #e1e3ea;
					}
				}
			}

			.inp_checkbox {
				position: static;
				width: 28px;
				
				.chk_label {
					padding-left: 28px;
				}
				input:checked{
					& ~ i {
						position: absolute;
						top: -1px;
						left: -1px;
						z-index: -1;
						width: calc(100% + 2px);
						height: calc(100% + 2px);
						border: 2px solid #F8633C;
						border-radius: 24px;
					}
				}
			}
		}

		.card_link {
			.item_top {
				.title_info {
					padding-right: 24px;
					background: url(../images/icon/arrowRight_ty3.svg) no-repeat right bottom / 24px auto;
				}
			}
		}

		// card 상단영역
		.item_top {
			display: flex;
			flex-direction: column;

			.badge_wrap {
				& + .title_info {
					margin-top: 4px;
				}
			}

			.title_info {
				display: flex;
				flex-direction: column;
				gap: 4px;

				.sub_title {				
					color: var(--color-text-subtle);
					font-size: var(--font-size-body-small);
					line-height: 150%; 

					& + .cont {
						margin-top: 4px;
					}
				}
				.main_title {
					font-size: var(--font-size-heading-small);
					line-height: 27px;
					font-weight: 700;
					color: var(--color-text-bolder);
				}
				& + .desc {
					margin-top: 8px;
					font-size: var(--font-size-body-small);
					color: var(--color-text-information);
				}
			}
			.text {
				font-size: var(--font-size-label-large);
				line-height: 24px;

				& + .desc {
					margin-top: 4px;
				}
			}
			.desc {
				font-size: 14px;
				line-height: 21px;
				color: #58616A;
			}

			& + .card_list_ty1 {
				margin-top: 16px;
				padding-top: 16px;
				border-top: 1px solid #e1e3ea;
			}
		}

		ul > li > div.cont {
			.hd_badge {
				height: 20px !important;
			}
			.car_logo {
				margin-left: 4px;
			}

			.text_body_large {
				font-size: var(--font-size-body-large);
				line-height: 150%;
			}
		}

		// card list type
		@mixin car-list-style(
			// $ul-padding: 0,
			// $ul-margin: 0,
			$ul-border-radius: 0,
			$li-padding: 0,
			$li-margin: 0,
			$li-font-size: 16px,
			$li-line-height: 20px,
			$li-color: inherit
		) {
			// padding: $ul-padding;
			// margin: $ul-margin;
			border-radius: $ul-border-radius;
			> li {
				position: relative;
				margin: $li-margin;
				padding: $li-padding;
				font-size: $li-font-size;
				line-height: $li-line-height;
				color: $li-color;
			}
			@content;
		}

		.card_list_ty1 {
			@include car-list-style($ul-border-radius: 0, $li-padding: 0 0 12px, $li-font-size: var(--font-size-body-small)) {
				// ul.list-2에 대한 추가적인 스타일
				// background-color: var(--color-primary);
				> li {
					display: flex;
					align-items: flex-start;
					justify-content: space-between;
					gap: 8px;
					&:last-child {
						padding-bottom: 0;
					}
				}
			}

			> li {
				> * {
					&:first-child {
						flex: 1 1 0;
						// min-width: 100px;
						max-width: 50%;
						color: var(--color-text-subtle);
					}
					&:last-child {
						text-align: right;
						color: #000;
					}
				}

				&.result {
					padding-top: 16px;
					border-top: 1px solid #e1e3ea;
					> * {
						line-height: 24px;
					}
					.point {
						font-size: 16px;
						line-height: 24px;
					}
				}
			}
		}

		.btn_area {
			margin-top: 16px;

			.hd_btn {
				border-radius: 16px;
				font-weight: 700;
			}
		}
	}

	& + .inp_checkbox {
		margin-top: 32px;
	}
}


/* Card - information Type*/
.card_item_wrap.info_type { 

	.card_item {
		border: 1px solid var(--color-border-gray-light);
		background: var(--color-surface-secondary-subtler);
	}

	.inp_checkbox input[type=checkbox] + .chk_label::before {
		background: #ffffff;
		border: 1px solid var(--color-border-gray-dark);
	}

	.inp_checkbox input[type=checkbox]:checked + .chk_label::before {
		background: #F8633C url(../images/icon/check_ty1.svg) no-repeat center / 12px auto;
		border-color: #F8633C;
	}

	.card_list_ty1 {

		li {
			.title {
				font-size: var(--font-size-body-small);
				color: var(--color-text-subtle);
			}
	
			.cont {
				font-size: var(--font-size-body-small);
				color: var(--color-text-basic);
			}

			&.result {
				padding-top: 16px;
				border-top: 1px solid var(--color-input-border-disabled);
				strong {
					font-size: var(--font-size-body-large);
				}
			}
		}
		
	}
	
}