/* Card*/
.card_item_wrap {
	.card_item {
		position: relative;
		padding: 32px 24px;
		border: 1px solid #e1e3ea;
		border-radius: 24px;
		background: rgba(255, 255, 255, 0.9);
		backdrop-filter: blur(8px);

		& ~ .card_item {
			margin-top: 16px;
		}

		.item_inner {
			display: flex;
			align-items: flex-start;
			gap:8px;

			.inner_cont {
				flex: 1;

				.card_link,
				.item_top {
					& + .card_list_ty1 {
						margin-top: 16px;
						padding-top: 16px;
						border-top: 1px solid #e1e3ea;
					}
				}
			}

			.inp_checkbox {
				input:checked{
					& ~ i {
						position: absolute;
						top: -1px;
						left: -1px;
						z-index: -1;
						width: calc(100% + 2px);
						height: calc(100% + 2px);
						border: 2px solid #F8633C;
						border-radius: 24px;
					}
				}
			}
		}

		.card_link {
			.item_top {
				.title_info {
					padding-right: 24px;
					background: url(../images/icon/arrowRight_ty3.svg) no-repeat right bottom / 24px auto;
				}
			}
		}

		// card 상단영역
		.item_top {
			display: flex;
			flex-direction: column;
			gap: 4px;

			.title_info {
				.title {
					font-size: 14px;
					line-height: 21px;
				}
				.cont {
					font-size: 16px;
					line-height: 24px;
					font-weight: 700;
				}
			}
			.desc {
				font-size: 14px;
				line-height: 21px;
				color: #58616A;
			}

			& + .card_list_ty1 {
				margin-top: 16px;
				padding-top: 16px;
				border-top: 1px solid #e1e3ea;
			}
		}

		ul > li > div.cont {

			p {
				display: flex;
				justify-content: end;

				& + p {margin-top:4px;}
			}
			.hd_badge {
				height: 20px !important;
			}
			.car_logo {
				margin-left: 4px;
			}
		}

		// card list type
		@mixin car-list-style(
			// $ul-padding: 0,
			// $ul-margin: 0,
			$ul-border-radius: 0,
			$li-padding: 0,
			$li-margin: 0,
			$li-font-size: 16px,
			$li-line-height: 20px,
			$li-color: inherit
		) {
			// padding: $ul-padding;
			// margin: $ul-margin;
			border-radius: $ul-border-radius;
			> li {
				position: relative;
				margin: $li-margin;
				padding: $li-padding;
				font-size: $li-font-size;
				line-height: $li-line-height;
				color: $li-color;
			}
			@content;
		}

		.card_list_ty1 {
			@include car-list-style($ul-border-radius: 0, $li-padding: 0 0 12px, $li-font-size: 14px, $li-color: #333) {
				// ul.list-2에 대한 추가적인 스타일
				// background-color: var(--color-primary);
				> li {
					display: flex;
					align-items: flex-start;
					justify-content: space-between;
					gap: 8px;
					&:last-child {
						padding-bottom: 0;
					}
				}
			}

			> li {
				> * {
					&:first-child {
						flex: 1 1 0;
						min-width: 100px;
						max-width: 50%;
					}
					&:last-child {
						text-align: right;
					}
				}

				&.result {
					padding-top: 16px;
					border-top: 1px solid #e1e3ea;
					> * {
						line-height: 24px;
					}
					.point {
						font-size: 16px;
						line-height: 24px;
					}
				}
			}
		}

		.btn_area {
			margin-top: 16px;

			.hd_btn {
				border-radius: 16px;
				font-weight: 700;
			}
		}
	}
}
