/* Card*/
.card_item_wrap {
	.card_item {
		padding: 32px 24px;
		border:1px solid #E1E3EA;
		border-radius: 24px;

		& ~ .card_item {
			margin-top: 16px;
		}

		> .card_link {
			.item_top {
				display: flex;
				flex-direction: column;
				gap: 4px;
				padding-right: 24px;
				background: url(../../images/icon/line/24/arrowRight_ty3.svg) no-repeat right bottom;
				
				.title {
					font-size: 14px;
					line-height: 21px;
				}
				.cont {
					font-size: 16px;
					line-height: 24px;
					font-weight: 700;
				}
			}
		}

		.item_top {
			& ~ * {
				margin-top: 16px;
				padding-top: 16px;
				border-top: 1px solid #E1E3EA;
			}
		}

		.btn_area {
			margin-top: 16px;
		}
	}
}