/* Checkbox */
.inp_checkbox {
	input[type='checkbox']{
		// overflow: hidden;
		position: absolute;
		width: 24px;
		height: 24px;
		// clip: rect(0,0,0,0);
		opacity: 0;
		
		& + label {
			position: relative;
			display: block;
			padding-left: 32px;

			> span {
				font-size: 14px;
				line-height: 24px;
				color: #3E4A58;
			}
			cursor: pointer;

			&::before {
				content:'';
				position: absolute;
				top: 0;
				left: 0;
				width: 24px;
				height: 24px;
				border: 1px solid #869099;
				border-radius: 8px;
			}
		}

		// &:focus {
		// 	+ label {
		// 		outline: 1px dashed gray;
		// 	}
		// }

		&:disabled {
			& + label {
				&::before {
					background-color: #F5F5F5;
					border-color: #F5F5F5;
				}

				> span {
					color: gray;
				} 
			}
		}

		&:checked {
			& + label {
				&::before {
					background: #F8633C url(../images/icon/line/24/check_ty1.svg) no-repeat center/ 12px auto;
					border-color: #F8633C;
				}
			}

			&:disabled {
				& + label {
					&::before {
						background-color: #F5F5F5;
						background-image: url(../images/icon/line/24/check_ty2.svg);
						border-color: #F5F5F5;
					}
				}
			}
		}


	}
}

.checkbox_group_wrap {
	display: inline-flex;
	flex-flow: row wrap;
	gap: 20px;

	&.column {
		flex-direction: column;
		gap: 10px;
	}
}