/* Checkbox */
.inp_checkbox {
	position: relative;
	input[type='checkbox']{
		// overflow: hidden;
		position: absolute;
		width: 24px;
		height: 24px;
		// clip: rect(0,0,0,0);
		opacity: 0;
		
		& + .chk_label {
			position: relative;
			display: block;
			padding-left: 32px;
			cursor: pointer;
			> .label_cont {
				display: block;
				font-size: var(--font-size-label-medium);
				line-height: 24px;
				color: var(--color-text-bolder);
				.badge_wrap {
					vertical-align: bottom;
				}
				.sub_g_txt {
					display: block;
					padding-top: 2px;
					font-size: var(--font-size-label-small);
					color: var(--color-text-subtle);
					line-height: 18px;
				}
			}

			&::before {
				content:'';
				position: absolute;
				top: 0;
				left: 0;
				width: 24px;
				height: 24px;
				border: 1px solid #869099;
				border-radius: 8px;
			}

			&.more_add {
				padding-right: 64px;
			}
			&.chk_label_ty2 {
				> .label_cont {
					font-weight: 700;
					font-size: var(--font-size-heading-small);
					line-height: 28px;
					color: #3E4A58;
				}
				&::before {
					top: 2px;
				}
			}
			&.chk_label_ty3 {
				padding-left: 24px;
				> .label_cont {
					font-size: var(--font-size-body-small);
					line-height: 20px;
				}
				&::before {
					width: 20px;
					height: 20px;
					border-radius: 0;
					border: none;
					background: url(../images/icon/check_ty3.svg) no-repeat center / 20px auto;
				}
			}
			
			&.switch_check {
				cursor: pointer;
				position: relative;
				padding-left: 40px;
				> .label_cont {
					line-height: 20px;
				}
				&::before {
					width: 32px;
					height: 20px;
					background: #6D7882;
					border: 1px solid #6D7882;
					border-radius: 12px;
				}
				&::after {
					content: "";
					position: absolute;
					top: 2px;
					left: 2px;
					display: inline-block;
					width: 16px;
					height: 16px;
					background: #fff url(../images/icon/toggle_close.svg) no-repeat center;
					background-size: 8px;
					border-radius: 50%;
					transition: left 250ms linear;
				}
				&.lg {
					padding-left: 48px;
					> .label_cont {
						font-size: var(--font-size-body-large);
						line-height: 24px;
					}
					&::before {
						width: 40px;
						height: 24px;
					}
					&::after {
						width: 20px;
						height: 20px;
						background-size: 10px;
					}
				}
			}
		}

		// &:focus {
		// 	+ label {
		// 		outline: 1px dashed gray;
		// 	}
		// }

		&:disabled {
			& + .chk_label {
				&::before {
					background-color: #F5F5F5;
					border-color: #F5F5F5;
				}

				> .label_cont {
					color: gray;
				}
				
				&.switch_check {
					&::before {
						background-color: #fff;
						border-color: #B1B8BE;
					}
					&::after {
						background-color: #E6E8EA;
					}
				}
			}
		}

		&:checked {
			& + .chk_label {
				&::before {
					background: #F8633C url(../images/icon/check_ty1.svg) no-repeat center/ 12px auto;
					border-color: #F8633C;
				}
				&.chk_label_ty3 {
					&::before {
						background: #fff url(../images/icon/check_ty4.svg) no-repeat center / 20px auto;
					}
				}
				&.switch_check {
					&::before {
						background: #F8633C;
					}
					&::after {
						content: '';
						left: 14px;
						background: #fff url(../../images/icon/toggle_open.svg) no-repeat center;
						background-size: 10px;
					}
					&.lg {
						&::after {
							left: 18px;
							background-size: 14px;
						}
					}
				}
			}

			&:disabled {
				& + .chk_label {
					&::before {
						background-color: #F5F5F5;
						border-color: #F5F5F5;
					}
					
					&.switch_check {
						&::before {
							background-color: #fff;
							border-color: #B1B8BE;
						}
						&::after {
							background-color: #E6E8EA;
							filter: grayscale(100%);
						}
					}
				}
			}
		}


	}

	.chk_lby {
		padding: 12px 0 0 32px;
	}
	.ag_more_btn {
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		height: 24px;
		padding-right: 16px;
		font-size: var(--font-size-button-small);
		line-height: 24px;
		background: url(../images/icon/arrowRight_ty4.svg) no-repeat right center / 16px auto;
	}


}

.checkbox_group_wrap {
	display: inline-flex;
	flex-flow: row wrap;
	gap: 20px;

	&.column {
		flex-direction: column;
		gap: 10px;
	}
}