/* 인증방법 선택 */
* + .cert_select_list {
	margin-top: 52px;
}
.cert_select_list {
	> li {
		+ li {
			margin-top: 16px;
		}
	}
	.cert_select_item {
		position: relative;
		display: block;
		padding: 23px 39px 23px 19px;
		border-radius: 16px;
		border: 1px solid #E1E3EA;
		background: url(../images/icon/arrowRight_ty3.svg) no-repeat right 19px center;

		> .text {
			position: relative;
			display: block;
			padding: 6px 0 6px 48px;
			font-size: var(--font-size-body-medium);
			color: var(--gray-8003-e-4-a-58);
			line-height: 24px;
			&::before {
				content: '';
				position: absolute;
				top: 50%;
				left: 0;
				width: 36px;
				height: 36px;
				border-radius: 12px;
				background-color: #F4F5F6;
				transform: translateY(-50%);
				background-repeat: no-repeat;
				background-position: center center;
			}
		}

		&.pin {
			> .text {
				&::before {
					background-image: url(../images/common/cert/icon_cert_pin.svg);
				}
			}
		}
		&.bio {
			> .text {
				&::before {
					background-image: url(../images/common/cert/icon_cert_bio.svg);	
				}
			}
		}
		&.phone {
			> .text {
				&::before {
					background-image: url(../images/common/cert/icon_cert_phone.svg);
				}
			}
		}
		&.kakao {
			> .text {
				&::before {
					background-image: url(../images/common/cert/icon_cert_kakao.svg);
				}
			}
		}
		&.common_cert {
			> .text {
				&::before {
					background-image: url(../images/common/cert/icon_cert_common_cert.svg);
				}
			}
		}
		&.fin_cert {
			> .text {
				&::before {
					background-image: url(../images/common/cert/icon_cert_fin_cert.svg);
				}
			}
		}


	}
}