@mixin blind {
	overflow: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(0, 0, 0, 0);
}

.blind {
	@include blind;
}


/* Common */

body {
	// overflow: hidden;
	color: #1E2124;
}

//강조 text
strong {
	font-weight: 700;
}

//text 강조색
.point {
	color: #D82600 !important;
}

.success {
	color: #009419 !important;
	
}


//텍스트 ellipsis
.truncate {	
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.wrap {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;

	.container {
		overflow-y: auto;
		display: flex;
		flex-direction: column;
		flex: 1;
		padding: 24px 24px 1px;

		.content {
			flex: 1;
		}
	}
}

/* _하단 고정버튼 영역 */
.bottom_fix_wrap {
	padding: 8px;
}
.bottom_fix_wrap_ty2 {
	padding: 0 24px 32px;

	& + .bottom_fix_wrap {
		margin-top: -8px;
	}
}

.content {
	.content_top {
		+ .bann_text_wrap_ty1 {
			margin-top: 32px;
		}
		+ .bann_text_wrap_ty2 {
			margin-top: 32px;
		}
	}
}
.popup_content_top + .info_box {
	margin-top: 32px;
}

.info_box {
	padding: 20px;
	font-size: 16px;
	line-height: 24px;
	background-color: #F2F5F8;
	border-radius: 16px;

	.btn_area {
		margin-top: 20px;
	}

	& + .form_group_wrap {
		margin-top: 16px;
	}
	& + .chk_group_wrap {
		margin-top: 52px;
	}
}

.car_alarm_box {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;

	.info {
		font-size: 18px;
		font-weight: 700;
		line-height: 27px;
	}
	.date {
		font-size: 14px;
		line-height: 21px;
		color: #4E5C6E;
	}
}


.info_help_list {
	dt {
		margin-bottom: 16px;
		font-size: 16px;
		font-weight: 700;
		line-height: 24px;
		& ~ dt {
			margin-top: 32px;
		}
	}
	dd {
		font-size: 16px;
		line-height: 24px;
		color: #464C53;
	}
}