.divider {
	&_ty1 {
		margin: 40px -24px;
		height: 8px;

		& + .content_top {
			margin-top: var(--gap-8);
		}
	}
	&_ty2 {
		height: 1px;
	}
}

[class^=divider_ty]{
	background: var(--color-divider-gray-light);
}