// Header
.header {
	height: 60px;
	background-color: #fff;

	.header_inner {
		position: relative;
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 15px;

		.header_connect {
			flex: 1;
			width: 100%;
			padding: 0 80px;

			.header_title {
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				font-size: min(5vw, 24px);
			}
		}
		
		.left {
			position: absolute;
			left: 15px;
			display: flex;
			align-items: center;
		}
		.right {
			position: absolute;
			right: 15px;
			display: flex;
			align-items: center;
		}
	}
}


// 전체메뉴
.nav_menu_wrap {
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: rgba(0,0,0,.5);
	visibility: hidden;

	&.active {
		visibility: visible;

		.nav_menu_inner {
			transform: translateX(0);
			transition-duration: .4s;
		}
	}

	.nav_menu_inner {
		height: 100%;
		padding: 10px;
		background-color: #fff;
		transform: translateX(100%);
		transition-duration: .4s;
	}
}