// Header
.header {
	// height: 48px;

	.header_inner {
		position: relative;
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 56px;
		padding: 12px 16px;

		.back {
			width: 24px;
			height: 24px;
			background: url(../images/icon/arrowLeft_ty1.svg) no-repeat center / 24px auto;
		}

		.header_connect {
			flex: 1;
			width: 100%;
			padding: 0 80px 0 52px;

			.header_title {
				overflow: hidden;
				font-size: min(5vw, 18px);
				line-height: 32px;
				font-weight: 700;
				color: #3e4a58;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}

		.left {
			position: absolute;
			left: 15px;
			display: flex;
			align-items: center;
		}
		.right {
			position: absolute;
			top: 12px;
			right: 16px;
			display: flex;
			align-items: center;
			gap: 8px;
			// transform: translateY(-50%);

			.allmenu {
				width: 32px;
				height: 32px;
				text-align: center;
				color: #fff;
				background-color: blue;
				&::before {
					content: '메뉴열기';
				}
			}
			.insChk {
				width: 32px;
				height: 32px;
				background: url(../images/icon/icon_insurance_check.svg) no-repeat center / 32px auto;
			}
		}
	}
}
