// icon

.updown {
	--trangle-width: 20px;
	--trangle-height: 12px;
	--increase: #ff0000;
	--decrease: #0000ff;
	display: inline-flex;
	width: var(--trangle-width);
	font-size: 0;
	line-height: 0;
	border-bottom: var(--trangle-height) solid;
	border-left: calc(var(--trangle-width) / 2) solid transparent;
	border-right: calc(var(--trangle-width) / 2) solid transparent;
	&.increase {
		border-bottom-color: var(--increase);
	}
	&.decrease {
		border-bottom-color: var(--decrease);
	}
}

//SVG아이콘 컴포넌트
.hd_icon {
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	width:24px;
	height:24px;
}

/**
* 아이콘 에셋
*/

//아이콘 에셋 불러오기
@mixin getSvg($fileName) {
	background-image: url(../images/#{$fileName}.svg);
}

.hd_btn {
	&_ty_1 {
		.downloadSvg {
			@include getSvg("icon/download_ty1");
		}
		.arrowRightSvg {
			@include getSvg("icon/arrowRight_ty1");
		}
	}
	&_ty_2 {
		.downloadSvg {
			@include getSvg("icon/download_ty2");
		}
		.arrowRightSvg {
			@include getSvg("icon/arrowRight_ty2");
		}
	}
	&_ty_3 {
		.downloadSvg {
			@include getSvg("icon/download_ty3");
		}
		.arrowRightSvg {
			@include getSvg("icon/arrowRight_ty3");
		}
	}
}

//추후 btn_sample클래스명 변경시 위의 .btn그룹으로 편입 예정
.hd_btn {
	&:disabled {
		.downloadSvg {
			@include getSvg("icon/download_disabled");
		}
		.arrowRightSvg {
			@include getSvg("icon/arrowRight_disabled");
		}
	}
}

/********
* logo 스타일
*********/

//차량로고 아이콘
.car_logo {
	display: inline-block;
	line-height: 0;
	.hd_icon {
		width: 20px;
		height: 20px;
	}
}

.car_logo_ {
	&hyundai {
		@include getSvg("logo/hyundai");
	}
	&samsung {
		@include getSvg("logo/samsung");
	}
}

.arrowRightSvg {
	@include getSvg("icon/arrowRight_ty1");
}



/********
* 기타 아이콘
*********/


.searchSvg {
	@include getSvg("icon/icon_search");
}

.plusSvg {
	@include getSvg("icon/icon_plus");
}

.popover_help {
	@include getSvg("icon/popover_help");
}

.fill_18_info {
	@include getSvg("icon/info");
}

.deleteSvg {
	@include getSvg("icon/icon_delete");
}
