// icon

.updown {
	--trangle-width: 14px;
	--trangle-height: 10px;
	--increase: var(--color-text-point);
	--decrease: #052B57;
	display: inline-flex;
	width: var(--trangle-width);
	font-size: 0;
	line-height: 0;
	border-left: calc(var(--trangle-width) / 2) solid transparent;
	border-right: calc(var(--trangle-width) / 2) solid transparent;
	&.increase {
		border-bottom-color: var(--increase);
		border-bottom: var(--trangle-height) solid;
	}
	&.decrease {
		border-top-color: var(--decrease);
		border-top: var(--trangle-height) solid;
	}
}

@mixin getSvg($fileName) {
	background-image: url(../images/#{$fileName}.svg);
}

//SVG아이콘 컴포넌트
.hd_icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-size: contain;
	background-repeat: no-repeat;
	&.downloadSvg {
		@include getSvg("icon/download_ty1");
	}
	&.arrowRightSvg {
		@include getSvg("icon/arrowRight_ty1");
	}
	&.downloadSvg {
		@include getSvg("icon/download_ty2");
	}
	&.arrowRightSvg {
		@include getSvg("icon/arrowRight_ty2");
	}
	&.cameraSvg {
		@include getSvg("icon/camera");
	}
	&.downloadSvg {
		@include getSvg("icon/download_ty3");
	}
	&.arrowRightSvg {
		@include getSvg("icon/arrowRight_ty3");
	}
	&.openWindowSvg {
		@include getSvg("icon/icon-open-window");
	}
	&.mailSvg {
		@include getSvg("icon/mail");
	}
	&.documentSvg {
		@include getSvg("icon/document");
	}
	&.pictureSvg {
		@include getSvg("icon/picture");
	}
	&.pdfSvg {
		@include getSvg("icon/icon_pdf");
	}
	&.docSvg {
		@include getSvg("icon/icon_doc");
	}
	&.registerSvg {
		@include getSvg("icon/icon_register");
	}
	
	&.jpgSvg {
		@include getSvg("icon/icon_jpg");
	}
	&.pngSvg {
		@include getSvg("icon/icon_png");
	}
	&.gifSvg {
		@include getSvg("icon/icon_gif");
	}
	&.bmpSvg {
		@include getSvg("icon/icon_png");
	}
}

/**
* 아이콘 에셋
*/

//아이콘 에셋 불러오기
@mixin getSvg($fileName) {
	background-image: url(../images/#{$fileName}.svg);
}

/*
.hd_btn {
	&_ty_1 {
		.downloadSvg {
			@include getSvg("icon/download_ty1");
		}
		.arrowRightSvg {
			@include getSvg("icon/arrowRight_ty1");
		}
	}
	&_ty_2 {
		.downloadSvg {
			@include getSvg("icon/download_ty2");
		}
		.arrowRightSvg {
			@include getSvg("icon/arrowRight_ty2");
		}
		.cameraSvg {
			@include getSvg("icon/camera");
		}
	}
	&_ty_3 {
		.downloadSvg {
			@include getSvg("icon/download_ty3");
		}
		.arrowRightSvg {
			@include getSvg("icon/arrowRight_ty3");
		}
		.openWindowSvg {
			@include getSvg("icon/icon-open-window");
		}
		.mailSvg {
			@include getSvg("icon/mail");
		}
		.documentSvg {
			@include getSvg("icon/document");
		}
		.pictureSvg {
			@include getSvg("icon/picture");
		}
		.pdfSvg {
			@include getSvg("icon/icon_pdf");
		}
		.docSvg {
			@include getSvg("icon/icon_doc");
		}
	}
}
*/

//추후 btn_sample클래스명 변경시 위의 .btn그룹으로 편입 예정
.hd_btn {
	&:disabled {
		.downloadSvg {
			@include getSvg("icon/download_disabled");
		}
		.arrowRightSvg {
			@include getSvg("icon/arrowRight_disabled");
		}
	}
}

/********
* logo 스타일
*********/

//차량로고 아이콘
.logo {
	display: inline-block;
	line-height: 0;
	.hd_icon {
		width: 32px;
		height: 32px;
		background-position: center;
	}
}


.logo_ins_ {	
	&hyundai {
		@include getSvg("logo/ins_hyundai");
	}
	&hyundai2 {
		@include getSvg("icon/banner/icon_hyundai");
	}
	&samsung {
		@include getSvg("logo/ins_samsung");
	}
}

.logo_car_ {
	&chevrolet {
		@include getSvg("logo/car_chevrolet");
	}	
	&hyundai {
		@include getSvg("logo/car_hyundai");
	}
	&kgm {
		@include getSvg("logo/car_kgm");
	}
	&kia {
		@include getSvg("logo/car_kia");
	}
	&samsung {
		@include getSvg("logo/car_samsung");
	}
}

.logo_sns_ {
	&facebook {
		@include getSvg("logo/sns_facebook");
	}	
	&kakao {
		@include getSvg("logo/sns_kakao");
	}
	&kakaotalk {
		@include getSvg("logo/sns_kakaotalk");
	}
}

.logo_pay_ {	
	&kakao {
		@include getSvg("logo/pay_kakao");
	}
	&naver {
		@include getSvg("logo/pay_naver");
	}	
	&toss {
		@include getSvg("logo/pay_toss");
	}
}

.logo_bank_ {	
	&busan {
		@include getSvg("logo/bank_busan");
	}
	&citi {
		@include getSvg("logo/bank_citi");
	}	
	&cu {
		@include getSvg("logo/bank_cu");
	}
	&daegu {
		@include getSvg("logo/bank_deagu");
	}
	&epost {
		@include getSvg("logo/bank_epost");
	}	
	&hana {
		@include getSvg("logo/bank_hana");
	}
	&hana_old {
		@include getSvg("logo/bank_hana_old");
	}
	&ibk {
		@include getSvg("logo/bank_ibk");
	}	
	&jeju {
		@include getSvg("logo/bank_jeju");
	}
	&jeonbuk {
		@include getSvg("logo/bank_jeonbuk");
	}
	&k {
		@include getSvg("logo/bank_k");
	}	
	&kakaobank {
		@include getSvg("logo/bank_kakaobank");
	}
	&kb {
		@include getSvg("logo/bank_kb");
	}
	&kwangju {
		@include getSvg("logo/bank_kwangju");
	}	
	&kyongnam {
		@include getSvg("logo/bank_kyongnam");
	}
	&mg {
		@include getSvg("logo/bank_mg");
	}
	&nh {
		@include getSvg("logo/bank_nh");
	}	
	&nh_region {
		@include getSvg("logo/bank_nh_region");
	}
	&sc {
		@include getSvg("logo/bank_sc");
	}
	&sh {
		@include getSvg("logo/bank_sh");
	}	
	&shinhan {
		@include getSvg("logo/bank_shinhan");
	}
	&toss {
		@include getSvg("logo/bank_toss");
	}
	&woori {
		@include getSvg("logo/bank_woori");
	}
}

.logo_stock_ {	
	&daishin {
		@include getSvg("logo/stock_daishin");
	}
	&ebest {
		@include getSvg("logo/stock_ebest");
	}	
	&hana {
		@include getSvg("logo/stock_hana");
	}
	&hi {
		@include getSvg("logo/stock_hi");
	}
	&hmc {
		@include getSvg("logo/stock_hmc");
	}	
	&kb {
		@include getSvg("logo/stock_kb");
	}
	&korea {
		@include getSvg("logo/stock_korea");
	}
	&meritz {
		@include getSvg("logo/stock_meritz");
	}	
	&mirae {
		@include getSvg("logo/stock_mirae");
	}
	&nh {
		@include getSvg("logo/stock_nh");
	}
	&samsung {
		@include getSvg("logo/stock_samsung");
	}	
	&shinhan {
		@include getSvg("logo/stock_shinhan");
	}
	&sk {
		@include getSvg("logo/stock_sk");
	}
	&yuanta {
		@include getSvg("logo/stock_yuanta");
	}
}

.logo_card_ {	
	&etc {
		@include getSvg("logo/card_etc");
	}
	&hundai {
		@include getSvg("logo/card_hundai");
	}	
	&kb {
		@include getSvg("logo/card_kb");
	}
	&lotte {
		@include getSvg("logo/card_lotte");
	}
	&samsung {
		@include getSvg("logo/card_samsung");
	}	
	&shinhan {
		@include getSvg("logo/card_shinhan");
	}
}


/********
* 기타 아이콘
*********/

//화면 상태 표시 아이콘
.status_icon {
	display: inline-block;
	line-height: 0;
	.hd_icon {
		width: 32px;
		height: 32px;
		background-position: center;
	}
}

.arrowRightSvg {
	@include getSvg("icon/arrowRight_ty1");
}

.arrowRight_ty3 {
	@include getSvg("icon/arrowRight_ty3");
}

.arrowRightSvg_ty4 {
	@include getSvg("icon/arrowRight_ty4");
}

.arrowRightSvg_ty5 {
	@include getSvg("icon/arrowRight_ty5");
}

.arrowDownSvg_ty3 {
	@include getSvg("icon/arrowDown_ty3");

	&:disabled {
		@include getSvg("icon/arrowDown_ty5");
	}
}

.searchSvg {
	@include getSvg("icon/icon_search");
}

.plusSvg {
	@include getSvg("icon/icon_plus");
}

.popover_help {
	@include getSvg("icon/popover_help");
}

.fill_18_info {
	@include getSvg("icon/info");
}

.deleteSvg {
	@include getSvg("icon/icon_delete");
}

.deleteSvg {
	@include getSvg("icon/icon_delete");
}

.exclamationSvg {
	@include getSvg("icon/icon_exclamation");
}


.carmeraSvg {
	@include getSvg("icon/icon_carmera_ty1");
}

.carmeraSvg2 {
	@include getSvg("icon/icon_carmera_ty2");
}


.carmeraSvg2 {
	@include getSvg("icon/icon_carmera_ty2");
}

.icon_errorSvg {
	@include getSvg("icon/icon_error_red");
}

.carDiscountSvg {
	@include getSvg("icon/banner/icon_car_discount");
}
.comparisonSvg {
	@include getSvg("icon/banner/icon_comparison");
}

.icon_pensionSvg {
	@include getSvg("icon/icon_pension");
}
.icon_savingSvg {
	@include getSvg("icon/icon_saving");
}
.icon_info_ty2_Svg {
	@include getSvg("icon/icon_info_ty2");
}