/* info box */
.info_gray {
	padding: var(--padding-card-medium) var(--padding-card-small);
	border-radius: var(--radius-large2);
	background: var(--color-surface-secondary-subtler);

	// & + &.ty2 {
	// 	margin-top: 52px;
	// }

	& + [class^=list_ty]{
		margin-top: 16px;
	}

	&.bg_etc01 {
		background-color: var(--color-surface-white-subtle);
		&.basic {
			margin-top:0;
			padding:16px 0 12px;
		}
	}
	
	&[class*="icon_"]{
		padding: 16px 20px;
		border-radius: 16px;
		.title_sub {
			min-height: 32px;
			position: relative;
			padding-left: calc(32px + 12px);
			display:flex;
			align-items: center;
			&::before {
				content:"";
				display: inline-flex;
				position: absolute;
				top:0;
				left:0;
				width:32px; 
				height:32px;
				padding:4px;
				background-color: var(--color-surface-white-subtle);
				background-repeat: no-repeat;				
				background-position: center center;
				background-size: 24px auto;
				border-radius: 12px;			
			}
			span {
				color:var(--color-text-basic);
			}
		}
		&.icon_call {
			.title_sub {
				&::before {
					background-image: url(../images/icon/icon_call_fill.svg);	
				}
			}
		}
		&.icon_call_check {
			.title_sub {
				&::before {
					background-image: url(../images/icon/icon_call_check.svg);	
				}
			}
		}
	}
	
	&.ty2 {
		background: var(--color-surface-information-subtler);
	}
	& + .list_depth,
	& + .info_gray,
	& + .list_ty2 {
		margin-top: 16px;
	}

	& + .table_wrap {
		margin-top: 24px;
	}

	& + .tab_wrap {
		margin-top: var(--gap-8);

		&.tab_wrap_ty2 {
			margin-top: 32px;
		}
	}

	& + .info_text {
		margin-top: 12px;
	}
	& + .info_cont,
	& + .title_h3,
	& + .title_h4,
	& + .btn_area.btn_area_space2,
	& + .form_group_wrap,
	& + .acd_item_ty2,//0429변경사항(피그마위치:운전자-청약내용확인)
	& + .acd_item_ty7,
	& + .select_driver_range,
	& + .banner_box.ty2 {
		margin-top: 32px;
	}
	
	& + .checkbox_group_wrap,
	& + .ag_groups,
	& + .ag_group_wrap {
		margin-top: 52px;
	}
	.badge_wrap_ty2 {
		display: flex;
		gap: 8px;
		align-items: center;
	}
	.cont_tel {
		font-size: var(--font-size-heading-medium);
		font-weight: 700;		
	}

	.hd_badge + [class^="title_h"] {
		margin-top: 4px;
	}

	[class^="title_h"] {
		& + .info_text {
			margin-top: 12px;
		}
		& + .list_depth {
			margin-top: 16px;
		}
	}

	.title_h4 {
		& + dl {
			margin-top: 12px;
		}
	}
	.title_h2 {
		color: var(--color-text-bolder);
		font-size: var(--font-size-heading-small);
	}
	.title_h3 {
		color: var(--color-text-bolder);
		font-size: var(--font-size-heading-xsmall);

		& + [class^=title_h]{
			margin-top: 0;
		}

		& + .list_ty3 {
			margin-top: 16px;
		}
	}
	.title_h4 {
		color: var(--color-text-bolder);
		font-size: var(--font-size-heading-xxsmall);
	}

	.btn_area {
		margin-top: 16px;
	}

	button  {
		// margin-top: 16px;
	}

	.info_text {
		& + ul {
			margin-top: 12px;
		}
	}

	dl {
		display: flex;
		justify-content: space-between;
		gap: 8px;
		width: 100%;
		font-size: var(--font-size-body-small);
		&.middle {
			align-items: center;
		}
		& + ul {
			margin-top: var(--gap-5);
		}

		dt {
			color: var(--color-text-subtle);
			flex-shrink: 0;
		}
		dd {
			text-align: right;

			.big {
				font-size: var(--font-size-heading-medium);
			}
			.rise {
				justify-content: flex-end;
			}
		}
		.sub_text {
			display: block;
			font-size: var(--font-size-body-xsmall);
			color: var(--color-text-subtle);
		}
		
		& + dl {
			margin-top: 16px;
		}
		&.footer_dl {
			margin-top: var(--gap-6);
			padding-top: var(--gap-6);
			border-top: 1px solid var(--color-border-gray-light);
			align-items: center;
			dd {
				font-size: var(--font-size-body-large);
				font-weight: 700;
				word-break: break-all;

				&.normal {
					font-size: var(--font-size-body-small);
				}

				span.text_sub {
					display: block;
					color: var(--color-text-subtle);
					font-size: var(--font-size-body-small);
					font-weight: 400;
					text-decoration: line-through;
				}
			}

			& + .footer_dl {
				border:0;
				padding-top: 0;
				margin-top: 16px;
			}
		}
	}

	.car_alarm_box {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 12px;
	
		.info {
			font-size: var(--font-size-body-medium);
			font-weight: 700;
		}
		.date {
			font-size: var(--font-size-body-small);
		}
	}
	.total {
		.big {
			font-size: 20px;
		}
		&:not(.car) {
			dl {
				align-items: center;
			}
		}
		&.car {
			dl + dl {
				margin-top: 8px;
			}
			.total_car {
				margin-top: 21px;
				dd {
					margin-top: -21px;
					del {
						display: block;
						font-size: var(--font-size-body-small);
						color: var(--color-text-subtle);
						font-weight: 400;
					}
				}
			}
			& + .info_top_cont {
				display: none;
				margin-top: 8px;
				padding-top: 16px;
			}
			&.ty2 {
				& + .info_top_cont {
					display: block;
				}
			}
		}
		&.only {
			dl {
				align-items: center;
			}
		}
	}
	.total_bic {
		font-size: var(--font-size-display-medium);
		color: var(--color-text-primary-bold);
	}
	.info_top_cont {
		margin-top: 20px;
		padding-top: 20px;
		border-top: 1px solid var(--color-divider-gray-light);
		dl {
			dt {
				min-width: 80px;
			}
		}
	}

}

.call_box {
	margin-top: 52px;
	.info_text + .info_gray {
		margin-top: 12px;
	}
}