/* info box */
.info_gray {
	padding: var(--padding-card-medium) var(--padding-card-small);
	background: var(--color-surface-secondary-subtler);
	border-radius: var(--radius-large2);
	
	& + .form_group_wrap {
		margin-top: 32px;
	}

	& + .checkbox_group_wrap {
		margin-top: 52px;
	}

	& + .tab_wrap {
		margin-top: 24px;
	}

	& + .list_ty2 {
		margin-top: 16px;
	}
	
	& + .info_cont {
		margin-top: 32px;
	}

	.hd_badge + [class^="title_h"] {
		margin-top: 4px;
	}

	[class^="title_h"] {
		& + .info_text {
			margin-top: 12px;
		}
	}

	.title_h4 {
		& + dl {
			margin-top: 12px;
		}
	}
	.title_h2 {
		color: var(--color-text-bolder);
		font-size: var(--font-size-heading-small);
	}
	.title_h3 {
		color: var(--color-text-bolder);
		font-size: var(--font-size-heading-xsmall);
	}
	.title_h4 {
		color: var(--color-text-bolder);
		font-size: var(--font-size-heading-xxsmall);
	}
	.info_text {
		font-size: var(--font-size-body-medium);
	}
	button  {
		margin-top: 16px;
	}
	dl {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 8px;
		width: 100%;
		font-size: var(--font-size-body-small);
		dt {
			color: var(--color-text-subtle);
			flex-shrink: 0;
		}
		dd {
			text-align: right;

			.big {
				font-size: var(--font-size-body-large);
			}
		}
		.sub_text {
			display: block;
			font-size: var(--font-size-body-xsmall);
			color: var(--color-text-subtle);
		}
		& + dl {
			margin-top: 16px;
		}
		&.footer_dl {
			margin-top: 20px;
			padding-top: 20px;
			border-top: 1px solid var(--color-divider-gray-light);
			dd {
				font-size: var(--font-size-body-large);
				font-weight: 700;
			}
		}
	}

	.car_alarm_box {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 12px;
	
		.info {
			font-size: var(--font-size-body-medium);
			font-weight: 700;
		}
		.date {
			font-size: var(--font-size-body-small);
		}
	}
}