/* info box */
.info_gray {
	padding: var(--padding-card-medium) var(--padding-card-small);
	border-radius: var(--radius-large2);
	background: var(--color-surface-secondary-subtler);

	&.bg_etc01 {
		background-color: var(--color-surface-white-subtle);
	}
	
	&.ty2 {
		background: var(--color-surface-information-subtler);
	}

	& + .title_h3,
	& + .form_group_wrap {
		margin-top: 32px;
	}
	

	& + .checkbox_group_wrap {
		margin-top: 52px;
	}

	& + .tab_wrap {
		margin-top: 24px;
		&.tab_wrap_ty2 {
			margin-top: 32px;
		}
	}

	& + .list_ty2 {
		margin-top: 16px;
	}
	
	& + .info_cont {
		margin-top: 32px;
	}

	.badge_wrap {
		display: flex;
		gap: 8px;
		align-items: center;
	}
	.cont_tel {
		font-size: var(--font-size-heading-medium);
		font-weight: 700;		
	}

	.hd_badge + [class^="title_h"] {
		margin-top: 4px;
	}

	[class^="title_h"] {
		& + .info_text {
			margin-top: 12px;
		}
		& + .list_depth {
			margin-top: 16px;
		}
	}

	.title_h4 {
		& + dl {
			margin-top: 12px;
		}
	}
	.title_h2 {
		color: var(--color-text-bolder);
		font-size: var(--font-size-heading-small);
	}
	.title_h3 {
		color: var(--color-text-bolder);
		font-size: var(--font-size-heading-xsmall);
	}
	.title_h4 {
		color: var(--color-text-bolder);
		font-size: var(--font-size-heading-xxsmall);
	}

	button  {
		margin-top: 16px;
	}
	dl {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 8px;
		width: 100%;
		font-size: var(--font-size-body-small);
		dt {
			color: var(--color-text-subtle);
			flex-shrink: 0;
		}
		dd {
			text-align: right;

			.big {
				font-size: var(--font-size-body-large);
			}
		}
		.sub_text {
			display: block;
			font-size: var(--font-size-body-xsmall);
			color: var(--color-text-subtle);
		}
		
		& + dl {
			margin-top: 12px;
		}
		&.footer_dl {
			margin-top: 20px;
			padding-top: 20px;
			border-top: 1px solid var(--color-divider-gray-light);
			dd {
				font-size: var(--font-size-body-large);
				font-weight: 700;

				span.text_sub {
					display: block;
					color: var(--color-text-subtle);
					font-size: var(--font-size-body-small);
					font-weight: 400;
					text-decoration: line-through;
				}
			}
		}
	}

	.car_alarm_box {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 12px;
	
		.info {
			font-size: var(--font-size-body-medium);
			font-weight: 700;
		}
		.date {
			font-size: var(--font-size-body-small);
		}
	}
	.total {
		.big {
			font-size: 20px;
		}
		&.car {
			dl + dl {
				margin-top: 8px;
			}
			.total_car {
				margin-top: 21px;
				dd {
					margin-top: -21px;
					del {
						display: block;
						font-size: var(--font-size-body-small);
						color: var(--color-text-subtle);
						font-weight: 400;
					}
				}
			}
			& + .info_top_cont {
				display: none;
				margin-top: 8px;
				padding-top: 16px;
			}
			&.ty2 {
				& + .info_top_cont {
					display: block;
				}
			}
		}
	}
	.total_bic {
		font-size: var(--font-size-display-medium);
		color: var(--color-text-primary-bold);
	}
	.info_top_cont {
		margin-top: 20px;
		padding-top: 20px;
		border-top: 1px solid var(--color-divider-gray-light);
	}
}