.input_text {
  position: relative;
  input {
    position: relative;
    display: block;
    width: 100%;
    height: 48px;
		padding: 16px;
		font-size: 16px;
		line-height: 24px;
		color: #1E2124;
    appearance: none;
    box-sizing: border-box;
		border-radius: 16px;
    border: 1px solid #ddd;

		&::placeholder {
			color: #6C7882;
		}

		&:disabled {
			background-color: #F5F5F5;
			color: #66727B;
		}
  }
  
  .del,
  .cal {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  .del {
    display: none;
  }
	
  input[type="date"] {
    position:relative; 
    padding:14px; 
    width:150px; 
    height:30px; 
    font-size:14px; 
    color:#999; 
    border:none; 
    border-bottom:1px solid #e0e0e0;
  }
  input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0); //숨긴다
    opacity: 1;
    display: block;
    width: 20px;
    height: 20px;
    border-width: thin;
  }
  input[type="date"].active::before {
    content:attr(data-placeholder);
    width:100%;
	}

	//phone
	&.phone {

	}

	//birth
	.birth_all{    
		position: relative;
	}
}


// Error 문구
.msg_success {
  color: blue;
}
.msg_fail {
  color: red;
}


// file
.inp_file {

	input[type=file]{
		position: absolute;
		width: 1px;
		height: 1px;
		overflow: hidden;
		clip: rect(0,0,0,0);
		border: none;

		& + label {
			display: flex;
			font-size: 14px;
			line-height: 20px;
	
			.file_name {
				flex: 1;
			}
	
			.file_btn {
				background-color: #999;
				color: #FFF;
			}
		}
	}
}



/* _조합 input */
.comp_wrap {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 12px;
	padding-left: 16px;
	padding-right: 16px;
	border-radius: 16px;
	border: 1px solid #ddd;

	[class^=input]{
		flex:1;

		input {
			padding-left: 0;
			padding-right:0;
			border:0;
			border-radius: 0;
		}
	}

	.dash {
		font-size: 16px;
	}


	/* comp_wrap 내부에서 보안키패드 호출 버튼 공통 사용요소 - 필요시 각 class별로 별도 설정 필요 */
	.comp_wrap_keypad_call {
		flex: 1 1 0;
		.keypad_call {
			display: block;
			width: 100%;
			&.active {
				background-color: blue;
			}
		}
	}

	.input_text {
		input {
			&:read-only {
				z-index: 1;
				background-color: transparent;
				+ i {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: #ddd;
					border-radius: 8px;
				}
			}
			&:disabled {
				z-index: 1;
				background-color: transparent;
				+ i {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: #ddd;
					border-radius: 8px;
				}
			}
		}
	}





}


.phone {
	.code_first {
		font-size: 16px;
		color: #1E2124;
	}

	input {
		position: relative;


		&:focus {

			&::before {
				position: absolute;
				left: 0;
				top: 0;
				content:'';
				display: block;
				width: 10px;
				height: 24px;
				background-color: #1E2124;
			}
		}
	}
}