
@mixin list-style(
  // $ul-padding: 0,
  // $ul-margin: 0,
  $li-padding: 0, 
  $li-margin: 0, 
  $li-font-size: var(--font-size-body-medium),
	$li-line-height: 20px,
  $li-color: inherit,
	$li-dot-color: inherit
) {
  // margin: $ul-margin;
  // padding: $ul-padding;

  > li {
		position: relative;
    margin: $li-margin;
    padding: $li-padding;
    font-size: $li-font-size;
    line-height: $li-line-height;
    color: $li-color;

		&::before {
			background-color: $li-dot-color;
		}
  }
  @content;
}

.list_ty1 {
  @include list-style(
    $li-padding: 0 0 0 10px,
    $li-font-size: var(--font-size-body-small),
    $li-color: var(--color-text-basic),
		$li-dot-color: #3E4A58
  ) {
    // ul.list-1에 대한 추가적인 스타일
		// background-color: var(--color-primary);
    > li {
			&::before {
				content: '';
				position: absolute;
				top: 8px;
				left: 0;
				width: 2px;
				height: 2px;
				border-radius: 50%;
			}
    }
  }

	> li {
		& ~ li {
			margin-top: 8px;
		}
	}
}

.list_ty2 {
  @include list-style(
    $li-padding: 0 0 0 10px,
    $li-font-size: var(--font-size-body-small),
    $li-color: var(--color-text-subtle)
  ) {
    // ul.list-1에 대한 추가적인 스타일
		// background-color: var(--color-primary);
    > li {
			&::before {
				content: '-';
				position: absolute;
				top: 0;
				left: 0;
			}
    }
  }

	> li {
		& ~ li {
			margin-top: 8px;
		}
	}
}

.list_ty3 {
  @include list-style(
    $li-padding: 0 0 0 8px,
		$li-line-height: 24px,
    $li-color: #33363D,
		$li-dot-color: #33363D
  ) {
    // ul.list-1에 대한 추가적인 스타일
		// background-color: var(--color-primary);
    > li {
			&::before {
				content: '';
				position: absolute;
				top: 10px;
				left: 0;
				width: 3px;
				height: 3px;
				border-radius: 100%;
			}
    }
  }

	> li {
		& ~ li {
			margin-top: 12px;
		}
	}
}


/* 검색 리스트 관련 스타일*/

//search_list_type
.popup_cont.search_list_type{
	max-height: calc(100% - 72px);
	overflow-y: hidden !important;

	.popup_content{
		display: flex;
		flex-direction: column;
		overflow-y:hidden;
	}
}

//search_list_type2(tab_wrap내부에서 사용할 때)
.popup_cont.search_list_type2 {
	max-height: calc(100% - 55px);
	overflow-y: hidden !important;
	position:relative;
	
	.tab_wrap{
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		display:flex;
		flex-direction:column;

		.tab_wrap_list_ty2 { 
			margin : 0 0 32px;
		}

		.tab_wrap_content {
			padding: 0 24px;
		}

	}

	.has_scroll.active{
		flex:1;
		max-height: inherit;
		display: flex;
		flex-direction: column;
		overflow-y:hidden;
	}

	.search_inp_box {
		display: flex;
		flex-direction: column;
		gap:12px;
		margin-bottom: 52px;
	}

	
}

.suggestion_list_wrap {
	display: none;
	&.active {
		display: block;
	}

	.title_h4 {
		margin-bottom:16px;
	}
	.item_wrap {
		display:flex;
		gap: 8px;
		flex-wrap:wrap;
	}
}

.search_reult_list_container {
	flex:1;
	padding: 0;
	overflow-y: auto;
	display: none;
	
	&.active {
		display: block;
	}

	.search_result_count {
		margin-top: 16px;
		color: var(--color-text-subtle);
		font-size: var(--font-size-body-small);
	}

	.search_result_count + & {
		margin-top: 12px;
	}

	ul.search_reult_list{

		li {
			list-style-type:none;

			a {
				display: block;
				position: relative;
				padding: 24px 36px 24px 0;

				border-top: 1px solid var(--color-divider-gray-light);
				border-bottom: 1px solid var(--color-divider-gray-light);

				color: var(--color-text-basic);
				font-size: var(--font-size-body-medium);
				font-style: normal;
				font-weight: 400;
				line-height: 150%;

				display: flex;
				flex-direction: column;
				gap:4px;

				.hd_badge {
					width: fit-content;
				}

				i {
					font-style:normal;
					color: #D3430A;
				}

				&::after {
					content: '';
					position: absolute;
					top: calc(50% - 12px);
					right: 0;
					width: 24px;
					height: 24px;
					background: url(../images/icon/arrowRight_ty5.svg) no-repeat center / 24px auto;
				}
			}
		}	
	  
		  > li {
			  & ~ li {
				a {
					border-top: none;
				}				  
			  }
		  }

		  li.add_item a { 
			flex-direction: row;
			justify-content: space-between;

			&::after { content: none; }
		  }

	  }
}

.list_depth {
	@include list-style(
	  	$li-padding: 0 0 0 8px,
	  	$li-font-size: var(--font-size-body-medium),
	  	$li-color: var(--color-text-basic),
		$li-line-height: 1.5,
		$li-dot-color: #33363D
	) {
		> li {
			line-height: 24px;
			&::before {
				content: '';
				position: absolute;
				top: 9px;
				left: 0;
				width: 3px;
				height: 3px;
				border-radius: 50%;
			}
			& ~ li {
				margin-top: 12px;
			}
			> ul {
				margin-top: 12px;
				@include list-style(
					$li-padding: 0 0 0 8px,
					$li-font-size: var(--font-size-body-small),
					$li-line-height: 1.5,
					$li-color: var(--color-text-subtle)
				) {
					> li {
						&::before {
							content: '-';
							position: absolute;
							top: 0;
							left: 0;
						}
						& ~ li {
							margin-top: 8px;
						}
						> ul {
							margin-top: 4px;
							@include list-style(
								$li-padding: 0 0 0 8px,
								$li-font-size: var(--font-size-body-xsmall),
								$li-color: var(--color-text-information),
								$li-line-height: 1.5,
								$li-dot-color: #6D7882
							) {
								> li {
									&::before {
										content: '';
										position: absolute;
										top: 8px;
										left: 0;
										width: 2px;
										height: 2px;
										border-radius: 50%;
									}
									& ~ li {
										margin-top: 4px;
									}
								}
							}
						}
					}
				}
			}
		}
		.point {
			font-weight: 700;
		}
	}
}