
@mixin list-style(
  // $ul-padding: 0,
  // $ul-margin: 0,
  $li-padding: 0, 
  $li-margin: 0, 
  $li-font-size: 16px,
	$li-line-height: 20px,
  $li-color: inherit,
	$li-dot-color: inherit
) {
  // margin: $ul-margin;
  // padding: $ul-padding;

  > li {
		position: relative;
    margin: $li-margin;
    padding: $li-padding;
    font-size: $li-font-size;
    line-height: $li-line-height;
    color: $li-color;

		&::before {
			background-color: $li-dot-color;
		}
  }
  @content;
}

.list_ty1 {
  @include list-style(
    $li-padding: 0 0 0 10px,
    $li-font-size: 14px,
    $li-color: #3E4A58,
		$li-dot-color: #3E4A58
  ) {
    // ul.list-1에 대한 추가적인 스타일
		// background-color: var(--color-primary);
    > li {
			&::before {
				content: '';
				position: absolute;
				top: 8px;
				left: 0;
				width: 2px;
				height: 2px;
				border-radius: 50%;
			}
    }
  }

	> li {
		& ~ li {
			margin-top: 8px;
		}
	}
}

.list_ty2 {
  @include list-style(
    $li-padding: 0 0 0 10px,
    $li-font-size: var(--font-size-body-small),
    $li-color: #697584,
		$li-dot-color: #697584
  ) {
    // ul.list-1에 대한 추가적인 스타일
		// background-color: var(--color-primary);
    > li {
			&::before {
				content: '';
				position: absolute;
				top: 9px;
				left: 0;
				width: 2px;
				height: 2px;
				border-radius: 50%;
			}
    }
  }

	> li {
		& ~ li {
			margin-top: 12px;
		}
	}
}