/* bottom_fix_notice */
.bottom_fix_notice {
	padding-top: 40px;
	margin: 0 -24px;

	.acd_item {
		background-color: #F4F5F6;
		border-radius: 32px;
	}

	.acd_head {
		padding: 16px 24px 16px 64px;
		font-size: 16px;
		line-height: 24px;
	}

	.acd_cont {
		.inner {
			padding: 0 24px 20px;
		}
	}
}
