/* Radio */
.inp_radio {
	position: relative;

	input[type='radio']{
		position: absolute;
		width: 16px;
		height: 16px;
		opacity: 0;
		
		& + label {
			position: relative;
			display: block;
			padding-left: 32px;

			> span {
				display: block;
				font-size: var(--font-size-label-large);
				color: var(--color-text-bolder);
				line-height: 24px;
			}
			cursor: pointer;

			&::before {
				content:'';
				position: absolute;
				top: 0;
				left: 0;
				width: 24px;
				height: 24px;
				border: 1px solid var(--color-border-gray-dark);
				border-radius: 100%;
			}
		}

		&:disabled {
			& + label {
				&::before {
					border: 1px dashed var(--color-border-disabled);
					background-color: var(--color-element-gray-lighter);
				}

				> span {
					color: var(--color-text-disabled);
				} 
			}
		}

		&:checked {
			& + label {
				&::before {
					background: var(--color-element-primary) url(../images/icon/check_ty1.svg) no-repeat center center / 12px auto;
					border: 1px solid var(--color-element-primary);
				}
			}

			&:disabled {
				& + label {
					&::before {
						border: 1px dashed var(--color-border-disabled);
						background-color: var(--color-element-gray-lighter);
						background-image: url(../images/icon/check_ty5.svg);
					}
				}
			}
		}


	}
}

.radio_group_wrap {
	display: flex;
	flex-flow: row wrap;
	gap: 12px;
	
	.inp_radio {
		&[class*=rd_btn]{
			flex: 1;
		}
	}

	&.column {
		flex-direction: column;
		gap: 10px;
	}

	&_ty2 {
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		align-items: stretch;
		gap: 12px;

		.inp_radio {
			flex-basis: calc(50% - 6px);

			&.rd_btn {	
				input[type=radio] + label {
					height: 100%;
				}
			}
		}
	}

	&_ty3 {
		width: 100%;
		display: flex;
		gap: 12px;

		.inp_radio {
			flex-basis: calc(50% - 6px);
		}
	}
}