/* Radio */
.inp_radio {
	position: relative;

	input[type='radio']{
		position: absolute;
		width: 16px;
		height: 16px;
		opacity: 0;
		
		& + label {
			position: relative;
			display: block;
			padding-left: 28px;
			cursor: pointer;
			> .label_cont {
				display: block;
				font-size: var(--font-size-label-large);
				color: var(--color-text-bolder);
				line-height: 22px;
				.sub_g_txt {
					display: block;
					padding-top: 4px;
					font-size: var(--font-size-label-small);
					color: var(--color-text-subtle);
				}
			}
			&::before {
				content:'';
				position: absolute;
				top: 1px;
				left: 0;
				width: 20px;
				height: 20px;
				border: 1px solid var(--color-border-gray-dark);
				border-radius: 100%;
			}
			
		}
		&:disabled {
			& + label {
				&::before {
					border: 1px dashed var(--color-border-disabled);
					background-color: var(--color-element-gray-lighter);
				}

				> .label_cont {
					color: var(--color-text-disabled);
				} 
			}
		}

		&:checked {
			& + label {
				&::before {
					background: var(--color-element-primary) url(../images/icon/check_ty1.svg) no-repeat center center / 14px auto;
					border: 1px solid var(--color-element-primary);
				}
			}

			&:disabled {
				& + label {
					&::before {
						border: 1px dashed var(--color-border-disabled);
						background-color: var(--color-element-gray-lighter);
					}
				}
			}
		}


	
		&:checked {
			& + label {
				&::before {
					background-size: 12px auto;
				}
			}

			&:disabled {
				& + label {
					&::before {
						border: 1px solid var(--color-border-disabled);
						background-color: var(--color-element-gray-lighter);
						background-image: url(../images/icon/check_ty5.svg);
					}
				}
			}
		}

	}
	&.lg {
		input[type='radio']{
			& + label {
				padding-left: 32px;
				&::before {
					top: 0;
					width: 24px;
					height: 24px;
				}
				> .label_cont {
					font-size: var(--font-size-label-large);
					line-height: 24px;
					.sub_g_txt {
						font-size: var(--font-size-label-medium);
					}
				}
			}
			&:checked {
				& + label {
					&::before {
						background-size: 16px auto;
					}
				}
			}
		}
	}
	&.sm {
		input[type='radio']{
			& + label {
				padding-left: 24px;
				&::before {
					top: 3px;
					width: 16px;
					height: 16px;
				}
			}
			
			&:checked {
				& + label {
					&::before {
						background-size: 10px auto;
					}
				}
			}
		}
	}
	
}

.radio_group_wrap {
	display: flex;
	flex-flow: row wrap;
	gap: 12px;
	
	.inp_radio {
		&[class*=rd_btn]{
			flex: 1;
		}
	}

	&.column {
		flex-direction: column;
		gap: 10px;
	}

	&_ty2 {
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		align-items: stretch;
		gap: 12px;

		.inp_radio {
			flex-basis: calc(50% - 6px);

			&.rd_btn {	
				input[type=radio] + label {
					height: 100%;
				}
			}
		}
	}

	&_ty3 {
		width: 100%;
		display: flex;
		gap: 12px;

		.inp_radio {
			flex-basis: calc(50% - 6px);
		}
	}
}