.sweep_select {
	position: relative;
	.swiper-container {
		overflow: hidden;
		position: relative;
		margin: 0 10px;
		padding: 0 32px;
		.swiper-wrapper {
			.swiper-slide {
				width: auto !important;
				min-width: 98px;
				color: var(--color-text-disabled);
				text-align: center;
				border-radius: var(--radius-medium3);
				background: transparent;

				> span,
				> button {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 100%;
					height: 100%;
					height: 56px;
					font-weight: 700;
					font-size: 18px;
					line-height: 28px;
					color: var(--color-text-disabled);
					text-align: center;
					background: transparent;
				}

				&-active {
					position: relative;
					background-color: var(--color-element-secondary-lighter);
					transition: background-color .5s;
					color: var(--color-text-basic);
				}
			}
		}
		.swiper-button-disabled {
			opacity: 1;
			&:after {
				background-color: rgba(0, 0, 0, 0.10);
			}
		}
	}
	[class^=swiper-button]{
		top: 50%;
		margin-top: -16px;
		width: 32px;
		height: 32px;
		background-color: #fff;

		&:before {
			position: absolute;
			right:0;
			z-index: -1;
			content:'';
			width: 40px;
			height: 32px;
			background: var(--white, linear-gradient(90deg, var(--color-alpha-base25, rgba(255, 255, 255, 0.25)) 27.34%, var(--color-alpha-base100, #FFF) 100%));
		}

		&:after {
			content:'';
			width: 19px;
			height: 19px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: 19px auto;
			width: 32px;
			height: 32px;
			background-color: var(--color-action-white);
			border: 1px solid var(--color-border-gray-light);
			border-radius: var(--radius-max);
		}
	}
	.swiper-button-prev {
		left: 0;
		&:before {
			left: 18px;
			transform: rotate(180deg);
		}
		&:after {
			background-image: url(../images/icon/arrowRight_ty3.svg);
			transform: rotate(180deg);
		}
	}
	.swiper-button-next {
		right: 0;
		&:before {
			left: -24px;
		}
		&:after {
			background-image: url(../images/icon/arrowRight_ty3.svg);
		}
	}


	.iii {
		position: absolute;
		// font-size: 0;
	}

	
}


.bbooxx {
	position: fixed;
	top: 100px;
	left: 50%;
	z-index: 9999;
	transform: translateX(-50%);
	background-color: #fff;
	width: 50%;
	height: 24px;
	line-height: 24px;
	text-align: center;
}