/* 예시 */
#swiper1 {
	.swiper-slide {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100px;
		background-color: skyblue;
		&:nth-child(even) {
			background-color: #ddd;
		}
	}
}




/* 보장플랜 */
.sw_case01 {
	position: relative;
	margin: 0 -24px;
	padding: 0 24px;


	// .swiper-slide {
	// 	padding: 24px;
	// 	border-radius: var(--radius-large2);
	// 	background-color: var(--color-surface-white-subtle);
	// }




	// sw_case01 버튼
	.swiper_button {
		position: absolute;
		top: 50%;
		z-index: 2;
		transform: translateY(-50%);
		&.swiper_button_left {
			left: 4px;
		}
		&.swiper_button_right {
			right: 4px;
		}
	}
	// sw_case01 버튼

}
/* 보장플랜 */