.tab_wrap {
	& + .info_gray {
		margin-top: 32px;
	}
}


// tab type1
.tab_wrap_list_ty1 {
	display: flex;
	margin: 0 -24px 32px;
	border-bottom: 1px solid #E1E3EA;

	.tab_btn {
		position: relative;
		flex:1;
		padding: 12px;
		font-size: 16px;
		line-height: 24px;
		color: var(--color-text-subtle);
		background-color: #fff;
		text-align: center;

		&.active {
			font-weight: 700;
			color: var(--color-text-basic);

			&:before {
				position: absolute;
				bottom: -1px;
				left: 0;
				content:'';
				width: 100%;
				height: 3px;
				background-color: #1E2124;
			}
		}

		&:disabled {
			color: var(--color-text-disabled);
		}
	}
}

// tab type2
.tab_wrap_list_ty2 {
	display: flex;
	gap: 12px;

	.tab_btn {
		flex: 1;
		padding: 16px;
		background-color: #fff;
		border: 1px solid var(--color-border-gray-light);
		border-radius: var(--radius-medium1);

		&.active {
			border-width: 2px;
			border-color:  var(--color-border-primary);
		}
	}
}

.tab_wrap_content {
	display: none;
	&.active {
		display: block;
	}

	&.has_scroll {
		overflow-y: auto;
	}
}

.tab_scroll_box {
	overflow-x: auto;
	[class^=tab_wrap_list] {

		&.scroll {
			display: inline-flex;
			align-items: center;
		}
	}
}