.table_wrap {
    .table {
        width: 100%;
        th,td {
            padding: 12px 16px;
            line-height: 1.5;
            border: 1px solid var(--color-border-gray-light);
        }
        th {
	        background-color: #f2f5f8;
        }
    }
}