.table_wrap {
	& + & {
		margin-top: 32px;
	}

	& + [class^=list_ty],
	& + .opt_case4 {
		margin-top: 16px;
	}

	& + .title_h4 {
		margin-top: 40px;
	}

	& + .btn_area {
		margin-top: 24px;
		&.ty2 {
			margin-top: 16px;
		}
	}

	& + .title_h5 {
		margin-top: 20px;
	}

	& + .space_list_ty2 {
		margin-top: 32px;
	}

	& + .title_h3 {
		// margin-top: 20px;
		margin-top: 52px;
	}
	

	.title_h3 {
		margin-bottom: 20px
	}

	.table_info_top {
		display: flex;
		align-items: center;
		justify-content: flex-end;

		> li {
			position: relative;
			font-size: var(--font-size-body-small);
			color: var(--color-text-subtle);

			& + li {
				padding-left: 25px;

				&:before {
					position: absolute;
					top: calc(50% - 6px);
					left: 12px;
					content:'';
					width: 1px;
					height: 12px;
					background-color: var(--color-divider-gray);
				}
			}
		}

		& + .table {
			margin-top: 12px;
		}
	}

	.table {
		width: 100%;
		border-top: 1px solid var(--color-divider-gray-light);
		&.bd_l {
			th, td {
				border-width: 0 0 1px 1px;
				word-break: break-all;
				&:first-child{
					border-left: none;
				}
			}
		} 
		&.table_c {
			th, td {
				text-align: center;
				word-break: break-all;
			}
		}

		&.table_num_type01 {
			th,td:first-child {
				text-align: center;
			}
			td {
				text-align: right;
				word-break: break-all;
			}
		}

		&.table_num_type02 {
			th,td:first-child {
				text-align: left;
			}
			td {
				text-align: right;
				word-break: break-all;
			}
		}

		&.table_v_mid {
			td {
				vertical-align: middle;
			}
		}

		th,td {
			border: 1px solid var(--color-divider-gray-light);
			border-width: 0 1px 1px 0;
			word-break: break-all;

			&:last-child{
				border-right: none;
			}
			&.primary_bold {
				font-weight: 700;
			}
			&.v_mid {
				vertical-align: middle;
			}
		}
		th {
			vertical-align: top;
			padding: 12px 8px;
			font-size: var(--font-size-heading-xxsmall);
			text-align: left;
			font-weight: 700;
			background-color: #F4F5F6;			
		}
		td {
			vertical-align: top;
			padding: 12px 8px;
			font-size: var(--font-size-label-medium);	
			
			.btn_link {
				padding-left: 0;
			}
		}

		.ta_l {
			text-align: left !important;
		}
		
		.ta_c {
			text-align: center !important;
		}

		.ta_r {
			text-align: right !important;
		}
		& + .title_h3 {
			margin-top: 52px;
		}

		.recommend {
			background-color: var(--color-surface-primary-subtler);
		}
	
	}

	.table_wrap.type_mini {
		.table_ty_mini {
			th {
				position: relative;
				font-weight: normal;
				background: transparent;
				border-right: none !important;
			}
		}
	}
}


.table_wrap.type_mini {

	& + .type_mini {
		margin-top: 16px;
	}

	.title {
		font-size: var(--font-size-body-xsmall);
		margin-bottom: 8px;
	}

	.table_ty_mini {
		width: 100%;

		th,td {
			vertical-align: middle;
			padding: var(--padding-2) var(--padding-2);
			color: var(--color-text-subtle);
			font-size: var(--font-size-body-xsmall);
			background-color: transparent !important;
		}

		thead th {
			font-weight: 700 !important;			
		}

		tbody th {
			text-align: left;
			font-weight: normal;
		}
	}
}


.coverage_type {
	dt, dd {
		text-align: right;
	}
	dt {
		font-weight: 700;

		& ~ dt {
			margin-top: 32px;
		}
	}
	dd {
		color: var(--color-text-subtle);

		& + dd {
			margin-top: 12px;
		}

		.tit {
			font-size: var(--font-size-label-small);
			line-height: 18px;

			&:first-child {
				margin-top: 12px;
			}
		}
		.cont {
			font-size: var(--font-size-label-medium);
			line-height: 21px;
		}
	}
}