.table_wrap {
    .table {
        width: 100%;
        border-top: 1px solid var(--color-border-gray-light);
        th,td {
            border-bottom: 1px solid var(--color-border-gray-light);
        }
        th {
            padding: 8px;
            font-size: var(--font-size-heading-xxsmall);
            text-align: left;
            font-weight: 700;
	        background-color: #F4F5F6;
        }
        td {
            padding: 12px 8px;
            font-size: var(--font-size-label-medium);
        }
    }
}