//typography

//타이틀 중복 스타일 정의
[class^="title_h"] {
	font-weight: 700;
	line-height: 150%; /* 36px */
	letter-spacing: var(--typo-letter-spacing-0);
	.ext {
		font-weight: 400;
	}

	& + .title_sub {
		margin-top: 8px;
	}

	& + .text_sub {
		margin-top: 16px;
	}

	& + .form_group_wrap,
	& + .rd_box ,
	& + .tab_wrap,
	& + .radio_group_wrap {
		margin-top: 20px;
	}
}

.title_h1 {
	font-size: var(--font-size-heading-xlarge);
	color: var(--color-text-bolder);
}

.title_h2 {
	font-weight: 400;
	font-size: var(--font-size-heading-large);
	color: var(--color-text-bolder);
}

.title_h3 {
	font-size: var(--font-size-heading-medium);
	color: var(--color-text-bolder   );

	& + .info_box,
	& + .info_gray.ty2,
	& + .contact_list {
		margin-top: 20px;
	}

	& + .table_wrap {
		margin-top: 16px;
	}
}

.title_h4 {
	font-size: var(--font-size-heading-small);
	color: var(--color-text-bolder);
}

.title_h5 {
	// font-weight: 700;
	font-size: var(--font-size-heading-xsmall);

	& ~ & {
		margin-top: 24px;
	}

	& + .list_depth {
		margin-top: 16px;
	}

	& + .text_sub,
	& + .view_img_list {
		margin-top: 12px;
	}
}

.title_h6 {
	// font-weight: 700;
	font-size: var(--font-size-heading-xxsmall);
}

.title_sub {
	font-size: var(--font-size-body-small);
	line-height: 21px;
	color: var(--color-text-subtle);

	& + .btn_area {
		margin-top: 8px;
	}

	& + .img_area {
		margin-top: 20px;
	}

	& + .form_group_wrap {
		margin-top: 32px;
	}

	& + .opt_select_wrap {
		margin-top: 16px;
	}
}

.text_sub {
	font-size: var(--font-size-body-medium);
	line-height: 24px;
	color: var(--color-text-basic);
	
	& + * {
		margin-top: 24px;
	}

	& + .btn_area {
		margin-top: 4px;
	}

	& + .circle_list,
	& + .view_img_list {
		margin-top: 16px;
	}

	& + .list_ty3 {
		margin-top: 32px;
	}
}
