/* Tooltip */
.tooltip_wrap {
	display: inline-block;

	.tooltip_head {
		position: relative;

		&.active {
			&::after {
				content:'';
				position: absolute;
				left: calc(50% - 8px);
				bottom: -13px;
				width: 8px;
				height: 8px;
				border: 8px solid gray;
				border-left-color: transparent;
				border-right-color: transparent;
				border-top-color: transparent;
			}
		}

		&.top {
			&::after {
				top: -13px;
				bottom: auto;
				border-top-color: gray;
				border-bottom-color: transparent;
			}

			&.active {
				& + .tooltip_text {
					bottom: 76px;
					margin-top: 0;
				}
			}
		}
	}

	.tooltip_text {
		display: none;
		position: absolute;
		left: 20px;
		width:calc(100vw - 40px);
		margin-top: 10px;
		z-index: 10;

		.inner {
			// display: none;
			overflow-y: auto;
			max-height: 80px;
			padding: 10px;
			background-color: gray;
			border-radius:10px;
		}
		
		.close {
			position: absolute;
			top: 4px;
			right: 6px;
		}
	}
}