

.toolbar {
    height: 66px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--color-surface-white-subtler);
    > a {
        padding: var(--padding-2) var(--padding-3) var(--padding-2) 30px;
        font-size: var(--font-size-body-small);
        color: var(--color-text-disabled);
        background-repeat: no-repeat;
        background-position: 8px center;
        background-size: 20px auto;
        &.home {
            background-image: url(../images/content/mypg/icon_home.svg);
        }
        &.join {
            background-image: url(../images/content/mypg/icon_join.svg);
        }
        &.benefit {
            background-image: url(../images/content/mypg/icon_benefit.svg);
        }
        &.register {
            background-image: url(../images/content/mypg/icon_register.svg);
        }
        &.active {
            color: var(--color-text-bolder);
            font-weight: 700;
            background-color: var(--color-button-tertiary-fill-pressed);
            border-radius: var(--radius-max);
            &.home {
                background-image: url(../images/content/mypg/icon_home_fill.svg);
            }
            &.join {
                background-image: url(../images/content/mypg/icon_join_fill.svg);
            }
            &.benefit {
                background-image: url(../images/content/mypg/icon_benefit_fill.svg);
            }
            &.register {
                background-image: url(../images/content/mypg/icon_register_fill.svg);
            }
        }
    }
}