.autocomplete_wrap {
	position: relative;
	z-index: 1;
}

.autocomplete_wrap_list {
	position: absolute;
	top: 56px;
	left: 0;
	display: none;
	width: 100%;
	padding: var(--padding-6) var(--padding-8);
	border-radius: var(--number-10);
	border: var(--border-width-static-regular) solid var(--color-border-gray-light);
	background-color: var(--color-background-gray-subtler);
	&.active {
		display: block;
	}
}
.autocomplete_list {
	max-height: 200px;
	overflow: auto;
	> li {
		> a {
			display: block;
			padding: var(--padding-5) 0;
			font-size: var(--font-size-body-medium);
			line-height: 24px;
			color: var(--color-text-subtle);
			.mark {
				font-weight: 700;
				color: var(--color-text-primary);
			}
		}
		+ li {
			// margin-top: var(--gap-7);
		}
	}

}


/**
* 이메일 자동완성
**/

.mail_list_cont {
	position: absolute;
	//top: 56px;
	top: calc(var(--size-height-8) - 1px);
	// left: 0;
	left: -1px;
	z-index: 1;
	display: none;
	// width: 100%;
	width: calc(100% + 2px);
	padding: calc(var(--padding-6) - 1px) 3px  calc(var(--padding-6) - 1px)  calc(var(--padding-8) - 1px);
	border-radius: var(--radius-medium3);
	border: var(--border-width-static-regular) solid var(--color-border-gray-light);
	background-color: var(--color-background-gray-subtler);
	&.on {
		display: block;
	}
}
.mail_list {
	max-height: 200px;
	padding-right: calc(var(--padding-8) - 6px);
	overflow-y: auto;
	//스크롤바 디자인
	&::-webkit-scrollbar {
		width: 3px;  
	}
	&::-webkit-scrollbar-track {
		background: transparent;     
		border-radius: 6px;
	}
	&::-webkit-scrollbar-thumb {
		background: var(--color-divider-gray-dark);     
		border-radius: var(--radius-max);
	}

	> li {
		&:first-child {
			margin-top: var(--padding-5);
		}
		&:last-child {
			margin-bottom: var(--padding-5);
		}
		> .text {
			display: block;
			word-break: break-all;
			font-size: var(--font-size-body-medium);
			line-height: 24px;
			color: var(--color-text-subtle);
			background-color: transparent;
			.mark {
				color: var(--color-text-primary);
			}
		}

		& + li {
			margin-top: var(--gap-7);
		}
	}

}
