.bi_form {
	flex: 1 1 0;
}

.popup_content {
	.bi_form {
		flex: 1 1 0;
		display: flex;
		width: 100%;
		height: 100%;
		.bi_wrap {
			padding: 0;
		}
	}
}


.bi_wrap {
	// --t-time: 0.5s;
	--t-time: 1s;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 0 var(--padding-8);
	font-size: 16px;
	overflow: hidden;
	
	.stepper_wrap {
		position: relative;
		height: var(--size-height-10);
		padding: 0 40px;

		.stepper {
			padding-top: 48px;
			.pgs {
				position: relative;
				height: 4px;
				border-radius: 8px;
				background-color: var(--color-element-gray-light);
				.pgs_per {
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					border-radius: 8px;
					background-color: #273884;
					transition: width var(--t-time);
					.motion {
						position: absolute;
						right: -20px;
						bottom: 8px;
						width: 44px;
						height: 32px;
						transition: right var(--t-time);
						&.car {
							background: url(../images/content/bi/icon_spm_car.svg) no-repeat center center;
							animation: bounce 0.8s linear infinite;
						}
						&.health {
							background: url(../images/content/bi/icon_spm_health.svg) no-repeat center center;
							animation: bounce 0.8s linear infinite;
						}
						&.health_loss {
							background: url(../images/content/bi/icon_spm_health_loss.svg) no-repeat center center;
							animation: bounce 0.8s linear infinite;
						}
						&.child_tooth {							
							background: url(../images/content/bi/icon_spm_child_tooth.svg) no-repeat center center;
							transform-origin: bottom center;
							animation: bounce2 2.5s linear infinite;
						}
						&.child_fetus {							
							background: url(../images/content/bi/icon_spm_child_fetus.svg) no-repeat center center;
							transform-origin: bottom center;
							animation: bounce2 2.5s linear infinite;
						}
						&.home {
							background: url(../images/content/bi/icon_spm_home.svg) no-repeat center center;
							animation: bounce 0.8s linear infinite;
						}
						&.store {
							background: url(../images/content/bi/icon_spm_store.svg) no-repeat center center;
							animation: bounce 0.8s linear infinite;
						}
						&.travel {
							background: url(../images/content/bi/icon_spm_travel.svg) no-repeat center center;
							animation: bounce 0.8s linear infinite;
						}
						&.travel_korea {
							background: url(../images/content/bi/icon_spm_travel_korea.svg) no-repeat center center;
							animation: bounce 0.8s linear infinite;
						}
						&.visit {
							background: url(../images/content/bi/icon_spm_visit.svg) no-repeat center center;
							animation: bounce 0.8s linear infinite;
						}
						&.golf {
							background: url(../images/content/bi/icon_spm_golf.svg) no-repeat center center;
							animation: bounce 0.8s linear infinite;
						}
						&.pension {
							background: url(../images/content/bi/icon_spm_pension.svg) no-repeat center center;
							animation: bounce 0.8s linear infinite;
						}
						&.dog {
							background: url(../images/content/bi/icon_spm_dog.svg) no-repeat center center;
							animation: bounce 0.8s linear infinite;
						}
						&.cat {
							background: url(../images/content/bi/icon_spm_cat.svg) no-repeat center center;
							animation: bounce 0.8s linear infinite;
						}
						&.motorcycle {
							background: url(../images/content/bi/icon_spm_motorcycle.svg) no-repeat center center;
							animation: bounce 0.8s linear infinite;
						}
						&.cancer {
							background: url(../images/content/bi/icon_spm_cancer.svg) no-repeat center center;
							animation: bounce 0.8s linear infinite;
						}
						&.saving {
							background: url(../images/content/bi/icon_spm_saving.svg) no-repeat center center;
							animation: bounce 0.8s linear infinite;
						}
						
						
						&::after {
							content: '';
							position: absolute;
							top: 0;
							right: -8px;
							width: 16px;
							height: 16px;
							background: url(../images/content/bi/end_star.svg) no-repeat center center;
							opacity: 0;
							transition: all var(--t-time);
						}
					}
					&.start {
						.motion {
							right: -40px;
							// &.car {
							// }
						}
					}
					&.end {
						.motion {
							right: 0;
							&::after {
								opacity: 1;
							}
							// &.car {
							// }
							// &.car {
							// 	right: 0;
							// 	&::after {
							// 		opacity: 1;
							// 	}
							// }
						}
					}
				}
			}
		}

		.stm_btn {
			position: absolute;
			top: 50%;
			width: 32px;
			height: 32px;
			font-size: 0;
			border-radius: 50%;
			border: var(--border-width-static-regular) solid var(--color-border-gray-light);
			background-repeat: no-repeat;
			background-position: center center;
			background-color: var(--color-action-white);
			transform: translateY(-50%);
			// visibility: hidden;
			// transition: all var(--t-time);
			&.stm_l {
				// left: -50px;
				left: 0;
				background-image: url(../images/content/bi/icon_stm_l.svg);
			}
			&.stm_r {
				// right: -50px;
				right: 0;
				background-image: url(../images/content/bi/icon_stm_r.svg);
			}
			&.active {
				visibility: visible;
				&.stm_l {
					left: 0;
				}
				&.stm_r {
					right: 0;
				}
			}
			&:disabled {
				border: var(--border-width-static-regular) solid var(--color-action-disabled);
				background-color: var(--color-action-disabled);
				&.stm_l {
					background-image: url(../images/content/bi/icon_stm_l_disabled.svg);
				}
				&.stm_r {
					background-image: url(../images/content/bi/icon_stm_r_disabled.svg);
				}
			}
		}
	}
	
	
}

/* 기조정보 상단 노출 영역 */
.bi_stepper {
	flex: 1 1 0;
	display: flex;
	flex-direction: column;
}

.bi_top {
	.bit {
		position: relative;
		// height: 110px;
		height: 136px;
		// padding-top: 16px;
		// down to up

		//sub_txt, button 있는 케이스(어린이보험(태아), 연금보험)
		&:has(.height_fixed:not(.active)) {
				height:143px;
		}

		&.bit_etc1 {
			height: 150px;
		}


		// bit_inner
		&_inner {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			opacity: 1;
			visibility: visible;
			transition: var(--t-time);
			// bit_inner_text
			&_text {
				padding-top: 16px;
				font-size: 24px;
				line-height: 1.4;
				color: var(--color-text-bolder);
				.sub_txt {
					display: block;
					padding-top: 8px;
					font-size: var(--font-size-body-small);
					color: var(--color-text-subtle);
				}
			}
			&_sub_text {
				display: block;
				padding-top: 8px;
				font-size: var(--font-size-body-small);
				color: var(--color-text-subtle);
				.tooltip_wrap {
					// vertical-align: top;
					vertical-align: baseline;
				}
			}
			&.active {
				top: 30px;
				opacity: 0;
				visibility: hidden;
				transition: opacity 0s;
			}
		}
	}
	.bit_history {
		position: relative;
		// margin: 16px 0;

		margin: 16px -24px;
		padding: 0 24px;
		overflow-x: scroll;

		/*
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: -20px;
			z-index: 1;
			width: 20px;
			height: 100%;
			pointer-events: none;
			background: rgb(255,255,255);
			background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(254,254,254,0) 100%);
		}
		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: -20px;
			width: 20px;
			height: 100%;
			pointer-events: none;
			background: rgb(255,255,255);
			background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(254,254,254,0) 100%);
		}
		*/
		.bit_history_inner {
			// display: flex;
			// gap: var(--gap-4);
			// margin: 0 -20px;
			// padding: 0 20px;
			// overflow-x: scroll;

			position: relative;
			display: inline-flex;
			align-items: center;
			gap: var(--gap-4);
			white-space: nowrap;
		}
	}
	.bit_btn_scrollx {
		display: flex;
		gap: var(--gap-2); 
		// margin-top: var(--gap-3);
		margin: 8px -20px 0 -20px;
		padding: 0 20px;
		overflow-x: scroll;
		white-space: nowrap;
	}
}

/* 기조정보 상단 노출 영역 */


/* 기조정보 선택 영역 */
.bi_opts_wrap {
	position: relative;
	flex: 1 1 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;
	margin: 16px 0 0 0;
	// overflow: hidden;
	.opts_area {
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		overflow: auto;
		opacity: 1;
		visibility: visible;
		transition: var(--t-time);
		transition-delay: 0.3s;
		overflow: hidden;

		.opts_area_item {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			max-height: 100%;
			display: flex;
			flex-flow: row wrap;
			gap: 12px;
			padding-bottom: var(--padding-9);
			overflow: auto;
			opacity: 1;
			visibility: visible;
			transition: var(--t-time);
			background-color: #fff;
			&.column {
				flex-direction: column;
				flex-flow: column;
				gap: 12px 0;

				&.ty2 {
					flex-flow: column;
					gap: 24px 0;
				}

				.inp_radio {
					width: 100%;
				}

				.checkbox_group_wrap {
					gap: var(--gap-7);
				}
				.radio_group_wrap {
					gap: var(--gap-7);
				}
				.divider_ty2 {
					flex:none;
				}
				.hd_btn {
					flex: none;
				}
			}

			.list_ty2 {
				margin-top: 4px;
			}

			&.oai_lock {
				overflow: hidden;
				height: 100%;
				padding-bottom: var(--padding-6);
			}

			&.etc_c_1 {
				padding-top: 60px;
			}

			// .oai_i_half {
			// 	flex: none;
			// 	width: calc(50% - 6px);
			// }

			.btn_area {
				width: 100%;
			}

			.item_box {
				flex: 1 1 0;
				display: flex;
				flex-direction: column;
				width: 100%;
				height: 100%;

				.cont {
					flex: 1;
					overflow: auto;
					padding-bottom: var(--gap-7);

					& + .bottom_fix_wrap {
						padding-top: var(--gap-4);
						background-color: var(--color-surface-white-subtle);
					}
				}

				.bottom_fix_wrap {
					flex: none;
					padding: 0;
				}

				.inp_radio {
					width: 100%;
				}

				.checkbox_group_wrap,
				.radio_group_wrap {
					gap: var(--gap-7);
					& + .inp_checkbox {
						margin-top: var(--gap-8);
					}
				}
				.radio_group_wrap {
					&.ty2 {
						gap: var(--gap-4);
						.inp_radio {
							flex: none;
							width: calc(50% - 6px);
						}
					}
				}
				.divider_ty2 {
					margin: var(--gap-7) 0;
				}

				&:has(.opts_area_item) {
					justify-content: flex-end;
					.cont {
						flex: initial;
						position: inherit;
						padding-bottom: 0;
					}
				}
			}

			.hd_btn_s_b1 {
				> .text {
					text-align: left;
				}
			}

			// 기초정보입력 선택된 상태값 표기			
			.inp_radio {
				&.selected {
					input[type="radio"] {
						& + label {
							&::after {
								border: var(--border-width-static-medium) solid var(--color-border-primary);
							}
						}
					}
				}
			}
			// 기초정보입력 선택된 상태값 표기

		}

		.oai_block {
			flex: none;
			width: 100%;
		}

		
		.inp_radio {
			flex: none;
			width: calc(50% - 6px);
			&.full {
				width: 100%;
				& + .inp_checkbox {
					margin-top: var(--gap-8);
				}
			}
		}
		.inp_checkbox {
			flex: none;
			&.full {
				width: 100%;
			}
		}
		.bottom_fix_wrap {
			flex: none;
			padding: 0;
			width: 100%;
		}
		.direct_select_btn {
			flex: none;
			width: calc(50% - 6px);
		}

		.oai_filter {
			display: flex;
			align-items: center;
			gap: 0 8px;
			.select_item {
				min-width: 0;
				flex: 1 1 0;
				margin-top: 0;
			}
			.oai_filter_reset {
				flex: none;
			}
		}

		.no_list_area {
			flex: none;
			width: 100%;
		}


		&.active {
			z-index: 0;
			opacity: 0;
			visibility: hidden;
			.opts_area_item {
				bottom: -100%;
				z-index: 0;
				opacity: 0;
				visibility: hidden;
				transition: bottom 0s;
			}
		}
	}
	
}
/* 기조정보 선택 영역 */


.selected_case {
	flex: none;
	position: relative;
	width: auto;
	padding: 9px 9px 9px 33px;
	font-size: var(--font-size-body-small);
	line-height: 20px;
	color: var(--color-text-basic);
	border-radius: 12px;
	background-repeat: no-repeat;
	background-position: 9px center;
	background-size: 20px auto;
	border: var(--border-width-static-regular) solid var(--color-border-gray);
	background-color: var(--color-action-white);
	visibility: visible;
	opacity: 1;
	&.selected {
		padding: 8px 8px 8px 32px;
		border: var(--border-width-static-medium) solid var(--color-border-primary);
		background-position: 8px center;
	}
	&.person {
		background-image: url(../images/content/bi/icon_stepper_person.svg);
	}
	&.car {
		background-image: url(../images/content/bi/icon_stepper_car.svg);
	}
	&.date {
		background-image: url(../images/content/bi/icon_stepper_date.svg);
	}
	&.birth {
		background-image: url(../images/content/bi/icon_stepper_birth.svg);
	}
	&.gender {
		background-image: url(../images/content/bi/icon_stepper_gender.svg);
	}
	&.job {
		background-image: url(../images/content/bi/icon_stepper_job.svg);
	}
	&.country {
		background-image: url(../images/content/bi/icon_stepper_country.svg);
	}
	&.period {
		background-image: url(../images/content/bi/icon_stepper_period.svg);
	}
	&.work {
		background-image: url(../images/content/bi/icon_stepper_work.svg);
	}
	//출산예정일
	&.pregnant {
		background-image: url(../images/content/bi/icon_stepper_pregnant.svg);
	}
	// 견종
	&.dog {
		background-image: url(../images/content/bi/icon_stepper_dog.svg);
	}
	// 암수
	&.sex {
		background-image: url(../images/content/bi/icon_stepper_sex.svg);
	}
	// 등록
	&.reg {
		background-image: url(../images/content/bi/icon_stepper_reg.svg);
	}
	// 고양이
	&.cat {
		background-image: url(../images/content/bi/icon_stepper_cat.svg);
	}
	// 금액
	&.won {
		background-image: url(../images/content/bi/icon_stepper_won.svg);
	}
	// 제조사
	&.maker {
		background-image: url(../images/content/bi/icon_stepper_car_maker.svg);
	}
	// 세부차명
	&.detail1 {
		background-image: url(../images/content/bi/icon_stepper_car_detail1.svg);
	}
	// 세부형식
	&.detail2 {
		background-image: url(../images/content/bi/icon_stepper_car_detail2.svg);
	}
	// 주택유형
	&.home {
		background-image: url(../images/content/bi/icon_stepper_home.svg);
	}
	// 동/호수
	&.building {
		background-image: url(../images/content/bi/icon_stepper_building.svg);
	}
	// 층
	&.floor {
		background-image: url(../images/content/bi/icon_stepper_floor.svg);
	}
	// 음식점
	&.store {
		background-image: url(../images/content/bi/icon_stepper_store.svg);
	}
	// 보험
	&.insurance {
		background-image: url(../images/content/bi/icon_stepper_insurance.svg);
	}
	//풍수해지진재해(소상공인)
	&.stamp {
		background-image: url(../images/content/bi/icon_stepper_stamp.svg);
	}
	//연료형태
	&.fuel {
		background-image: url(../images/content/bi/icon_stepper_fuel.svg);
	}
	// 호수
	&.room {
		background-image: url(../images/content/bi/icon_stepper_building.svg);
	}
	
	
	
	&:empty {
		width: 0;
		padding: 9px 0;
		visibility: hidden;
		opacity: 0;
		+ button {
			margin-left: -10px;
		}
	}
}


@keyframes bounce {
	0% {
		bottom: 8px;
	}
	50%{
		bottom: 6px;
	}
	100%{
		bottom: 8px;
	}
}
@keyframes bounce2 {
	0% {
		transform: rotate(5deg);
	}
	50%{
		transform: rotate(-5deg);
	}
	100%{
		transform: rotate(5deg);
	}
}





// 키패드
.birth_date_field_wrap {
	position: relative;
	.bdf_placeholder {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		text-align: center;
		font-weight: 700;
		font-size: var(--font-size-heading-large);
		color: var(--color-text-disabled);
		.ex {
			font-size: var(--font-size-heading-xsmall);
		}
	}
}
.birth_date_field {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 36px;
	font-weight: 700;
	font-size: var(--font-size-heading-large);
	color: var(--color-text-disabled);
	text-align: center;
	margin-bottom: var(--gap-5);
	
	&.active {
		color: var(--color-text-basic);
		&::before {
			content: none;
		}
		&::after {
			content: '';
			display: inline-block;
			height: 28px;
			margin-left: 4px;
			border-left: var(--border-width-static-medium) solid var(--color-element-primary);
			animation: wating 1.5s linear infinite;
		}
		+ .bdf_placeholder {
			display: none;
		}
	}
}

@keyframes wating {
	0% {
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

.bi_keypad {
	display: flex;
	flex-direction: column;
	gap: var(--gap-3);
	&_item {
		display: flex;
		justify-content: space-between;
		gap: var(--gap-3);
		.keypad_btn {
			display: block;
			width: 100%;
			height: var(--size-height-8);
			font-size: 24px;
			color: var(--color-text-basic);
			text-align: center;
			background-color: #fff;
			&.keypad_btn_del {
				background: #fff url(../images/content/bi/icon_del.svg) no-repeat center center;
				background-size: 32px 32px;
				
			}
			&.keypad_btn_delall {
				font-size: var(--font-size-label-large);
			}
		}

	};
}




.msg_display {

	input {
		+ label {
			+ .tip_item {
				.word1 {
					display: none;
				}
				.word2 {
					display: block;
				}
			}
		}
		&:checked {
			+ label {
				+ .tip_item {
					.word1 {
						display: block;
					}
					.word2 {
						display: none;
					}
				}
			}
		}
	}

	.tip_item {
		left: -54px;
		&.top {
			bottom: calc(100% + 10px);
		}
	}

}