.cm_monitoring_wrap {
	max-width: 1140px;
	margin: 0 auto;
}

.cm_monitoring {
	max-width: 1040px;
	.cmm_head {
		padding: 40px 0;
		text-align: center;
		a {
			display: inline-block;
			font-size: 0;
			img {
				display: block;
				width: 200px;
			}
		}
	}


	.cmm_content {
		margin: 0 auto;
		text-align: center;
		.cmm_content_form {
			display: inline-block;
			text-align: left;
		}


		.cmm_content_title {
			padding: 40px 0 36px 0;
			font-size: 32px;
			.point {
				font-weight: 400;
			}
		}

		.form_group_wrap {
			display: inline-block;
			width: 400px;

		}
	}

	.cmm_copy {
		margin-top: 80px;
		padding: 20px;
		font-size: 14px;
		color: #999;
		text-align: center;
		border-top: var(--border-width-static-regular) #ddd;
	}


}