.guide_wrap {
	display: flex;
	flex-direction: column;
	padding: 0 !important;
	height: 100%;
}

.smp {
	display: flex;
	flex-direction: column;
	height: 100%;
	font-size: 16px;
	&__header {
		flex: none;
		.ds1 {
			height: 100px;
			background-color: blue;
		}
		.ds2 {
			height: 100px;
			background-color: green;
		}
		.ds3 {
			height: 100px;
			background-color: red;
		}
		.ds4 {
			height: 100px;
			background-color: #ddd;
		}
	}
	&__content {
		flex: 1 1 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		height: 100%;
		overflow: auto;
		background-color: magenta;
		.opts_area {
			display: flex;
			flex-flow: row wrap;
			max-height: 100%;
			overflow: auto;
			gap: 12px;
			.inp_radio {
				width: calc(50% - 6px);
				background-color: blue;
				height: 100px;
				&:nth-child(even) {
					background-color: yellow;
				}
			}
		}
		
	}

}
