.container {
    &.home,
    &.cyber {
        padding: 0 0 var(--padding-13) 0;
        background: var(--color-background-blue-darker, #313D4C);
        .content {
            background: transparent;
        }
        .h2_title {
            ~ .ing_banner {
                margin-top: var(--gap-5);
            }
            + .icon_link {
                margin-top: var(--gap-6);
            }
            + .banner_box {
                margin-top: var(--gap-6);
                > a {
                    margin-top: var(--gap-5);
                }
            }
            
            ~ .bg_rain,
            ~ .my_list {
                margin-top: var(--gap-9);
            }
        }
        .btn_area {
            margin-top: var(--padding-8);
        }
        .home_card {
            padding: var(--padding-10) var(--padding-9);
            border-radius: var(--radius-xlarge2);
            background: var(--color-surface-white-subtle);
            &:focus {
                outline: #313D4C;
            }
            &.top {
                padding: var(--padding-6) var(--padding-9) var(--padding-10) var(--padding-9);
                border-radius: 0px 0px var(--radius-xlarge2) var(--radius-xlarge2);
                &.sticky {
                    position: sticky;
                    top: 0;
                    .top_item_box {
                        .product_top {
                            margin: var(--gap-6) -24px 0;
                            display: flex;
                            flex-wrap: wrap; 
                            button {
                                flex-basis: 25%;
                                text-align: center;
                                font-size: var(--font-size-body-small);
                                padding: 32px var(--padding-3) var(--padding-5);
                                background-size: 32px auto;
                                background-position: top center;
                                background-repeat: no-repeat;
                                @for $i from 1 through 8 {
                                    &.product_top#{$i}{
                                        background-image: url(../images/content/ho/icon_product_top#{$i}.svg);
                                    }
                                }
                            }
                        }
                    }
                    &.active {
                        margin: 0;
                        box-shadow: 0px var(--shadow-y-2) var(--shadow-blur-2) 0px var(--color-alpha-shadow1, rgba(0, 0, 0, 0.05));
                        z-index: 10;
                        .top_item_box {
                            overflow-x: auto;
                            margin: 0 -32px;
                            .h2_title {
                                display: none;
                            }
                            .product_top {
                                margin: 0;
                                padding: 0 24px;
                                width: max-content;
                                white-space: nowrap;
                                gap: var(--gap-3);
                                button{
                                    flex-basis: auto;
                                    padding: var(--padding-2) var(--padding-4);
                                    height: 32px;
                                    min-width: 48px;
                                    border-radius: var(--radius-max);
                                    background: var(--color-element-secondary-lighter);
                                    &.active {
                                        color: var(--color-text-basic-inverse);

                                        background: var(--color-border-secondary);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            + .banner_box,
            + .register_box,
            ~ .home_card {
                margin-top: var(--gap-1);
            }
            .bg_rain {
                background: var(--color-surface-white-subtle) url(../images/content/ho/bg_umbrella.png) no-repeat top right / 88px auto;
            }
            .bg_pay_benefit {
                background: var(--color-surface-white-subtle) url(../images/content/ho/bg_pay_benefit.png) no-repeat top right / 88px auto;
                + .icon_link {
                    margin-top: var(--gap-6);
                }
            }
            &.product {
                background-repeat: no-repeat;
                background-size: 140px auto;
                background-position: right 77px;
                @for $i from 1 through 8 {
                    &.bg_ty0#{$i}{
                        background-image: url(../images/content/ho/bg_product#{$i}.png);
                    }
                }
                .title_h6 {
                    + .pro_tit {
                        margin: var(--gap-5) 0;
                        min-height: 132px;
                        padding: 0 105px var(--gap-4) 0;
                        > * {
                            margin-top: var(--gap-2);
                        }
                        + .bn_scroll_wrap {
                            margin: var(--gap-5) -32px;
                        }
                    }
                }
            }
            
            &.bn_box {
                padding-bottom: 168px;
                > .my_title {
                    > h2 {
                        color: var(--color-text-bolder);
                    }
                }
                .h2_title {
                    + .btn_area {
                        margin-top: var(--gap-5);
                    }
                }
                &.ty1 {
                    background: var(--color-surface-secondary-subtler) url(../images/content/ho/my_bn_bg01.png) no-repeat bottom center / auto 160px;
                    .h2_title {
                        text-align: center;
                    }
                }
                &.ty2 {
                    background: var(--color-surface-secondary-subtler) url(../images/content/ho/my_bn_bg02.png) no-repeat bottom center / contain;
                    @media (min-width: 600px) {
                        background-size: cover;
                    }
                }
                &.ty3 {
                    background: var(--color-surface-secondary-subtler) url(../images/content/ho/my_bn_bg03.png) no-repeat bottom center / contain;
                    @media (min-width: 600px) {
                        background-size: cover;
                    }
                }
                &.ty4 {
                    background: var(--color-surface-secondary-subtler) url(../images/content/ho/my_bn_bg04.png) no-repeat bottom center / contain;
                    @media (min-width: 600px) {
                        background-size: cover;
                    }
                }
                
            }
            &.bn_box2 {
                background: linear-gradient(0deg, var(--color-surface-primary-subtler, #FEEFEC) 0%, var(--color-surface-primary-subtler, #FEEFEC) 100%), var(--color-surface-secondary-subtler, #EEF2F7);
                > div {
                    background: url(../images/content/ho/bg_document.png) no-repeat top right / 88px auto;
                }
            }
            &.gray {
                background: var(--color-surface-gray-subtler);
                .bn_scroll_wrap {
                    .bn_item_wrap {
                        a {
                            background-color: var(--color-surface-white-subtler);
                        }
                    }
                }
            }
        }
        .banner_box {
            a {
                + a {
                    margin-top: var(--gap-1);
                }
            } 
        }
        .btn_menu_search {
            border-radius: var(--radius-large1);
            background: var(--color-surface-gray-subtler);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 56px;
            font-size: var(--font-size-body-small);
            gap: var(--gap-3);
            .hd_icon {
                width: 16px;
                height: 16px;
                background-size: 16px auto;
            }
        }
        .btn_basket {
            display: flex;
            align-items: center;
            height: 64px;
            width: 100%;
            padding: var(--padding-8);
            font-size: var(--font-size-button-large);
            color: var(--color-text-basic-inverse);
            font-weight: 400;
            .hd_icon {
                background-size: 20px auto;
            }     
        }

        .register_box {
            display: flex;
            gap: var(--gap-1);
            > a {
                flex: 1;
                padding: var(--padding-7) var(--padding-8);
                font-size: var(--font-size-body-small);
                border-radius: var(--radius-xlarge2);
                background: var(--color-surface-secondary-subtler);
                strong {
                    margin-top: var(--gap-2);
                    padding-left: var(--padding-8);
                    display: block;
                    color: var(--color-text-secondary-light);
                    &.call {
                        background: url(../images/content/ho/icon_call.svg) no-repeat left center / 20px auto;
                    }
                    &.mobilize {
                        background: url(../images/content/ho/icon_mobilize.svg) no-repeat left center / 20px auto;
                    }
                }
            }
        }
        .ing_banner {
            display: flex;
            justify-content: space-between;
            gap: var(--gap-4);
            padding: var(--padding-6) var(--padding-5);
            font-size: var(--font-size-body-xsmall);
            border-radius: var(--radius-medium1);
            background: #F5F5F5;
            .cont {
                padding-left: 28px;
				word-wrap: break-word;
				word-break: auto-phrase;
                background: url(../images/content/ho/icon_bell.svg) no-repeat left top / 24px auto;
            }
            .close {
				width: 20px;
				height: 20px;
				background: url(../images/icon/close_ty1.svg) no-repeat center / 20px auto;
            }
        }
        .my_list {
            .title_box  {
                h2 {
                    color: var(--color-text-secondary-light);
                }
            }
            + .btn_area   {
                margin-top: var(--gap-5);
            }
            .h2_title {
                + .btn_area   {
                    margin-top: var(--gap-6);
                }
            }
        }
        .bottom_fix_notice {
            margin: 0;
            padding: 0;
        }
        .list_box {
            padding: var(--padding-8);
            .list_ty2 {
                li {
                    color: var(--color-text-subtle-inverse);
                }
            }
        }
    }
}

.h2_title {
    font-size: var(--font-size-heading-medium);
    + .my_title {
        margin-top: var(--gap-7);
    }
    + .sub_text {
        margin-top: var(--gap-4);
    }
}
.my_title  {
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-body-xsmall);
    color: var(--color-text-subtle);
    h2 {
        font-size: var(--font-size-heading-xxsmall);
				color: var(--color-text-secondary-light);
				// background-color: red;
        font-weight: 700;
    }
    + .h2_title,
    + .card_item_wrap {
        margin-top: var(--gap-5);
    }
    + .badge_wrap {
        margin-top: var(--gap-4);
        + .info_gray {
            margin-top: var(--gap-7);
        }
    }
}
.sub_text {
    font-size: var(--font-size-body-small);
    color: var(--color-text-subtle);
}
.icon_link {
    display: flex;
    gap: var(--gap-3);
    .item {
        flex: 1;
        position: relative;
        padding-top: 32px;
        font-size: var(--font-size-body-medium);
        text-align: center;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 32px auto;
        @for $i from 1 through 28 {
            &.opt#{$i}{
                background-image: url(../images/content/ho/icon_link#{$i}.svg);
            }
        }
        .title {
            font-size: var(--font-size-body-medium);
            display: flex;
            align-items: center;
            gap: var(--gap-2);
            & + .cont {
                margin-top: var(--gap-2);
                font-size: var(--font-size-body-small);
                color: var(--color-text-subtle);
            }
        }
    }
    &.list {
        border-top: var(--border-width-static-regular) solid var(--color-divider-gray-light);
        flex-direction: column;
        gap: 0;
        .item {
            padding: 20px 36px 20px 44px;
            text-align: left;
            background-position: center left;
            border-bottom: 1px solid var(--color-divider-gray-light);
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                width: 24px;
                height: 24px;
                background: transparent url(../images/icon/arrowRight_ty4.svg) no-repeat center / 20px auto;
                transform: translateY(-50%);
            }
        }

    }
    + .list_ty2 {
        margin-top: var(--gap-5);
    }
}
.bn_scroll_wrap {
    margin: 20px -32px 0;
    overflow-x: auto;
    .bn_item_wrap {
        padding: 0 32px;
        width: max-content; 
        display: flex;
        gap: var(--gap-3);
        > div,
        a {
            padding: var(--padding-8) var(--padding-7);
            font-size: var(--font-size-body-medium);
            border-radius: var(--radius-large2);
            background-color: var(--color-surface-gray-subtler);
            flex-shrink: 0;
            word-break: keep-all;
        }
        &:not(.ty3) {
            a {
                width: 41.5vw;
            }
        }
        &.ty1 {
            a {
                padding-top: 60px;
                background-repeat: no-repeat;
                background-size: 32px auto;
                background-position: 24px 24px;
                @for $i from 1 through 2 {
                    &.opt#{$i}{
                        background-image: url(../images/content/ho/icon_benefit01_#{$i}.svg);
                    }
                }
            }
        }
        &.ty2 {
            a {
                padding-top: 96px;
                background-repeat: no-repeat;
                background-size: 56px auto;
                background-position: 24px 24px;
                @for $i from 1 through 2 {
                    &.opt#{$i}{
                        background-image: url(../images/content/ho/icon_benefit02_#{$i}.png);
                    }
                }
            }
            > div:not(.auto) {
                width: 40vw;
            }
            .tit {
                font-size: var(--font-size-body-small);
                color: var(--color-text-subtle);
                + .cont {
                    margin-top: var(--gap-2);
                }
            }
            .badge_wrap {
                + .cont {
                    color: var(--color-text-basic);
                }
            }
        }
        &.ty3 {
            a {
                img {
                    margin: auto;
                    display: block;
                    width: 92px;
                }
            }
        }
        &.ty4 {
            a {
                .badge_wrap {
                    + .cont {
                        margin-top: var(--gap-2);
                    }
                }
            }
        } &.ty5 {
            > div:not(.auto) {
                width: 40vw;
            }
            .tit {
                font-size: var(--font-size-label-small);
                color: var(--color-text-subtle);
                + .cont {
                    margin-top: var(--gap-2);
                    font-size: var(--font-size-body-small);
                }
            }
        }
    }
}