.is_diagnosis_service {
	.inner {
		.service_visual {
			height: 100%;
			margin: 0 -24px;
			padding: var(--padding-12) var(--padding-8) 254px;
			background: var(--color-surface-warning-subtler) url(../image/content/mypg/img_MHOMYPG13005000000_1.svg) no-repeat center bottom;
		}
	}
}