.bottom_panel{
	width:100%;
	background-color: var(--color-surface-white-subtle);	
	border-radius: var(--radius-medium3) var(--radius-medium3) 0 0;
	box-shadow: 0 var(--shadow-y-minus2, -6px) var(--shadow-blur-2, 8px) 0 var(--color-alpha-shadow1, rgba(0, 0, 0, 0.05));

	.item_hidden {
		display: none;
		overflow: hidden;
	}	

	.bottom_panel_toggle {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding: 0 2px;
		font-size: var(--font-size-button-large);
		background-image: none;
		&::after {
			content:"";
			display: inline-flex;
			width: 20px;
			height: 20px;
			background: url(../images/icon/arrowDown_ty3.svg) no-repeat center center / 20px auto;
			transform: rotate(-180deg);
		}
	}

	.bottom_panel_cont {
		padding-top: var(--gap-5);
		
		.info_gray {	
			&.bg_etc01 {
				margin-top:0;	
				padding:0;
			}
			&:not(.bg_etc01) {
				margin-top: var(--gap-8);
			}
			dt {
				max-width: none;
			}
		}

		.total_price_display_ty1 {
			& + .item_hidden,
			& + .info_gray {
				margin-top: var(--gap-5);
			}
		}
		
		.item_hidden {
			> * {
				&:first-child {
					margin-top: 0;
				}
			}
		}

		& + .btn_area {
			margin-top: var(--padding-5);;
			padding-top: var(--padding-5);
		}
	}

	&.active {
		position: fixed;
		bottom:0;
		left:0;
		z-index: 20;

		.item_hidden {
			border-color: var(--color-divider-gray-light);
		}
		.bottom_panel_toggle {
			&::after {
				transform: rotate(0deg);
			}
		}
	}
}

