// 운전자보험 - 보험료 결제
.insurance_payment_area {
	position: relative;
}

.bann_wrap {
	&.bann_ty1 {
		display: flex;
		gap: 12px;
		padding: 16px 24px;
		background-color: var(--color-element-success-lighter);
		border-radius: 24px;
	
		.bann_cont {
			.title {
				font-size: var(--font-size-heading-xsmall);
				line-height: 24px;
				font-weight: 700;
			}
		
			.cont {
				margin-top: 4px;
				font-size: var(--font-size-body-small);
				line-height: 21px;
				color: var(--color-text-subtle);
			}
		}

		&.co_ty2 {
			background-color: var(--color-element-secondary-light-blue);
		}
		&.co_ty3 {
			background-color: var(--color-element-warning-lighter);
		}
	}

	&.bann_ty2 {
		background-color: var(--color-element-success-lighter);
	}

	.logo_card_hundai {
		width: 32px;
		height: 32px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 32px auto;
	}
}



// 간편결제 정보
