.sii_wrap {
	.tag_item_wrap {
		background-color: #fff;
		&.sticky {
			position: sticky;
			top: 0;
			z-index: 1;
		}
	}

}

.summary_ii {
	> li {
		position: relative;
		+ li {
			margin-top: 52px;
		}
		&::before {
			content: '';
			position: absolute;
			top: 32px;
			left: 16px;
			height: calc(100% - 32px);
			border-left: 1px solid #CDD1D5;
		}
		[class ^="title_"] {
			&.side_b {
				padding-right: 60px;
			}
		}
		> .sic_modify {
			position: absolute;
			top: 3px;
			right: 0;

		}
	}

	.summary_ii_top {
		padding: 1px 0 1px 40px;
		//  padding-left: 40px;
		background-repeat: no-repeat;
		background-position: left top;
		background-size: 32px auto;

		&.sit_ty1 {
			background-image: url(../images/content/mtps/icon_MPRMTPS10009000000_01.svg);
		}
		&.sit_ty2 {
			background-image: url(../images/content/mtps/icon_MPRMTPS10009000000_02.svg);
		}
		&.sit_ty3 {
			background-image: url(../images/content/mtps/icon_MPRMTPS10009000000_03.svg);
		}
		&.sit_ty4 {
			background-image: url(../images/content/mtps/icon_MPRMTPS10009000000_04.svg);
		}
		&.sit_ty5 {
			background-image: url(../images/content/mtps/icon_MPRMTPS10009000000_05.svg);
		}
		&.sit_ty6 {
			background-image: url(../images/content/mtps/icon_MPRMTPS10009000000_06.svg);
		}

		+ .summary_ii_cont {
			margin-top: 16px;
		}


	}

	.summary_ii_cont {
		position: relative;
		padding-left: 40px;
	}

	.sic_cont_inner {
		position: relative;
		+ .sic_cont_inner {
			margin-top: 40px;
		}
		.title_h4 {
			+ .sic_list {
				margin-top: 16px;
			}
		}
		> .sic_modify {
			position: absolute;
			top: 1px;
			right: 0;
		}
	}

	.sic_list {
		> li {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			gap: 8px;
			font-size: var(--font-size-body-small);
			+ li {
				margin-top: 16px;
			}
		}
		.sic_list_l {
			flex: none;
			max-width: 130px;
			color: var(--color-text-subtle);
			word-break: keep-all;
		}
		.sic_list_r {
			flex: 1 1 0;
			text-align: right;
		}

	}
}