// 자동차번호 입력
.car_type_option {
	.icon_case {
		input[type=radio] + label {
			padding: var(--padding-card-large) var(--number-8);
			background-repeat: no-repeat;
			background-size: 32px auto;
			background-position: 16px center;
		}

		.inp_radio {
			&:first-child {
				input[type=radio] + label {
					background-image: url(../images/content/mtps/icon_car_type_option1.svg);
				}
			}
			&:nth-child(2) {
				input[type=radio] + label {
					background-image: url(../images/content/mtps/icon_car_type_option2.svg);
				}
			}
			&:nth-child(3) {
				input[type=radio] + label {
					background-image: url(../images/content/mtps/icon_car_type_option3.svg);
				}
			}
		}
	}
}