/* 자동차보험 | 6.보험료 계산결과 */
.special_contract_list {
    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        .check_box {
            display: flex;
            align-items: center;
            gap: 8px;
            .question_mark_btn {
                background: transparent;
                width: 20px;
                height: 20px;
                .hd_icon.popover_help {
                    width: inherit;
                    height: inherit;
                }
            }
        }
        .money {
            color: var(--color-text-primary);
            font-size: var(--font-size-button-large);
            line-height: 24px;
            font-weight: 700;
        }
        & + li {
            margin-top: 20px;
        }
    }
}