// 설계정보 입력

.main_title {
	font-size: var(--font-size-heading-medium);
	color: var(--color-text-bolder);
}


.car_main_top {
	margin: 0 -24px;
	padding: 16px 24px 60px;
	background: url(../images/content/mtps/img_MPRMTPS10002010000.png) no-repeat right bottom / 156px auto;

	.logo {
		& + .point,
		& + .title_h2 {
			margin-top: 16px;
		}
	}
	
	.point {
		font-size: var(--font-size-heading-xsmall);
		font-weight: 700;
		line-height: 24px;
	}

	& + .bg_area {
		margin-top: -26px;
	}
}