.autocomplete_wrap {
	+ .recommend_wrap {
		margin-top: 52px;
	}
}


.title_h4 {
	+ .recommend_wrap_item {
		margin-top: 16px;
	}
}
.recommend_wrap {
	.recommend_wrap_item {
		display: flex;
		flex-flow: row wrap;
		gap: 8px;
	}
}