//차량관련 확인사항

.view_img_list {
	display: flex;
	flex-flow: row wrap;
	gap: 12px;

	> li {
		width: calc((100% - 24px) / 3);
		text-align: center;

		.thumnail {
			box-sizing: border-box;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 106px;
			border: 1px solid var(--color-element-gray-light);
			border-radius: 12px;

			img {
			}

			& + .name {
				margin-top: 8px;
			}
		}

		> .name {
			font-size: var(--font-size-label-medium);
		}
	}
}