// 설계정보 입력

.main_title {
	font-size: var(--font-size-heading-medium);
	color: var(--color-text-bolder);
}

// 상단 영역
.product_main_top {
	margin: 0 -24px;
	padding: 0 24px 60px;

	//자동차보험
	background: url(../images/content/mtps/visual_mtps_ty1.png) no-repeat right bottom 26px / 160px auto;


	.logo {
		width: 160px;
		& + .secondary,
		& + .title_h2 {
			margin-top: var(--gap-5);
		}
	}
	
	.secondary {
		font-size: var(--font-size-heading-xsmall);
		font-weight: 700;
		line-height: 24px;
		.sd {
			display: block;
			font-weight: 400;
			font-size: var(--font-size-body-xsmall);
			line-height: normal;
		}
	}

	& + .bg_area {
		margin-top: -26px;
	}

	//자동차보험 2타입
	&.car2 {
		background-image: url(../images/content/mtps/visual_mtps_ty2.png);
	}
	//영업용
	&.sales {
		background-image: url(../images/content/mtps/visual_mtsl.png);
	}
	//법인용
	&.corporate {
		background-image: url(../images/content/mtps/visual_mtbz.png);
	}
	//이륜차보험
	&.moto {
		background-image: url(../images/content/mtps/img_MPRMTPS10002010000_motor.png);
	}

	//타임쉐어
	&.share {
		background-image: url(../images/content/mtps/img_MPRMTPS10002010000_share.png);
	}

	// 친구 소개
	&.fi {
		background-image: url(../images/content/mtps/visual_fi.png);
	}
}

// 정보입력 폼
.input_form_box {
	// margin-top: -26px;
	margin-top: -30px;
	background-color: var(--color-surface-gray-subtle);
	border-radius: var(--radius-medium3);

	& + .img_area,
	& + .form_group_wrap,
	& + .bg_area {
		margin-top: var(--gap-9);
	}
	& + .checkbox_group_wrap {
		margin-top: var(--gap-6);
		margin-bottom: var(--gap-9);
	}

	.input_title {
		padding: 16px 24px;
		font-size: var(--font-size-label-medium);
		color: var(--color-text-basic);
	}

	// 자동차 소유 정보 입력영역
	.input_item_wrap {
		border-radius: var(--radius-medium3);
		box-shadow: 0 0 2px 0 var(--color-alpha-shadow1, rgba(0, 0, 0, 0.05)), 0 4px 8px 0 var(--color-alpha-shadow2, rgba(0, 0, 0, 0.08));
		overflow: hidden;

		.acd_item {
			position: relative;
			overflow: hidden;

			&:before {
				content: '';
				position: absolute;
				top:0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: -1;
				box-shadow: 0 0 2px 0 var(--color-alpha-shadow1, rgba(0, 0, 0, 0.05)), 0 4px 8px 0 var(--color-alpha-shadow2, rgba(0, 0, 0, 0.08));
			}

			& ~ .acd_item {
				border-top: var(--border-width-static-regular) solid var(--color-divider-gray-light);
			}

			.acd_head {
				background-color: var(--color-background-white);
				overflow: hidden;
				
				.acd_btn {
					position: relative;
					width: 100%;
					padding: var(--padding-7) 48px var(--padding-7) var(--padding-8);
					font-size: var(--font-size-label-medium);
					background-color: var(--color-background-white);
					transition: all .4s;
					& > span {
						line-height: 24px;
					}

					&:after {
						content:'';
						position: absolute;
						right: 24px;
						top: calc(50% - 12px);
						width: 24px;
						height: 24px;
						background: url(../images/icon/arrowDown_ty1.svg) no-repeat right center / 24px auto;
					}
					
					&[aria-expanded='true']{
						&:after {
							transform: rotate(180deg);
						}
					}
				}
				&.active {
					.acd_btn {
						padding-bottom: var(--padding-5);
					}
				}
			}

			.acd_cont {
				background-color: var(--color-background-white);
				.inner {
					padding: 0 24px 20px;
				}
			}
		}

		.birth {
			gap: var(--gap-3);
			&.active {
				.input_text {
					&.big {
						& + .dash {
							color: var(--color-text-basic);
						}
					}
				}
			}

			.input_text {
				&.big {
					& + .dash {
						font-size: var(--font-size-heading-medium);
						font-weight: 700;
						color: var(--color-text-disabled);
					}
				}
			}
		}
	}

	.comp_wrap {
		> * {
			flex-basis: 50%;
			&.dash {
				flex: none;
			}
			&.form_key {
				.pin_area {
					height: 54px;
				}
			}
		}

		.input_text {
			.del {
				width: 24px;
				background-position: right 6px center;
				background-size: 20px auto;
			}
		}
	}
}

.bg_area:has(.discount_item_box) {
	padding: var(--padding-10) var(--padding-8);
}

// 특약 리스트

.discount_item_box {
	padding:  var(--padding-3) var(--padding-7) var(--padding-3);
	background-color: var(--color-background-white);
	border-radius: var(--radius-large2);

	.item {
		padding: 16px 0 16px 44px;
		background-repeat: no-repeat;
		background-position: left center;
		background-size: 32px auto;

		@for $i from 1 through 20 {
			&.opt#{$i}{
				background-image: url(../images/content/mtps/icon_MPRMTPS10002010000_ty#{$i}.svg);
			}
		}

		.cont {
			font-size: var(--font-size-body-medium);

			& + .desc {
				margin-top: var(--gap-2);
			}
		}
		.desc {
			font-size: var(--font-size-body-small);
			color: var(--color-text-subtle);
		}
	}
	.top_wrap {
		display: flex;
		justify-content: flex-end;
		.msg_info {
			margin-top: 0;
		}
	}
	&:has(.bottom_info_wrap) {
		padding-bottom: var(--padding-8);
	}
	.bottom_info_wrap {
		margin-top: var(--gap-5);
		padding-top: 17px;
		border-top: var(--border-width-static-regular) solid var(--color-border-information-light);
		text-align: center;
		
		strong {
			display: block;
			padding-top: 28px;
			background: url(../images/icon/icon_info.svg) no-repeat center top;
			background-size: 24px;
			font-size: var(--font-size-body-medium);
		}
		.desc {
			margin-top: var(--gap-2);
			font-size: var(--font-size-body-small);
			color: var(--color-text-subtle);
		}
	}
}