/* 배경색 있는 상단 컨텐츠 영역 */
.bg_top_cover {
	margin: -24px -24px 0 -24px;
	padding: 24px;
	background-color: var(--color-surface-secondary-subtler);

	+ .opt_case4 {
		margin-top: 32px;
	}
}
/* 배경색 있는 상단 컨텐츠 영역 */



/* 계약상세 */
.cd_top_wrap {
	margin: -24px -24px 0 -24px;
	padding: 24px;
	background-color: var(--color-surface-secondary-subtler);
	.cd_top {
		padding: 24px;
		border-radius: var(--radius-large2);
		background-color: var(--color-surface-white-subtle);
		.badge_wrap {
			+ .cd_top_name {
				margin-top: 8px;
			}	
		}
		.cd_top_name {
			font-size: var(--font-size-body-medium);			
		}
		.cd_price {
			margin-top: 8px;
			font-weight: 700;
			.word {
				display: inline-block;
				vertical-align: middle;
				font-size: var(--font-size-body-large);
			}
			.won {
				display: inline-block;
				vertical-align: middle;
				font-size: var(--font-size-display-medium);
			}
		}
		.progress_bar {
			margin-top: 16px;
		}
	}
}


.cd_top_wrap {
	+ .tab_wrap {
		margin-top: 24px;
	}
}


/* 계약상세 */


/* 계약 담당자 */
.contact_list {
	padding: 23px 24px;
	border-radius: 24px;
	border: 1px solid var(--color-border-gray-light);
	> li {
		+ li {
			margin-top: 16px;
			padding-top: 16px;
			border-top: 1px solid var(--color-border-gray-light);
		}
		.item {
			display: flex;
			align-items: center;
			gap: 16px;
			min-height: 40px;
			&::before {
				content: '';
				display: inline-block;
				width: 40px;
				height: 40px;
				border-radius: var(--radius-medium1);
				background-color: var(--color-surface-primary-subtler);
				background-repeat: no-repeat;
				background-position: center center;
				background-size: 24px auto;
			}			
			.name {
				font-size: var(--font-size-body-medium);
			}
			.tel {
				display: block;
				font-size: var(--font-size-body-small);
				color: var(--color-text-subtle);
			}
			&.person {
				&::before {
					background-image: url(../images/content/my/icon_manager_person.svg);
				}
			}
			&.spot {
				&::before {
					background-image: url(../images/content/my/icon_manager_spot.svg);
				}
			}
		}
	}

}
/* 계약 담당자 */


/* 수수료 비교 이미지 */
.fc_img_wrap {
	margin-top: 20px;
	.item {
		.title_h4 {
			padding-bottom: 16px;
		}
		.img {
			font-size: 0;
			text-align: center;
			img {
				// width: 100%;
			}


		}
		+ .item {
			margin-top: 40px;
		}
	}
}
/* 수수료 비교 이미지 */



.sa_change_place {
	margin-top: 16px;
}
.scp_list {
	padding: 0 24px;
	border-radius: 24px;
	border: 1px solid var(--color-border-gray-light);
	> li {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 8px;
		padding: 24px 0;



		.scp_list_l {
			flex: none;
			.line1 {
				font-size: var(--font-size-label-medium);				
			}
			.line2 {
				font-size: var(--font-size-label-small);
				color: var(--color-text-subtle);
			}
		}
		.scp_list_r {
			flex: none;
		}

		+ li {
			border-top: 1px solid var(--color-border-gray-light);
		}
	}
}


