/* 계약상세 */
.cd_top_wrap {
	margin: -24px -24px 0 -24px;
	padding: 24px;
	background-color: var(--color-surface-secondary-subtler);
	.cd_top {
		padding: 24px;
		border-radius: var(--radius-large2);
		background-color: var(--color-surface-white-subtle);
		.badge_wrap {
			+ .cd_top_name {
				margin-top: 8px;
			}	
		}
		.cd_top_name {
			font-size: var(--font-size-body-medium);			
		}
		.cd_price {
			margin-top: 8px;
			font-weight: 700;
			.word {
				display: inline-block;
				vertical-align: middle;
				font-size: var(--font-size-body-large);
			}
			.won {
				display: inline-block;
				vertical-align: middle;
				font-size: var(--font-size-display-medium);
			}
		}
		.progress_bar {
			margin-top: 16px;
		}
	}
}


.cd_top_wrap {
	+ .tab_wrap {
		margin-top: 24px;
	}
}


/* 계약상세 */


/* 계약 담당자 */
.contact_list {
	padding: 23px 24px;
	border-radius: 24px;
	border: 1px solid var(--color-border-gray-light);
	> li {
		+ li {
			margin-top: 16px;
			padding-top: 16px;
			border-top: 1px solid var(--color-border-gray-light);
		}
		.item {
			display: flex;
			align-items: center;
			gap: 16px;
			min-height: 40px;
			&::before {
				content: '';
				display: inline-block;
				width: 40px;
				height: 40px;
				border-radius: var(--radius-medium1);
				background-color: var(--color-surface-primary-subtler);
				background-repeat: no-repeat;
				background-position: center center;
				background-size: 24px auto;
			}			
			.name {
				font-size: var(--font-size-body-medium);
			}
			.tel {
				display: block;
				font-size: var(--font-size-body-small);
				color: var(--color-text-subtle);
			}
			&.person {
				&::before {
					background-image: url(../images/content/my/icon_manager_person.svg);
				}
			}
			&.spot {
				&::before {
					background-image: url(../images/content/my/icon_manager_spot.svg);
				}
			}
		}
	}

}
/* 계약 담당자 */