/* 인증방법 선택 */
* + .cert_select_list {
	margin-top: 52px;
}
.cert_select_list {
	> li {
		+ li {
			margin-top: 16px;
		}
	}
	.cert_select_item {
		position: relative;
		display: block;
		padding: 19px 0px;
		border-radius: 16px;
		border: 1px solid var(--color-button-tertiary-border);
		background: url(../images/icon/arrowRight_ty3.svg) no-repeat right 19px center;

		> .text {
			position: relative;
			display: block;
			padding: 0 39px 0 51px;
			font-size: var(--font-size-body-medium);
			color: var(--gray-8003-e-4-a-58);
			line-height: 24px;
			&::before {
				content: '';
				position: absolute;
				top: 50%;
				left: 23px;
				width: 24px;
				height: 24px;
				transform: translateY(-50%);
				background-repeat: no-repeat;
				background-position: center center;
			}

			.tip_item {
				--tl: 34px;
				position: absolute;
				top: calc(100% + 6px);
				left: 0;
				z-index: 1;
				width: 100%;
				padding: 0 var(--tl) 0 var(--tl);
				.tip_item_cont {
					display: block;
					padding: 8px 16px;
					font-weight: 700;
					font-size: var(--font-size-body-xsmall);					
					color: var(--color-text-primary-bold);
					border-radius: var(--radius-medium1);
					border: 1px solid var(--color-border-primary);
					background-color: var(--color-element-primary-lighter);
					&::before {
						content: '';
						position: absolute;
						top: -5px;
						z-index: 1;
						left: calc(var(--tl) + 26px);
						width: 12px;
						height: 6px;
						border-left: 6px solid transparent;
						border-right: 6px solid transparent;
						border-bottom: 8px solid var(--color-element-primary-lighter);
					}
					&::after {
						content: '';
						position: absolute;
						top: -7px;
						left: calc(var(--tl) + 26px);
						width: 12px;
						height: 6px;
						border-left: 6px solid transparent;
						border-right: 6px solid transparent;
						border-bottom: 8px solid var(--color-border-primary);
					}
				}

			}


		}

		&.pin {
			> .text {
				&::before {
					background-image: url(../images/common/cert/icon_cert_pin.svg);
				}
			}
		}
		&.bio {
			> .text {
				&::before {
					background-image: url(../images/common/cert/icon_cert_bio.svg);	
				}
			}
		}
		&.phone {
			> .text {
				&::before {
					background-image: url(../images/common/cert/icon_cert_phone.svg);
				}
			}
		}
		&.kakao {
			> .text {
				&::before {
					background-image: url(../images/common/cert/icon_cert_kakao.svg);
				}
			}
		}
		&.common_cert {
			> .text {
				&::before {
					background-image: url(../images/common/cert/icon_cert_common_cert.svg);
				}
			}
		}
		&.fin_cert {
			> .text {
				&::before {
					background-image: url(../images/common/cert/icon_cert_fin_cert.svg);
				}
			}
		}


	}
}



/* PIN 인증 */
.pin_enter {
	position: relative;
	height: 72px;
	+ .btn_area {
		margin-top: 16px;
	}
}

.pin_enter_error_msg {
	margin-top: 8px; 
	font-size: 0;
	text-align: center;
	> .text {
		display: inline-block;
		padding-left: 20px;
		font-size: var(--font-size-label-medium);
		color: var(--color-text-danger);
		background: url(../images/icon/icon_error_red.svg) no-repeat left center / 16px auto;
	}
}
/* PIN 인증 */



/* 회원탈퇴 */
// 
.miss_service_list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 8px;
	> li {
		.item {
			display: block;
			height: 100%;
			padding: 24px;
			border-radius: 24px;
			border: 1px solid var(--color-border-gray-light);
			.text {
				display: block;
				padding-top: 40px;
				font-size: var(--font-size-body-medium);
				color: var(--color-text-bolder);
				background-repeat: no-repeat;
				background-position: left top;
				background-size: 40px auto;
			}
			&.item_ty1 {
				.text {
					background-image: url(../images/login/icon_service_01.svg);
				}
			}
			&.item_ty2 {
				.text {
					background-image: url(../images/login/icon_service_02.svg);
				}
			}
			&.item_ty3 {
				.text {
					background-image: url(../images/login/icon_service_03.svg);
				}
			}
			&.item_ty4 {
				.text {
					background-image: url(../images/login/icon_service_04.svg);
				}
			}
		}
	}

}
/* 회원탈퇴 */