%background_set {
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 32px auto;
}

// 상품안내 
.prd_car {
	&.position_event_wrap {
		.sii_wrap {
			padding-bottom: 0;
		}
	}
	// .position_event_content {
	// 	.popup_content_body {
	// 		gap: 0;
	// 		.sec_group {
	// 			+.sec_group {
	// 				padding-top: var(--gap-11);
	// 			}
	// 		}
	// 	}
	// }
	.popup_content_body {
		display: flex;
		flex-direction: column;
		// gap: var(--gap-11);

		> * {
			margin-bottom: var(--gap-11);

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	// intro info
	.intro_area {
		.info_gray {
			display: flex;
			align-items: center;
		}
	}
	.intro_info {
		// display: flex;
		// align-items: flex-start;
		// justify-content: space-between;
		// position: relative;
		// width: 100%;
		// flex-direction: column;
		padding-top: 160px;
		background-repeat: no-repeat;
		background-position: top center;
		background-size: auto 160px;

		
		@for $i from 1 through 5 {
			&.bg_intro#{$i} {
				background-image: url('../images/content/prdcar/bg_car_prd#{$i}.png');
			}
		}

		&::before {
			// content: '';
			// display: none;
			width: 240px;
			height: 160px;
			margin: 0 auto;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
		}
		// @for $i from 1 through 5 {
		// 	&.bg_intro#{$i}::before {
		// 		display: block;
		// 		background-image: url('../images/content/prdcar/bg_car_prd#{$i}.png');
		// 	}
		// }

		.info_list {
			width: 100%;
			.item {
				@for $i from 1 through 5 {
					&.ico_intro#{$i} {
						background-image: url('../images/content/prdcar/ico_car_intro#{$i}.svg');
					}
				}
				.tit {
					font-weight: 700;
				}
			}
		}

		&.column {
			flex-direction: column;
			justify-content: center;
			padding-top: 56px;
			background-repeat: no-repeat;
			background-position: top center;
			background-size: 40px auto;
			text-align: center;
			.title_h3 {
				font-size: var(--font-size-heading-medium);
				text-align: center;
				+.note {
					margin-top: var(--gap-5);
				}
			}
			.desc {
				font-size: var(--font-size-body-medium);
				color: var(--color-text-basic);
			}
			.note {
				display: block;
				margin-top: var(--gap-4);
				font-size: var(--font-size-body-small);
				color: var(--color-text-subtle);
			}
			.tip {
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				margin-bottom: var(--gap-5);
				font-weight: 700;
				font-size: var(--font-size-heading-xsmall);
				color: var(--color-text-bolder);
				&::before {
					content: '';
					display: block;
					width: 20px;
					height: 20px;
					margin-right: 4px;
					background: url('../images/content/prdcar/ico_tag.svg') no-repeat left top;
					background-size: 20px auto;
				}
			}
			.desc_wrap {        
				width: 100%;
				margin-top: var(--gap-7);
				padding-top: var(--gap-7);
				border-top: var(--border-width-static-regular) solid var(--color-border-gray-light);
				.list_ty6 {
					> li {
						text-align: left;
						color: var(--color-text-information);
					}
				}
			}
			
			@for $i from 1 through 13 {
				&.ico_special#{$i} {
					background-image: url('../images/content/prdcar/ico_car_benefit#{$i}.svg');
				}
			}
		}
	}

	// 할인특약 visual
	.benefit_top_wrap {
		.item_benefit_top {
			padding: 156px var(--padding-7) var(--number-9);
			background-color: var(--color-surface-primary-subtler);
			border-radius: var(--radius-large2);
			background-repeat: no-repeat;
			background-position: top 20px center;
			background-size: auto 136px;
				
			@for $i from 1 through 16 {
				&.ico_bn_visual#{$i} {
					background-image: url('../images/content/prdcar/ico_bn_visual#{$i}.png');
				}
			}
	
			.inner {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: var(--gap-5);
				padding: var(--gap-6);
				background-color: var(--color-surface-white);
				border-radius: var(--radius-medium3);
	
				.i_top {
					.title {
						font-size: var(--font-size-heading-large);
						font-weight: 700;
						color: var(--color-text-bolder);
						text-align: center;
					}
				}
	
				.i_bottom {
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: var(--gap-4);
	
					.cont {
						font-size: var(--font-size-body-medium);
						color: var(--color-text-bolder);
						text-align: center;
						word-break: keep-all;
		
						.detail {
							i {
								font-size: var(--font-size-heading-medium);
								font-weight: 700;
								font-style: normal;
								color: var(--color-text-primary-bold);
							}
						}
					}
	
					.desc {
						font-size: var(--font-size-body-small);
						color: var(--color-text-subtle);
					}
				}
			}
	
			.bn_list {
				margin-top: var(--gap-5);
	
				> li {
					position: relative;
					padding-right: var(--padding-3);
					font-size: var(--font-size-body-small);
					color: var(--color-text-information);
	
					&:before {
						content: '';
						position: absolute;
						left: 0;
						top: 9px;
						width: 2px;
						height: 2px;
						border-radius: 50%;
						background-color: var(--color-icon-information);
					}
	
					& ~ li {
						margin-top: var(--gap-4);
					}
				}
	
				&.icon {
					> li {
						padding-left: 24px;
						background: url('../images/icon/icon_tag.svg') no-repeat left top / 20px auto;
						color: var(--color-text-subtle);

						&:before {
							content: none;
						}
					}
				}
			}
	
			& + * {
				margin-top: var(--gap-5);
			}
		}
	}

	// 할인특약 
	.benefit_area {
		.cont_head {
			.flex_inline {
				display: flex;
				align-items: center;
			}
		}
		.benefit_list {
			.list_ty2 {
				padding-top: var(--gap-3);
			}
		}
		.info_list {
			.item {
				position: relative;
				// &:before {
				// 	content: '';
				// 	display: block;
				// 	position: absolute;
				// 	top: 50%;
				// 	left: 0;
				// 	width: 32px;
				// 	height: 32px;
				// 	border-radius: var(--radius-small3);
				// 	background-color: var(--color-surface-gray-subtler);
				// 	transform: translateY(-50%);
				// }
				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 50%;
					left: 0;
					width: 32px;
					height: 32px;
					background-repeat: no-repeat;
					background-size: 32px auto;
					background-position: left center;
					transform: translateY(-50%);
				}
				@for $i from 1 through 20 {
					&.ico_benefit#{$i}::after {
						background-image: url('../images/content/prdcar/ico_car_benefit#{$i}.svg');
					}
				}
			}
		}
	}

	// 목록
	.info_list {
		display: flex;
		flex-direction: column;
		gap: var(--gap-8);
		.tit {
			font-size: var(--font-size-body-medium);
			color: var(--color-text-basic);
			line-height: 24px;
		}
		.desc {
			font-size: var(--font-size-body-small);
			color: var(--color-text-subtle);
			line-height: 21px;
		}
		.item {
			padding-left: 44px;
			@extend %background_set;
			.item_link {
				display: block;
				position: relative;
				padding-right: 36px;
				&::after {
					content: '';
					display: block;
					position: absolute;
					width: 24px;
					height: 24px;
					top: 50%;
					right: 0;
					background: url(../images/icon/arrowRight_ty4.svg) no-repeat center / 20px auto;
					transform: translateY(-50%);
				}
			}
		}
		// 간격
		.desc,
		.list_ty2 {
			padding-top: var(--gap-2);
		}
		&.ty_line {
			gap: 0;
			.item {
				padding-top: var(--padding-6);
				padding-bottom: var(--padding-6);
				border-bottom: var(--border-width-static-regular) solid var(--color-border-gray-light);
				&:first-of-type {
					border-top: var(--border-width-static-regular) solid var(--color-border-gray-light);
				}
			}
		}
	}

	
	// 이미지 박스
	[class*="img_wrap"] {
		border: 1px solid #CDD1D5;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.img_wrap_highwalk {
		margin-top: 32px;
		height: 236px;
		border-radius: 24px;
		img {
			width: 280px; 
		}
	}

	// 간격
	.sec_group {
		.sec_head {
			margin-bottom: var(--gap-6);

			.sec_head_top {
				font-size: var(--font-size-heading-xsmall);
				font-weight: 700;
				color: var(--color-text-primary-bold);

				& + .title_h3 {
					margin-top: var(--gap-2);
				}
			}
		}
		.sec_body {

			& + .sec_head {
				margin-top: var(--gap-9);
			}

			&:has(.title_h4) {
				margin-top: -8px;
			}

			&:has(.my_info_flow) {
				margin-top: 0;
				&:has(.title_h4) {
					margin-top: -8px;
				}
			}
		}
	}
	// sec_group 안에 간격 40 인경우
	.group {
		+ .group {
			padding-top: 40px;
		}		
	}

	.group_item {
		+ .group_item {
			margin-top: var(--gap-8);
		}
		&:has(.table_wrap) {
			+ .group_item {
				margin-top: var(--gap-7);
			}
		}

		.file_attach_box {
			.file_thumbnail {
				img {
					width: 552px;
					max-width: none;
				}
			}
		}
	}

	.title_h4 {
		+ .desc,
		+ .list_depth,
		+ .group_item {
			margin-top: var(--gap-4);
		}
		+ .table_wrap,
		+ .my_info_flow {
			margin-top: var(--gap-5);
		}
	}

	.text_sub {
		+ .list_depth {
			margin-top: var(--gap-5);
		}
	}
	
	.list_depth {
		+ .table_wrap {
			margin-top: var(--gap-4);
		}
	}
	
	.tab_wrap {
		+ .btn_area {
			margin-top: var(--gap-11);
			+ .list_ty2 {
				margin-top: var(--gap-11);
			}
		}
	} // 텝 + 보험약관버튼 + 준법감시필 
	
	.web_link {
		text-decoration: underline;
	}
	
	.table_wrap {
		+ .list_depth {
			margin-top: var(--gap-8);
		}

		// .table {
		// 	border-collapse: collapse;
		// }

		// tbody:has(td[rowspan]) {
		// 	td:last-child {
		// 		border-left: var(--border-width-static-regular) solid var(--color-divider-gray-light);
		// 	}
		// 	td[rowspan]:last-child {
		// 		border-right: none
		// 	}
		// }
	}

	.file_attach_box {
		.file_thumbnail {
			max-width: none;
			img {
				// width: 552px;
				// max-width: none;
			}
		}
	}

	.my_info_flow {
		> li:last-child {
			margin-bottom:0;
		}
		& + .list_ty2 {
			margin-top: var(--gap-5);
		}
		.img_wrap_ex {
			margin-top: var(--gap-4);
			height:320px;
			background-color: var(--color-background-white);
			border-radius: 16px 16px 0 0;
			border:none;
			overflow: hidden;
			img {
				width: 255px;
			}
		}
	}

	// 자주하는질문
	.item_wrap_faq {
		.acd_cont {  
			.inner {
				> p {
					margin-bottom: var(--gap-4);
				}
				.btn_area {
					margin-top: var(--gap-2);
				}
				.list_depth {
					& + .text_sub {
						margin-top: var(--gap-4);
					}
				}
				.table_wrap {
						margin-top: var(--gap-5);
				}
			}
		}
	}

	//팝업 - 마일리지환급금 대체사용 특약이란?
	.mileage_box {
		display:flex;
		flex-direction: column;
		.item {
			position: relative;
			padding: calc(var(--padding-4) - 1px) calc(var(--padding-3) - 1px);
			background-color: var(--color-element-secondary-lighter);
			border: 1px solid var(--color-border-secondary-light);
			border-radius: 12px;
			font-size: 12px;
			color: var(--color-text-subtle);
			&::after {
				content: "";
				display: block;
				background-repeat: no-repeat;
				background-size: 16px auto;
				width: 16px;
				height: 16px;
				position: absolute;
				bottom: -20px;
				left: calc(50% - 8px);
			}
			&:nth-child(1)::after {
				// background-image: url('../images/content/prdcar/icon_plus.svg')
				background-image: url('../images/content/prdcar/icon_minus.svg')
			}
			&:nth-child(2)::after {
				background-image: url('../images/content/prdcar/icon_sum.svg')
			}
			& > div {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: var(--gap-2);
			}
			& + .item {
				margin-top: 24px;
			}
			strong {
				color: var(--color-text-secondary);
			}
		}
	}

	//스마트 안전운전(UBI) 
	.list_contract {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--gap-5);
		.item {
			padding: var(--padding-7);
			// padding: var(--padding-7) var(--padding-8);
			background-color: var(--color-background-gray-subtler);
			border-radius: 16px;
			font-size: var(--font-size-label-medium);
			color: var(--color-text-basic);
			& > div {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				&::before {
					content:"";
					display: inline-block;
					width: 40px;
					height: 40px;
					margin-bottom: var(--gap-2);
				}
			}

			@for $i from 1 through 7 {
				&.ico#{$i} {
					&>div::before {
						background-image: url('../images/content/prdcar/ico_contract_logo#{$i}.svg');
					}
				}
			}
		}

		& + .list_depth {
			margin-top: var(--gap-8);
		}
	}

	//앱 다운로드
	.btn_app {
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 48px;
		height: 48px;
		background-color: #000;
		border: var(--border-width-static-regular) solid var(--color-button-tertiary-border);
		border-radius: 12px;
		&::before {
			content:'';
			display: inline-block;
			width: 138px;
			height: 34px;
			background-size: contain;
			background-repeat: no-repeat;
		}
		&.icon_google {
			&::before {
				background-image: url('../images/content/prdcar/ico_btn_google.svg');
			}
		}
		&.icon_app {
			&::before {
				background-image: url('../images/content/prdcar/ico_btn_app.svg');
			}
		}
	}

	// 타이틀 아이콘
	.title_h3 {
		&.icon::before {
			content:"";
			display: inline-block;
			width: 20px;
			height: 20px;
			margin: 4px 4px 0 0;
			background: url('../images/content/prdcar/ico_price_20.svg') no-repeat 0 0;
			background-size: 20px auto;
			vertical-align: top;
		}
	}
}



// .car-section {
//   width: 100%;
//   height: 380px;
//   position: relative;
//   overflow: hidden;
//   background: #fff;
// }

// /* 구름 */
// .cloud {
//   position: absolute;
//   width: 140px;
//   height: 80px;
//   background: rgba(200, 200, 200, 0.2);
//   border-radius: 50%;
//   filter: blur(6px);
//   animation: cloud-move 20s linear infinite;
//   top: 40px;
//   left: -200px;

//   &--1 {
//     animation-duration: 24s;
//     top: 40px;
//   }
//   &--2 {
//     animation-duration: 28s;
//     top: 110px;
//     left: -260px;
//   }
// }

// @keyframes cloud-move {
//   0% {
//     transform: translateX(0);
//   }
//   100% {
//     transform: translateX(140vw);
//   }
// }

// /* 자동차 */
// .car {
//   position: absolute;
//   bottom: 20px;
//   // left: -400px;
//   width: 320px;
//   animation: car-move 6s ease-out forwards,
//              car-bounce 0.8s ease-in-out infinite alternate;
// }

// .car__img {
//   width: 100%;
//   display: block;
// }

// /* 자동차 이동 애니메이션 */
// @keyframes car-move {
//   0% {
//     transform: translateX(0);
//   }
//   100% {
//     transform: translateX(calc(100vw + 400px));
//   }
// }

// /* 자동차 살짝 흔들림 */
// @keyframes car-bounce {
//   0% {
//     transform: translateY(0);
//   }
//   100% {
//     transform: translateY(-6px);
//   }
// }

// /* 바퀴 - CSS로 만든 가짜 바퀴 */
// .wheel {
//   position: absolute;
//   width: 60px;
//   height: 60px;
//   background: #444;
//   border-radius: 50%;
//   bottom: 12px;
//   animation: wheel-spin 0.35s linear infinite;

//   /* 바퀴의 살 느낌 효과 */
//   box-shadow:
//     inset 0 0 0 6px #777,
//     inset 0 0 0 12px #555,
//     inset 0 0 0 20px #333;
// }

// .wheel--front {
//   left: 210px;
// }

// .wheel--back {
//   left: 55px;
// }

// /* 바퀴 회전 애니메이션 */
// @keyframes wheel-spin {
//   100% {
//     transform: rotate(360deg);
//   }
// }