/* 청약 폼 */
.divider {
    margin: 0 -24px;
    height: var(--size-height-1);
    background-color: var(--color-divider-gray-light);
    border: none;
}
.from_box {
    padding: 40px 0;
    &.first {
        padding: 0 0 40px;
    }
    .title_h3 {
        margin-bottom: 20px;
    }
    .form_group_wrap {
        .list_ty2 {
            margin-top: 16px;
        }
    }
}
.info_gray {
    padding: var(--padding-card-medium) var(--padding-card-small);
    background: var(--color-surface-secondary-subtler);
    border-radius: var(--radius-large2);
    & + .form_group_wrap {
        margin-top: 32px;
    }
    dl {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-size: var(--font-size-body-small);
        dt {
            color: var(--color-text-subtle);
        }
        & + dl {
            margin-top: 16px;
        }
    }
}
.add_text {
    padding: 16px;
    font-size: var(--font-size-label-large);
    .input_text {
        width: calc(100% - 30px);
    } 
}