// bottom popup
.popup_wrap {
	&.bottom {
		&.active {
			// padding-top: 40px;
			.popup_container {
				transform: translateY(0);
			}
		}


		// 기본높이 100% 세팅
		//  popup-class="bottom_full"
		// MPRMTPS10002040300
		&.bottom_full {
			.popup_container {
				.popup_inner {
					height: 100%;
				}
			}
		}
		

		&.dragging {
			.popup_container {
				transition-duration: initial;
			}
		}

		// 관리자 등록 이미지
		&.bann {
			.popup_container {
				.popup_inner {
					padding-top: 0;
					
					.popup_cont {
						padding: 0;
						border-radius: 10px 10px 0 0;
					}
				}
			}
		}

		// 관리자 등록 배너
		.register_bann {
			position: relative;
			text-align: center;
		
			.swiper {
				width: 100%;
				border-radius: var(--radius-large2) var(--radius-large2) 0 0;		
				.swiper-wrapper {
					.swiper-slide {
						img {
							vertical-align: top;
							width: 100%;
							height: 100%;
						}

						> a {
							display: block;
						}
					}
				}

				&.swiper-initialized {
					& + .swiper_control {
						display: block;
					}	
				}
			}
		
			.swiper_control {
				display: none;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: 16px;
				z-index: 10;
				padding: 0 24px;

				.c_inner {
					display: flex;
					align-items: center;
				}
		
				.pop_pager {
					position: relative;
					width: auto;
					left: auto;
					top: auto;
					bottom: auto;
					padding: var(--padding-3);
					display: flex;
					gap: var(--gap-2);
		
					&.sp_ty1 {
						.swiper-pagination-bullet {
							margin: 0;
						}
					}
				}
		
				.swiper_button {
					position: absolute;
					width: 24px;
					height: 24px;
					top: 50%;
					transform: translateY(-50%);
					background-color: transparent;
					background-size: 16px;
		
					&.swiper_button_left {
						left: 0;
					}
					&.swiper_button_right {
						right: 0;
					}
				}
		
				.swiper-button-play-pause {
					width: 24px;
					height: 24px;
					font-size: 0;
					background: url(../images/icon/icon_stop.svg) no-repeat center / 16px;
		
					&.active {
						background-image: url(../images/icon/icon_play.svg);
					}
				}
			}
		}

		.popup_container {
			align-items: flex-end;
			transform: translateY(100%);
			transition-duration: 0.3s;

			.popup_inner {
				max-height: calc(100% - 20px);
				height: auto;
				padding-top: 20px;
				border-radius: 32px 32px 0 0;

				.draggable {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 20px;
				}

				.popup_head {
					flex: none;
					min-height: 44px;
					margin-bottom: var(--gap-2);
					padding: 0 var(--padding-8) var(--padding-6);
					.popup_head_title {
						padding-right: 40px;
					}
				}
				.popup_cont {
					padding: 0px var(--gap-7) var(--gap-4);

					.bottom_fix_notice {
						padding-top: 32px;
					}

					&:has(.calendar) {
						padding-top: var(--gap-3);
					}
				}
				.popup_close {
					top: 18px;
					right: 20px;
				}

				.popup_cont > .popup_content {
					flex: 1;
					// padding-bottom: 12px;
					
					.info_icon {
						color: var(--color-text-information);
						font-size: var(--font-size-body-xsmall);
						line-height: 18px;
						text-align: center;
					}

					p,
					div {
						
						&.bpop_sub_title {
							font-size: var(--font-size-body-medium);
							& + * {
								margin-top: var(--gap-5) !important;
							}
						}
					}

					> * {
						&:first-child {
							&.info_gray {
								// margin-top: -4px;
							}
						}
					}

					.info_gray {
						.badge_wrap + dl {
							margin-top: var(--gap-4);
						}
					}

					.list_ty2 + .reward_img_area.ty2 {
						margin-top: 32px;
					}

					.pop_title_h1 {
						& + * {
							margin-top: var(--gap-5);
						}
					}
				}
			}

			.info_text { 
				& + .call_box {
					margin-top: var(--gap-5);
				}
			}
		}

		.info_gray {
			& + ul {
				margin-top: var(--gap-5);
			}

			& + .reward_img_area {
				margin-top: var(--gap-8);
				display:flex;
				justify-content: center;
				align-items: center;

				img {
					height:72px;
					width: auto;
				}
				

				& + ul {
					margin-top: var(--gap-5);
				}

				&.ty2 {
					margin-top: var(--gap-5);
				}
			}
		}

		.p_benefit_info {
			.title_h3 {
				text-align: center;
				+ .title_h4 {
					margin-top: var(--gap-8);
				}
			}
			.title_h4 {
				+ .sub_text {
					padding-top: 12px;
				}
			}
			
			+ .info_gray {
				margin-top: var(--gap-8);
			}

		}

		.call_box {
			& + .radio_group_wrap {
				margin-top: var(--gap-8);
			}
		}
		
		//자식 요소가 탭인 경우 .popup_head 여백 삭제
		.popup_cont:has(.tab_wrap) {
			margin-top: calc(var(--gap-2) * -1);
		}

		//하단 cta 버튼 없을 경우 여백
		.popup_inner:not(:has(.popup_bottom)) {
			.popup_cont {
				padding-bottom:calc(24px + var(--padding-5))
			}
		}

	}





	&.acd_t_popup {
		top: auto;
		bottom: 0;		
		// padding-top: 32px;
		visibility: visible;
		opacity: 1;
		pointer-events: auto;
		background-color: transparent;
		transition: max-height 0.3s ease, background-color 0.3s ease;

		.acd_t_popup_top {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
		
		
		.popup_container {
			transform: translateY(0);
			.popup_inner {
				max-height: 100%;
				.popup_cont {
					padding: 0 0 var(--gap-7) 0;
					.popup_content {
						border-radius: var(--radius-large2) var(--radius-large2) 0 0;
						background: var(--color-surface-white-subtle);
						overflow: auto;
					}
				}
			}
		}

		&.active {
			max-height: calc(100% - 20px);
			overflow: auto;
		}


		&.acd_t_popup_type1 {
			max-height: 132px;
			padding-top: 32px;
			

		}


		
		&.dim_lv2 {
			&::before {
				content: '';
				position: fixed;
				top: 0;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				visibility: hidden;
				opacity: 0;
				background-color: transparent;
				transition: all 0.3s;
			}
			&.active {
				&::before {
					visibility: visible;
					opacity: 1;
					background-color: rgba(0, 0, 0, 0.5);
				}
			}
		}
	}
	&.bn_ty {
		.popup_container {
			.popup_inner {
				.popup_cont {
					border-radius: var(--radius-large2) var(--radius-large2) 0 0;
					overflow: hidden;
					padding: 0;
					.popup_content {
						a,
						img {
							
							display: block;
							width: 100%;
						}

					}
				}
				.popup_close {
					top: -32px;
					right: 4px;
					background-image: url(../images/icon/close_bnty.svg);
					background-size: 24px auto;
				}
			}
		}
	}
}






/* bottom popup 스타일 아코디언 */
.baad_c {
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 1000;
	width: 100%;
	max-height: calc(100% - 20px);
	overflow: auto;
	background: var(--color-surface-white-subtler);
	box-shadow: 0 var(--shadow-y-minus2) var(--shadow-blur-2) 0 var(--color-alpha-shadow1, rgba(0, 0, 0, 0.05));
	&.baad_c_type1 {
		border-radius: var(--radius-medium1) var(--radius-medium1) 0 0;
		&::before {
			content: '';
			position: fixed;
			top: 0;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			visibility: hidden;
			opacity: 0;
			background-color: transparent;
			transition: all 0.3s;
		}
		&.active {
			&::before {
				visibility: visible;
				opacity: 1;
				background-color: rgba(0, 0, 0, 0.5);
			}
		}
	}

	&.baad_c_type2 {
		border-radius: var(--radius-large2) var(--radius-large2) 0 0;
	}

	&.active {
		box-shadow: none;
		background-color: transparent;
	}
}


.baad_c_top {
	flex: none;
	.baad_c_btn {
		position: relative;
		&.baad_c_btn_type1 {
			display: block;
			width: 100%;
			height: 32px;
			.text {
				font-size: 0;
			}
			&::after {
				content: '';
				position: absolute;
				top: 50%;
				right: 4px;
				width: 24px;
				height: 24px;
				border-radius: var(--radius-max);
				border: var(--border-width-static-regular) solid var(--color-button-icon-fill-border);
				background: var(--color-button-tertiary-fill-active) url(../images/icon/icon_dynamic_close.svg) no-repeat center / 12px auto;				transform: translateY(-50%);
			}
		}
	}
}

.baad_c_cont {
	position: relative;
	.in_cont {
		height: 100%;
		border-radius: var(--radius-large2) var(--radius-large2) 0 0;
		background: var(--color-surface-white-subtle);
		overflow: hidden;
	}
}


/* bottom popup 스타일 아코디언 */