//layer popup
.popup_wrap {
	&.layer {
		&.active {
			.popup_container {
				// transform: translateY(0);
				opacity: 1;
				transition: opacity .4S ease;
			}
		}
		
		.popup_container {
			padding: 20px;
			opacity: 0;
			// transform: translateY(100%);
		}

		.popup_container {
			.popup_inner {
				height: auto;
			}
		}
	}
}