// bottom popup
.popup_wrap {
	&.bottom {
		&.active {
			// padding-top: 40px;
			.popup_container {
				transform: translateY(0);

			}
		}


		// 기본높이 100% 세팅
		//  popup-class="bottom_full"
		// MPRMTPS10002040300
		&.bottom_full {
			.popup_container {
				.popup_inner {
					height: 100%;
				}
			}
		}
		

		&.dragging {
			.popup_container {
				transition-duration: initial;
			}
		}

		// 관리자 등록 이미지
		&.bann {
			.popup_container {
				.popup_inner {

					.popup_cont {
						padding: 0;
						border-radius: 10px 10px 0 0;
					}
				}
			}
		}

		// 관리자 등록 배너
		.register_bann {
			position: relative;
			text-align: center;
		
			.swiper {
				width: 100%;
				border-radius: var(--radius-large2) var(--radius-large2) 0 0;
		
				.swiper-wrapper {
					.swiper-slide {
						img {
							vertical-align: top;
							width: 100%;
							height: 100%;
						}

						> a {
							display: block;
						}
					}
				}
			}
		
			.swiper_control {
				display: flex;
				align-items: center;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: 16px;
				z-index: 10;
				padding: 0 24px;
		
				.pop_pager {
					position: relative;
					width: auto;
					left: auto;
					top: auto;
					bottom: auto;
					padding: var(--padding-3);
					display: flex;
					gap: var(--gap-2);
		
					&.sp_ty1 {
						.swiper-pagination-bullet {
							margin: 0;
						}
					}
				}
		
				.swiper_button {
					position: absolute;
					width: 24px;
					height: 24px;
					top: 50%;
					transform: translateY(-50%);
					background-color: transparent;
					background-size: 16px;
		
					&.swiper_button_left {
						left: 0;
					}
					&.swiper_button_right {
						right: 0;
					}
				}
		
				.swiper-button-play-pause {
					width: 24px;
					height: 24px;
					font-size: 0;
					background: url(../images/icon/icon_stop.svg) no-repeat center / 16px;
		
					&.active {
						background-image: url(../images/icon/icon_play.svg);
					}
				}
			}
		}

		.popup_container {
			align-items: flex-end;
			transform: translateY(100%);
			transition-duration: 0.3s;

			.popup_inner {
				// max-height: 85%;
				max-height: calc(100% - 20px);
				height: auto;
				border-radius: 32px 32px 0 0;

				.popup_head {
					flex:none;
					min-height: 44px;
					margin-bottom: var(--gap-2);
					padding: 0 var(--padding-8) var(--padding-6);
					.popup_head_title {
						padding-right: 40px;
					}
				}
				.popup_cont {
					// padding: 4px 24px 12px;
					padding: 0px var(--gap-7) var(--gap-4);
					// margin-top: var(--gap-2);

					.bottom_fix_notice {
						padding-top: 32px;
					}

					&:has(.calendar) {
						padding-top: var(--gap-3);
					}
				}
				.popup_close {
					top: 18px;
					right: 20px;
				}
				// .popup_bottom {
				// 	padding: var(--gap-4) 0 var(--gap-5) 0;
				// }

				.popup_cont > .popup_content {
					flex: 1;
					// padding-bottom: 12px;
					
					.info_icon {
						color: var(--color-text-information);
						font-size: var(--font-size-body-xsmall);
						line-height: 18px;
						text-align: center;
					}

					p {
						// font-size: var(--font-size-body-medium);
						
						&.bpop_sub_title {
							font-size: var(--font-size-body-medium);
							& + * {
								margin-top: 16px !important;
							}
						}
					}

					> * {
						&:first-child {
							&.info_gray {
								// margin-top: -4px;
							}
						}
					}

					.info_gray {
						.badge_wrap + dl {
							margin-top: var(--gap-4);
						}
					}

					.list_ty2 + .reward_img_area.ty2 {
						margin-top: 32px;
					}

					.pop_title_h1 {
						& + * {
							margin-top: var(--gap-5);
						}
					}
				}
			}

			.info_text { 
				& + .call_box {
					margin-top: var(--gap-5);
				}
			}
		}

		.info_gray {
			& + ul {
				margin-top: var(--gap-5);
			}

			& + .reward_img_area {
				margin-top: var(--gap-8);
				display:flex;
				justify-content: center;
				align-items: center;

				img {
					height:72px;
					width: auto;
				}
				

				& + ul {
					margin-top: var(--gap-5);
				}

				&.ty2 {
					margin-top: var(--gap-5);
				}
			}
		}

		.p_benefit_info {
			.title_h3 {
				text-align: center;
				+ .title_h4 {
					margin-top: var(--gap-8);
				}
			}
			.title_h4 {
				+ .sub_text {
					padding-top: 12px;
				}
			}
			
			+ .info_gray {
				margin-top: var(--gap-8);
			}

		}

		.call_box {
			& + .radio_group_wrap {
				margin-top: var(--gap-8);
			}
		}
		
		//자식 요소가 탭인 경우 .popup_head 여백 삭제
		.popup_cont:has(.tab_wrap) {
			margin-top: calc(var(--gap-2) * -1);
		}

		//하단 cta 버튼 없을 경우 여백
		.popup_inner:not(:has(.popup_bottom)) {
			.popup_cont {
				padding-bottom:calc(24px + var(--padding-5))
			}
		}

	}
}
