// bottom popup
.popup_wrap {
	&.confirm {
		&.active {

			// padding-top: 40px;
			.popup_container {
				transform: translateY(0);

				.popup_inner {
					.popup_close {
						top: 15px;
						right: 16px;
					}
				}
			}
		}

		.popup_container {
			align-items: center;
			justify-content: center;
			transition-duration: 0.3s;

			.popup_inner {
				// max-height: 85%;
				max-height: calc(100% - 20px);
				height: auto;
				width: calc(100% - 96px);
				border-radius: 32px;

				.popup_head {
					min-height: 32px;
					padding: 14px 36px 14px 16px;
				}

				.popup_cont {
					padding: 12px 24px 16px;
					margin-top: 4px;
					text-align: center;

					.info_confirm {
						padding-top: 48px;
						background: url(../images/icon/icon_exclamation.svg) no-repeat top center / 32px auto;

						strong {
							font-size: var(--font-size-heading-small);

							&+.info_text {
								margin-top: 16px;
							}
						}
					}

					.info_text {
						&+.list_ty2 {
							margin-top: 16px;

							li {
								padding: 0;

								&::before {
									position: static;
									margin-right: 4px;
								}
							}
						}
					}
				}
			}
		}
	}
}



.msg_icon {
	padding-top: 48px;
	&.mi_info {
		background: url(../images/icon/icon_exclamation.svg) no-repeat top center / 32px auto;
	}
	&.mi_error {
		// padding-top: 48px;
		background: url(../images/icon/icon_complete_error.svg) no-repeat top center / 32px auto;
	}
}