//layer popup
.popup_wrap {
	&.layer {
		&.active {
			.popup_container {
				opacity: 1;
				transition: opacity .3S ease;
			}
		}

		.popup_container {
			padding: 40px 48px;
			opacity: 0;

			.popup_inner {
				height: auto;
				max-height: 100%;
				border-radius: var(--radius-large2);

				&:has(.msg_icon.mi_info) {
					padding-top: 0;
					.popup_head {
						margin-bottom: 0;
					}
				}

				&:not(:has(.popup_close)){
					.popup_head {
						min-height: auto;
					}
				}
				.popup_head {
					margin-bottom: var(--gap-4);
				}
				.popup_cont {
					padding: 0 var(--padding-8) var(--padding-6) var(--padding-8);
				}
				.popup_close {
					top: 15px;
					right: 16px;
				}
			}
		}
	}
}

.msg_icon {
	padding-top: 48px;
	&.mi_info {
		background: url(../images/icon/icon_exclamation.svg) no-repeat top center / 32px auto;
	}
	&.mi_error {
		// padding-top: 48px;
		background: url(../images/icon/icon_complete_error.svg) no-repeat top center / 32px auto;
	}
}
