<div class="calendar">
	<div class="calendar_top">
		<a class="calendar_change_btn ccb_prev" title="이전 달"></a>
		<a class="calendar_change_btn ccb_next" title="다음 달 "></a>
		<div class="calendar_title">
			<span class="calendar_title_dp calendar_year"><span class="text">2025</span>년</span>
			<span class="calendar_title_dp calendar_month"><span class="text">4</span>월</span>
		</div>
	</div>

	<div class="calendar_cont">
		<div class="calendar_tbl">
			<table>
				<caption class="blind">달력</caption>
				<thead>
					<tr>
						<th scope="col">월</th>
						<th scope="col">화</th>
						<th scope="col">수</th>
						<th scope="col">목</th>
						<th scope="col">금</th>
						<th scope="col">토</th>
						<th scope="col">일</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><span class="day_default day_disabled">30</span></td>
						<td><span class="day_default day_disabled">31</span></td>
						<td><a href="" class="day_default">1</a></td>
						<td><a href="" class="day_default">2</a></td>
						<td><a href="" class="day_default">3</a></td>
						<td><a href="" class="day_default">4</a></td>
						<td><a href="" class="day_default day_today">5</a></td>
					</tr>
					<tr>
						<td><a href="" class="day_default">6</a></td>
						<td><a href="" class="day_default">7</a></td>
						<td><a href="" class="day_default day_active">8</a></td>
						<td><a href="" class="day_default">9</a></td>
						<td><a href="" class="day_default">10</a></td>
						<td><a href="" class="day_default">11</a></td>
						<td><a href="" class="day_default">12</a></td>
					</tr>
					<tr>
						<td><a href="" class="day_default">13</a></td>
						<td><a href="" class="day_default">14</a></td>
						<td><a href="" class="day_default">15</a></td>
						<td><a href="" class="day_default">16</a></td>
						<td><a href="" class="day_default">17</a></td>
						<td><a href="" class="day_default">18</a></td>
						<td><a href="" class="day_default">19</a></td>
					</tr>
					<tr>
						<td><a href="" class="day_default">20</a></td>
						<td><a href="" class="day_default">21</a></td>
						<td><a href="" class="day_default">22</a></td>
						<td><a href="" class="day_default">23</a></td>
						<td><a href="" class="day_default">24</a></td>
						<td><a href="" class="day_default">25</a></td>
						<td><a href="" class="day_default">26</a></td>
					</tr>
					<tr>
						<td><a href="" class="day_default">27</a></td>
						<td><a href="" class="day_default">28</a></td>
						<td><a href="" class="day_default">29</a></td>
						<td><span class="day_default day_disabled">30</span></td>
						<td><span class="day_default day_disabled">31</span></td>
						<td><span class="day_default day_disabled">1</span></td>
						<td><span class="day_default day_disabled">2</span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>