<div class="comp_wrap_keypad_call form_key" role="textbox" tabindex="0" title="{{kt}}">
	<div class="pin_area">
		<strong class="ergAt dot_mark"></strong>
		<strong class="ergAt dot_mark"></strong>
		<strong class="ergAt dot_mark"></strong>
		<strong class="ergAt dot_mark"></strong>
		<strong class="ergAt dot_mark"></strong>
		<strong class="ergAt dot_mark"></strong>
		<strong class="ergAt dot_mark"></strong>
		<input type="password" name="" id="" autocomplete="new-password">
	</div>
</div>