{{!-- <button type="button" class="tab_btn active" role="tab" aria-selected="true" aria-controls="tabPanel01" id="tab01">1번 탭</button> --}}
<button type="button" class="tab_btn active" role="tab" aria-selected="true" aria-controls="tabPanel01" id="tab01">1번 탭</button>


{{!-- active --}}
{{!-- true --}}
{{!-- tab01 --}}
