<!doctype html>
<html lang="ko">
	<head>
	{{> layout/head}}
	</head>
	<body {{#if bd-class}} class="{{bd-class}}"{{/if}}{{#if easy}} class="easy_mode"{{/if}}>
			{{> @partial-block }}
			{{#unless no-sp}}
			<!-- 전체메뉴 -->
			{{> layout/search }}
			<!-- 전체메뉴 -->
			{{/unless}}
  </body>
</html>