<!DOCTYPE html>
<html lang="ko">
  {{#> layout/head}}
    {{!-- {{> layout/guide_css}} --}}
    <link rel="stylesheet" href="guide.css" />
  {{/ layout/head }}
  <body>
    <div class="wrap">
      {{> @partial-block }}
    </div>
  </body>
<script>
</script>
</html>