<!DOCTYPE html>
<html lang="ko">
  {{#> layout/head}}
    {{!-- {{> layout/guide_css}} --}}
    <link rel="stylesheet" href="guide.css" />
  {{/ layout/head }}
  <body>
    <div class="guide_wrap">
      <div class="wrap">
        {{> @partial-block }}
      </div>
    </div>
  </body>
<script>
</script>
</html>