<!DOCTYPE html>
<html lang="ko">
	<head>
	{{> layout/head}}
	<link rel="stylesheet" href="guide.css" />
	</head>
  <body>
    <div class="guide_wrap">
      <div class="wrap">
        {{> @partial-block }}
      </div>
    </div>
  </body>
</html>
