<div class="nav_menu_wrap" aria-hidden="true">
	<div class="nav_menu_inner">
		<div class="nav_menu_top">
			<a href="#" class="nmt_btn go_home"><span class="text">홈으로 이동</span></a>
			<button type="button" class="nmt_btn allmenu_close"><span class="text">전체메뉴 닫기</span></button>
		</div>
		<div class="nav_menu_content">

			<!-- s: 로그인 전 -->
			<div class="nmc_top">
				<div class="nmc_top_l">
					<button type="button" class="go_login"><span class="text"><strong>로그인</strong>을 해주세요</span></button>
				</div>
				<div class="nmc_top_r">
					<a href="#" class="mem_btn member_join"><span class="text">회원가입</span></a>
					{{!-- icon_member_join --}}
				</div>
			</div>
			<!-- e: 로그인 전 -->
			
			
			<!-- s: 로그인 후 -->
			<div class="nmc_top">
				<div class="nmc_top_l">
					<span class="login_hello"><strong>현대</strong>님 반갑습니다</span>
				</div>
				<div class="nmc_top_r">
					<button type="button" class="mem_btn member_logout"><span class="text">로그아웃</span></button>
					{{!-- icon_member_logout --}}
				</div>
			</div>
			<!-- e: 로그인 후 -->

			<ul class="nmc_direct_menu">
				<li class="ty1">
					<a href="#"><span class="text">계약조회</span></a>
				</li>
				<li class="ty2">
					<a href="#"><span class="text">계약변경</span></a>
				</li>
				<li class="ty3">
					<a href="#"><span class="text">고장출동</span></a>
				</li>
				<li class="ty4">
					<a href="#"><span class="text">사고접수</span></a>
				</li>
				<li class="ty5">
					<a href="#"><span class="text">보험증명서</span></a>
				</li>
			</ul>


		</div>
	</div>
</div>