<div class="toolbar{{#if active}} {{active}}{{/if}}">
    <a href="javascript:void(0);" class="home" title="페이지 이동">홈</a>
    <a href="javascript:void(0);" class="join" title="페이지 이동">보험가입</a>
    <a href="javascript:void(0);" class="benefit" title="페이지 이동">혜택/서비스</a>
    <a href="javascript:void(0);" class="register" title="페이지 이동">계약/보상</a>

		{{#if cb}}
		<button type="button" class="tb_chatbot">
			<span class="text">챗봇</span>
		</button>
		{{/if}}
</div>
