<div class="input_text">
  <div class="inp">
    <input type="text">
    {{!-- 초기화 버튼 --}}
    {{!-- 달력 호출 버튼 --}}
  </div>
  {{!-- validation --}}
  {{!-- 안내문구 노출 위치
  <p class="test">에러</p>
  <p class="test">성공</p>
  <p class="test">기본문구</p> --}}
  {{!-- validation --}}
</div>