<span class="tooltip_wrap">
	<span class="tooltip_head">
		<button type="button" class="open"><span class="blind">툴팁 열기</span></button>
	</span>
	<span class="tooltip_text" role="tooltip">
		<span class="inner">
			{{> @partial-block }}
		</span>
		<button type="button" class="close"><span class="blind">툴팁 닫기</span></button>
	</span>
</span>